<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="style.css">
  <script src="client.js" defer></script>
</head>
<body>
  <section>
    <div class="product Box-root">
      
      <div class="description Box-root">
        <h3>Subscription plan successful!</h3>
      </div>
    </div>
      <a href="{% url 'creditScoreDashboard' %}">
      <button id="checkout-and-portal-button" type="submit">Return to dashboard</button>
      </a>
  </section>
</body>
</html>