{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landingpage/css/index.css' %}">
    <title>Development and IT | Viking Asset Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-current" style="background-image: url({% static 'landingpage/images/bg_img.png' %} )">
    <!-- Navbar -->
    {% include 'landing_page_nav_bar.html' %}
    <div class="text-white mt-14 ml-16 w-150 ">
        <h1 class="text-2xl mb-6"><b>DIGITAL MARKETING</b></h1>
        <p class="text-md mb-6 font-Poppins">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>  
    <div>
        <p class="text-white font-Jost text-xl flex justify-center mt-14 mb-5"><strong>CHOOSE ONE OUT OF 20 SERVICE CATEGORY WE OFFER</strong></p>
    </div>
    <div class="sm:hidden xl:grid xl:grid-cols-4 xl:mx-40 font-Poppins">
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center><img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16"></center><br>
            <center><h1>Fashion Design</h1></center><br>
            <p class="mb-10 text-center">Content Writing Needs to be done</p>
            <a href="#" class="p-2 mx-10 absolute text-white rounded-lg baseline bg-pricingColor hover:bg-black">See Services</a>
        </div>
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center><img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16"></center><br>
            <center><h1>Fashion Design</h1></center><br>
            <p class="mb-10 text-center">Content Writing Needs to be done</p>
            <a href="#" class="p-2 mx-10 absolute text-white rounded-lg baseline bg-pricingColor hover:bg-black">See Services</a>
        </div>
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center><img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16"></center><br>
            <center><h1>Fashion Design</h1></center><br>
            <p class="mb-10 text-center">Content Writing Needs to be done</p>
            <a href="#" class="p-2 mx-10 absolute text-white rounded-lg baseline bg-pricingColor hover:bg-black">See Services</a>
        </div>
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center><img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16"></center><br>
            <center><h1>Fashion Design</h1></center><br>
            <p class="mb-10 text-center">Content Writing Needs to be done</p>
            <a href="#" class="p-2 mx-10 absolute text-white rounded-lg baseline bg-pricingColor hover:bg-black">See Services</a>
        </div>
    </div><br><br>
    <div class="sm:hidden xl:grid xl:grid-cols-4 xl:mx-40 xl:mb-20 font-Poppins">
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center><img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16"></center><br>
            <center><h1>Fashion Design</h1></center><br>
            <p class="mb-10 text-center">Content Writing Needs to be done</p>
            <a href="#" class="p-2 mx-10 absolute text-white rounded-lg baseline bg-pricingColor hover:bg-black">See Services</a>
        </div>
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center><img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16"></center><br>
            <center><h1>Fashion Design</h1></center><br>
            <p class="mb-10 text-center">Content Writing Needs to be done</p>
            <a href="#" class="p-2 mx-10 absolute text-white rounded-lg baseline bg-pricingColor hover:bg-black">See Services</a>
        </div>
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center><img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16"></center><br>
            <center><h1>Fashion Design</h1></center><br>
            <p class="mb-10 text-center">Content Writing Needs to be done</p>
            <a href="#" class="p-2 mx-10 absolute text-white rounded-lg baseline bg-pricingColor hover:bg-black">See Services</a>
        </div>
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center><img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16"></center><br>
            <center><h1>Fashion Design</h1></center><br>
            <p class="mb-10 text-center">Content Writing Needs to be done</p>
            <a href="#" class="p-2 mx-10 absolute text-white rounded-lg baseline bg-pricingColor hover:bg-black">See Services</a>
        </div>
    </div>
    {% include 'landing_page_footer.html' %}
    </body>
</html>