<style type="text/css">
	.add_new_password_btn{
		background: linear-gradient(90.97deg, rgba(26, 47, 238, 0.85) 0%, rgba(196, 26, 238, 0.85) 99.67%);
		border-radius: 10px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 22px;
		color: #FFFFFF;
		height: 34px;
		width: 100px;
	}
	.share_password_management_btn{
		box-sizing: border-box;
		width: 99px;
		height: 32px;
		border: 1px solid #1B47EA;
		border-radius: 10px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 22px;
		color: #2030B9;
	}
	.text-right{
		text-align: right;
	}
	
</style>

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-9">
		<div class="row">
			<div class="col-sm-12">
				<span class="edit_profile_text">Your Passwords</span>
			</div>
			<div class="col-sm-4">
				<button class="add_new_password_btn" data-bs-toggle="modal" data-bs-target="#add_new_password">+ Add new</button>
				<button class="share_password_management_btn">Share</button>
			</div>
			<div class="col-sm-8"></div>
		</div>
		<br/><br/>
		<div class="row">

			<table class="table">
				<thead>
					<th>Name</th>
					<th>Category</th>
					<th>Last Used</th>
					<th>filter</th>
				</thead>
				<tbody>
					{% for profile_password in profile_passwords %}
						<tr>
							<td>{{ profile_password.name }}</td>
							<td>No Category</td>
							<td>dunno</td>
							<td><button class="form-control" attr_id="{{ profile_password.pk }}" onclick="editPasswordManagement(this)">Edit</button></td>
						</tr>
					{% empty %}
						<tr>
							<td colspan="4">No Save passwords</td>
						</tr>
					{% endfor%}
				</tbody>
			</table>

		</div>
		
	</div>
</div>

<div class="modal fade" id="add_new_password" tabindex="-1" aria-labelledby="add_new_passwordLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="add_new_passwordLabel">Add new</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      		</div>
      		<div class="modal-body">
        		<form id="add_new_password_form">
        			<div class="alert alert-secondary" id="new_password_error" style="display:none;" role="alert"></div>
        			<div class="alert alert-info" id="new_password_info_msg" style="display:none;" role="alert"></div>
        			<div class="alert alert-success" id="new_password_success_msg" style="display:none;" role="alert"></div>
        			<div class="form-group row">
   						<label for="forcategory" class="col-sm-4 col-form-label text-right" >Category</label>
    					<div class="col-sm-8">
    						<select class="form-control" id="password_category">
    							<option value=0>Select Category</option>
    						</select>
    					</div>
  					</div>
  					<div class="form-group row">
   						<label for="forpasswordname" class="col-sm-4 col-form-label text-right" >Name*</label>
    					<div class="col-sm-8">
    						<input type="text" class="form-control" name="password_name" id="password_name" value="" placeholder="name">
    					</div>
  					</div>
  					<div class="form-group row">
   						<label for="forpasswordusername" class="col-sm-4 col-form-label text-right">Username/Email*</label>
    					<div class="col-sm-8">
    						<input type="text" class="form-control" name="password_username" id="password_username" value="" placeholder="username/email">
    					</div>
  					</div>
  					<div class="form-group row">
   						<label for="forPassword" class="col-sm-4 col-form-label text-right">Password*</label>
    					<div class="col-sm-8">
    						<input type="password" class="form-control" name="new_password_management" id="new_password_management" value="" placeholder="Password">
    					</div>
  					</div>
  					<div class="form-group row">
   						<label for="forPassword" class="col-sm-4 col-form-label text-right">URL*</label>
    					<div class="col-sm-8">
    						<input type="text" class="form-control" name="password_url" id="password_url" value="" placeholder="login url">
    					</div>
  					</div>
  					<div class="form-group row">
   						<label for="forPassword" class="col-sm-4 col-form-label text-right">Description</label>
    					<div class="col-sm-8">
    						<input type="text" class="form-control" name="new_password_description" id="new_password_description" value="" placeholder="Description">
    					</div>
  					</div>
        		</form>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-primary" onclick="saveNewPassword()">Save</button>
        		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      		</div>
    	</div>
  	</div>
</div>