{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile | Settings</title>
    <link rel="stylesheet" href="{% static 'portal/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/style_v1.css' %}">
    <link rel="stylesheet" href="{% static 'tailwinds/output.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'portal/images/logo_v.png' %}">

    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome_5_13.min.css' %}">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    

        
</head>


<body>
    <!-- Sidebar Panel -->
    <div class="overlay hidden" onclick="toggleOverlayInvoice()" id="overlay_id"></div>
    <div class="flex">
    	{% include 'sidebar.html' with active_page='sidebar_Settings' %}
        <!-- Settings Sidebar -->
        {% include 'setting_sub_menu.html' with active_page='invoice' %}
        {% include 'portal_secondary_nav_bar.html' %}

        
        <div class="mt-32 xl:mt-10 xxl:mt-32 bxl:mt-16 xl_4k:mt-72 xl_4k:ml-40 ml-5 flex">
            <div>
                <h1 class="text-4xl xl:text-2xl xxl:text-3xl xl_4k:text-7xl font-bold font-Poppins text-editProfile"><b>Invoices</b></h1>
                <p class="font-Poppins text-gray-500 text-sm bxl:text-2base xl_4k:text-4xl xl_4k:w-240 xl:w-180 font-medium">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                    Velit officia consequat duis enim velit mollit. 
                    Exercitation veniam consequat sunt nostrud amet.</p>

                <div class="w-full xxl:ml-52 xxl:mt-10">
                   
                    <!-- remove table__body -->

                <div class=" overflow-auto xl:h-110 bxl:h-130 xl_4k:h-220 xl_4k:ml-0">
                    <table class="table-auto xl:mt-5 xl:w-170 xl_4k:mt-20 xl_4k:w-500 xl_4k:ml-0 xl:mx-20 bxl:ml-32">
                        <thead class="thead_bg bg-gray-200 xl:h-8 ">
                            <tr class="text-sm bxl:text-2base xl_4k:text-4xl text-gray-500 xl_4k:w-full">
                                <th class="font-Poppins xl_4k:p-6">Invoice ID</th>
                                <th class="font-Poppins">Purchase Date</th>
                                <th class="font-Poppins">Item Purchased</th>
                                <th class="font-Poppins">Invoice Amount</th>
                            </tr>
                        </thead>
                        <tbody class="text-2base text-invCol font-Lato xl_4k:text-3xl">
                            {% for invoice_detail in list_of_invoice %}
                                <tr class="inv_tr border-b-1 border-gray-300">
                                    <td class="font-Lato font-semibold">
                                        <button onclick="InvoiceDetails(this)" invoice_id="{{ invoice_detail.pk }}">#{{ invoice_detail.pk }}</button>
                                    </td>
                                    <td class="font-Lato font-semibold xl_4k:text-3xl">{{ invoice_detail.create_date|date:'M d, Y' }}</td>
                                    <td class="font-Lato font-semibold xl_4k:text-3xl">{{ invoice_detail.product_description }}</td>
                                    <td class="font-Lato font-semibold xl_4k:text-3xl">${{ invoice_detail.amount }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td rowspan="4" class="xl_4k:text-4xl font-Poppins">No Invoices</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

     
        </div>
    </div>
    </div>


    <div id="popup-view-invoice" class="popup bg-gray-50 xl:w-135 xl:h-110 flex-col absolute z-10 xl:p-6">
        <div class="flex justify-between">
            <h1 class="font-Poppins text-xl font-bold text-purple-900 invoiceModalHeader xl_4k:text-4xl">INVOICE No. ###</h1>
            <button onclick="toggleCancelInvoice()" class="fa fa-times-circle text-purple-900 text-xl xl:-mt-10 " aria-hidden="true"></button>
        </div>
        <div>
            <table class=" xl:mt-5 xl:w-120">
                
                <tbody class="inv_popup text-2base font-Lato ">
              
                  <tr class="inv_tr border-b-1 border-gray-300 ">
                        <td class="font-Lato font-semibold text-purple-900 xl_4k:text-4xl">Date</td>
                        <td class="font-Lato purchase_date xl_4k:text-2xl">November 8, 2022</td>
                  </tr>
                  <tr class="inv_tr border-b-1 border-gray-300">
                        <td class="font-Lato font-semibold text-purple-900 xl_4k:text-4xl">Payment Method</td>
                        <td class="font-Lato payment_method xl_4k:text-2xl">Card (#### #### #### 1234)</td>
                  </tr>
                  <tr class="inv_tr border-b-1 border-gray-300">
                        <td class="font-Lato font-semibold text-purple-900 xl_4k:text-4xl">Customer Number</td>
                        <td class="font-Lato customer_id xl_4k:text-2xl">0081</td>
                  </tr>
                  <tr class="inv_tr border-b-1 border-gray-300">
                        <td class="font-Lato font-semibold text-purple-900 xl_4k:text-4xl">Address</td>
                        <td class="font-Lato customer_address xl_4k:text-2xl">123 Anywhere St., Any City, ST 12345</td>
                  </tr>
                  <tr class="inv_tr border-b-1 border-gray-300">
                        <td class="font-Lato font-semibold text-purple-900 xl_4k:text-4xl">Product</td>
                        <td class="font-Lato invoice_product xl_4k:text-2xl">Credits Bundle A</td>
                  </tr>
                  <tr class="inv_tr border-b-1 border-gray-300">
                        <td class="font-Lato font-semibold text-purple-900 xl_4k:text-4xl">Quantity</td>
                        <td class="font-Lato invoice_quantity xl_4k:text-2xl">1</td>
                  </tr>
                  <tr class="inv_tr border-b-1 border-gray-300">
                    <td class="font-Lato font-semibold text-purple-900 xl_4k:text-4xl">Breakdown</td>
                    <td class="font-Lato invoice_description xl_4k:text-2xl">Credits Bundle A - 150 Credits</td>
                  </tr>
                  <tr class="inv_tr border-b-1 border-gray-300">
                        <td class="font-Lato font-semibold text-purple-900 xl_4k:text-4xl">Total Tax</td>
                        <td class="font-Lato invoice_tax xl_4k:text-2xl">$0</td>
                  </tr>
                  <tr class="inv_tr border-b-1 border-gray-300">
                        <td class="font-Lato font-semibold text-purple-900 xl_4k:text-4xl">Total</td>
                        <td class="font-Lato invoice_total xl_4k:text-2xl">$1000</td>
                  </tr>
                  
                </tbody>
            </table>
            <div class="flex flex-col xl:mt-2">
                <a href="#" class=" font-Lato text-gray-400 text-2base"><u>Terms and Conditions</u></a>
                <a href="#" class=" font-Lato text-gray-400 text-2base"><u>Print Invoice</u></a>
            </div>
        </div>
    </div>
    
   
   <!-- togglePopupInvoice -->
    <script src="{% static 'portal/js/uploadImg.js' %}"></script>
    <script src="{% static 'portal/js/enableBtn.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/js/jquery_3.7.0.js' %}"></script>
    <script type="text/javascript">
        function InvoiceDetails(that){
            var invoiceId = $(that).attr("invoice_id");
            $.ajax({
                type: "POST",
                url: "{% url 'invoiceDetailsGetById' %}",
                data: {
                        "csrfmiddlewaretoken": '{{ csrf_token }}',
                        "invoiceId": invoiceId,
                    },
                async:true,
                success: function (data) {
                    $(".purchase_date").empty();
                    $(".payment_method").empty();
                    $(".customer_id").empty();
                    $(".customer_address").empty();
                    $(".invoice_product").empty();
                    $(".invoice_quantity").empty();
                    $(".invoice_description").empty();
                    $(".invoice_tax").empty();
                    $(".invoice_total").empty();

                    $(".purchase_date").append(data.purchase_date);
                    $(".payment_method").append(data.payment_method);
                    $(".customer_id").append(data.customer_number);
                    $(".customer_address").append(data.customer_address);
                    $(".invoice_product").append(data.product_name);
                    $(".invoice_quantity").append(data.product_qty);
                    $(".invoice_description").append(data.product_desc);
                    $(".invoice_tax").append("$"+data.product_tax);
                    $(".invoice_total").append("$"+data.product_total);

                    togglePopupInvoice();

                },
                error: function (e) {
                    console.log(e)
                }
            })
    }
    </script>
</body>
</html>