{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Password Management</title>
    <link rel="stylesheet" href="{% static 'portal/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/style_v1.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome_5_13.min.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>

	
</head>
<body>
	<div class="overlay hidden" onclick="toggleOverlayPwMngr()" id="overlay_id"></div>
    <div class="flex">  
        {% include 'sidebar.html' %}
        <!-- Settings Sidebar -->
        <div class="flex">
            <nav class="w-52 xl:ml-0 xl:w-44 bxl:w-52 h-auto ml-22 bg-gray-200 flex justify-center text-lg">
                <ul>
                    <li>
                        <center><p href="#" class="text-2xl bxl:text-xl bxl:mt-12 xl:text-lg mt-5 font-Lato font-bold">Settings</p></center> 
                    </li>
                    <div class="mt-20 flex-row space-y-8 xl:text-2base">
                        <li>
                            <span class="fas fa-pencil-alt mr-2 text-transparent bg-clip-text bg-gradient-to-r from-textGrad1 to-textGrad2 bxl:text-base"></span>
                            <a href="{% url 'portalSettingPage' %}" class="bxl:text-base font-Lato text-transparent bg-clip-text bg-gradient-to-r from-textGrad1 to-textGrad2">Edit Profile</a>  
                        </li>
                        <li>
                            <span class="fas fa-lock mr-2 bxl:text-base"></span>
                            <a href="{% url 'SettingPasswordPage' %}" class="font-Lato bxl:text-base">Password</a>    
                        </li>
                        <li>
                            <span class="fas fa-file-invoice-dollar mr-3 bxl:text-base"></span>
                            <a href="{% url 'SettingInvoicePage' %}" class="font-Lato bxl:text-base">Invoices</a>    
                        </li>
                        <li>
                            <span class="fas fa-key mr-1 bxl:text-base"></span>
                            <a href="{% url 'SettingPasswordManagementPage' %}" class="font-Lato bxl:text-base">Password Manager</a>    
                        </li>
                        <li>
                            <span class="fas fa-question-circle mr-1 bxl:text-base"></span>
                            <a href="{% url 'SettingFaqsPage' %}" class="font-Lato bxl:text-base">FAQs</a>    
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
        
        <div class="">
            <nav class="bg-whiteSmoke text-white flex absolute right-0 justify-between items-center ml-0 m-8 h-20 xl:h-12 z-0 px-10 xl:px-0 mt-0 bxl:mt-2 xxl:mt-3">
                <ul class="flex items-center text-sm  text-gray-600">
                    <li class="flex items-center justify-center">
                        <a class="fas fa-search text-lg" href="#"></a>
                        <form action="">
                            <div class="h-10 flex items-center space-x-5 w-52">
                                <input class="w-full font-Poppins bxl:text-base bg-whiteSmoke text-black xl:py-1 xl:text-sm xxl:text-lg outline-0 py-4 px-5 text-lg" type="text" placeholder="Search">
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="flex items-center text-sm text-gray-600">
                    <div class="flex items-center justify-center space-x-5">
                        <li>
                            <a class="fas fa-bell text-lg ml-6 " href="#"></a>
                        </li>
                        <div class="flex items-center justify-center">
                            <li>
                                <a href="#">
                                    <img src="{% static 'portal/images/faqs/dawg.jpg' %}" class="object-scale-down h-10 w-20 rounded-full" > 
                                </a>
                            </li>
                            <li class="text-lg xl:text-sm xxl:text-lg">
                                <p class="font-Jost">John Doe</p>
                            </li>
                        </div>
                        <li class="">
                            <a class="fas fa-chevron-down text-lg ml-3" href="#"></a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>

        <div class="mt-32 xl:mt-10 ml-5 xxl:mt-32 bxl:mt-16 overflow-hidden">
            <div>
                <h1 class="text-4xl xl:text-2xl font-bold font-Poppins text-editProfile"><b>Your Passwords</b></h1>
                <div class="flex xl:space-x-4  xl:mt-2">
                    <a class="text-center font-Poppins xl:p-1 rounded-lg  cursor-pointer bxl:text-2base xl:text-xsm xl:w-20 bxl:w-25 text-white bg-gradient-to-r from-linearButton1 via-linearButton2 to-purple-500">
                        <i class="fas fa-plus xl:mr-1 "></i>Add New</a>
                    <a class="text-center cursor-pointer font-Poppins text-xvs bxl:text-2base border-1 border-gray-800 xl:p-1 rounded-lg xl:w-20">
                        <i class="fas fa-share xl:mr-1"></i>Share</a>
               </div>
            </div>
            <div class="w-full xxl:ml-52 xxl:mt-10">
                <div class="xl:h-105 overflow-y-auto">
                    <table class="xl:mt-5 xl:w-200 bxl:ml-14">
                        <thead class="xl:h-8">
                            <tr class="text-sm  text-gray-500">
                                <th class="font-Poppins text-start">Name</th>
                                <th class="font-Poppins">Category</th>
                                <th class="font-Poppins">Last Used</th>
                                <th class="font-Poppins">
                                    <div>
                                        <li onclick="openNavSettings()" id="closeNav" class="cursor-pointer fas fa-sort-amount-up-alt text-lg"> </li>
                                        <ul id="navSettings" class="hidden absolute border-1 rounded-xl shadow-lg border-gray-500 xl:p-2 xl:right-16 xl:top-44">
                                            <p class="font-Poppins text-start text-sm text-purple-900">Sort by</p>
                                            <li><a  href="#" class="font-Poppins xl:text-sm hover:bg-gray-300 duration-300 xl:pr-10">Account</a></li>
                                            <li><a  href="#" class="font-Poppins xl:text-sm hover:bg-gray-300 duration-300 xl:pr-10">Settings</a></li>
                                            <li><a  href="#" class="font-Poppins xl:text-sm hover:bg-gray-300 duration-300 xl:pr-10">Logout</a></li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-2base text-invCol font-Lato">
                            <tr class="inv_tr border-b-1 border-gray-300">
                                <td class="font-Lato w-20 xl:space-x-2">
                                    <div class="flex items-center justify-start xl:space-x-3">
                                        <div class="text-start">
                                            <i class="fab fa-facebook-f xl:text-xl"></i>
                                        </div>
                                        <div>
                                            <p class="font-Poppins  text-start font-semibold text-sm">facebook.com</p>
                                            <p class="font-Poppins text-start text-sm text-gray-500">username@facebook.com</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="font-Lato font-semibold">Social Media</td>
                                <td class="font-Lato font-semibold">7 Days Ago</td>
                                <td class="font-Lato font-semibold"><button onclick="togglePwMngr()" class="fas fa-pencil-alt"></button></td> 
                            </tr>
                            <tr class="inv_tr border-b-1 border-gray-300">
                                <td class="font-Lato w-20 xl:space-x-2">
                                    <div class="flex items-center justify-start xl:space-x-3">
                                        <div class="text-start">
                                            <i class="fab fa-facebook-f xl:text-xl"></i>
                                        </div>
                                        <div>
                                            <p class="font-Poppins  text-start font-semibold text-sm">facebook.com</p>
                                            <p class="font-Poppins text-start text-sm text-gray-500">username@facebook.com</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="font-Lato font-semibold">Social Media</td>
                                <td class="font-Lato font-semibold">7 Days Ago</td>
                                <td class="font-Lato font-semibold"><button onclick="togglePwMngr()" class="fas fa-pencil-alt"></button></td> 
                            </tr>
                            <tr class="inv_tr border-b-1 border-gray-300">
                                <td class="font-Lato w-20 xl:space-x-2">
                                    <div class="flex items-center justify-start xl:space-x-3">
                                        <div class="text-start">
                                            <i class="fab fa-facebook-f xl:text-xl"></i>
                                        </div>
                                        <div>
                                            <p class="font-Poppins  text-start font-semibold text-sm">facebook.com</p>
                                            <p class="font-Poppins text-start text-sm text-gray-500">username@facebook.com</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="font-Lato font-semibold">Social Media</td>
                                <td class="font-Lato font-semibold">7 Days Ago</td>
                                <td class="font-Lato font-semibold"><button onclick="togglePwMngr()" class="fas fa-pencil-alt"></button></td> 
                            </tr>
                            <tr class="inv_tr border-b-1 border-gray-300">
                                <td class="font-Lato w-20 xl:space-x-2">
                                    <div class="flex items-center justify-start xl:space-x-3">
                                        <div class="text-start">
                                            <i class="fab fa-facebook-f xl:text-xl"></i>
                                        </div>
                                        <div>
                                            <p class="font-Poppins  text-start font-semibold text-sm">facebook.com</p>
                                            <p class="font-Poppins text-start text-sm text-gray-500">username@facebook.com</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="font-Lato font-semibold">Social Media</td>
                                <td class="font-Lato font-semibold">7 Days Ago</td>
                                <td class="font-Lato font-semibold"><button onclick="togglePwMngr()" class="fas fa-pencil-alt"></button></td> 
                            </tr>
                            <tr class="inv_tr border-b-1 border-gray-300">
                                <td class="font-Lato w-20 xl:space-x-2">
                                    <div class="flex items-center justify-start xl:space-x-3">
                                        <div class="text-start">
                                            <i class="fab fa-facebook-f xl:text-xl"></i>
                                        </div>
                                        <div>
                                            <p class="font-Poppins  text-start font-semibold text-sm">facebook.com</p>
                                            <p class="font-Poppins text-start text-sm text-gray-500">username@facebook.com</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="font-Lato font-semibold">Social Media</td>
                                <td class="font-Lato font-semibold">7 Days Ago</td>
                                <td class="font-Lato font-semibold"><button onclick="togglePwMngr()" class="fas fa-pencil-alt"></button></td> 
                            </tr>     
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="popup-pw-mngr" class="popup bg-gray-50 xl:w-110 xl:h-110 absolute z-10 xl:p-6">
        <div class="flex justify-between">
            <h1 class="font-Poppins text-xl font-bold text-purple-900">Edit Password</h1>
            <button onclick="toggleCloseEditPw()" class="fa fa-times-circle text-purple-900 text-xl xl:-mt-10 " aria-hidden="true"></button>
        </div>
        <div>
            <table class=" xl:mt-5 ">
                <tbody class="inv_popup   text-2base font-Lato w-full">
                    <tr class="flex flex-col xl:px-5 xl:space-y-6 ">
                        <td class="xl:space-x-14">
                            <label class="font-Lato font-semibold">Name</label>
                            <input type="text" class="font-Poppins xl:text-xsm xl:w-44 border border-b-gray-600">
                        </td>

                        <td class="xl:space-x-8">
                            <label class="font-Lato font-semibold">Category</label>
                            <input type="text" class="font-Poppins xl:text-xsm xl:w-44 border border-b-gray-600">
                        </td>

                        <td class="xl:space-x-7">
                            <label class="font-Lato font-semibold">Username</label>
                            <input type="text" class="font-Poppins xl:text-xsm xl:w-44 border border-b-gray-600">
                        </td> 

                        <td class="xl:space-x-8">
                            <label class="font-Lato font-semibold ">Password</label>
                            <input type="password" class="font-Poppins xl:text-xsm xl:w-44 border border-b-gray-600">
                        </td>   

                        <td class="xl:space-x-16">
                            <label class="font-Lato font-semibold">URL</label>
                            <input type="text" class="font-Poppins xl:text-xsm xl:w-44 border border-b-gray-600">
                        </td>

                        <td class="xl:space-x-5">
                            <label class="font-Lato font-semibold">Description</label>
                            <input type="text" class="font-Poppins xl:text-xsm xl:w-60 xl:h-10 border border-b-gray-600">
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <button type="button" class="text-center font-Poppins xl:p-1 rounded-lg  cursor-pointer xl:mt-5 xl:text-xsm xl:w-20  text-white bg-gradient-to-r from-linearButton1 via-linearButton2 to-purple-500">Save</button>
    </div>
    <script src="{% static 'portal/js/uploadImg.js' %}"></script>
    <script src="{% static 'portal/js/enableBtn.js' %}"></script>
    <!-- return when finish on the deisgn flow. -->
	<script type="text/javascript">
		function saveNewPassword(){
			var name = $("#password_name").val();
			var category = $("#password_category").val();
			var username =  $("#password_username").val();
			var password = $("#new_password_management").val();
			var url = $("#password_url").val();
			var description = $("#new_password_description").val();

			$("#new_password_error").empty();
			$("#new_password_error").hide();
			if(inputCheckIfNotEmpty("password_name", "Password Name", "new_password_error") != true){ return false; }
			if(inputCheckIfNotEmpty("password_username", "Username / Email", "new_password_error") != true){ return false;}
			if(inputCheckIfNotEmpty("new_password_management", "Password", "new_password_error") != true){ return false;}
			if(inputCheckIfNotEmpty("password_url", "Url", "new_password_error") != true){return false;}
			$("#new_password_info_msg").show();
			$("#new_password_info_msg").append("Process request. . .");
			dataVal = {
				"csrfmiddlewaretoken": '{{ csrf_token }}',
		        "userId": '{{ request.user.id }}',
		        "category": category,
		        "password_name":name ,
		        "username": username,
		        "password": password,
		        "url": url,
		        "description": description,
			}
			$.ajax({
		        type: "POST",
		        url: "{% url 'profileNewPassword' %}",
		        data: dataVal,
		        async:true,
		        success: function (data) {
		        	$("#new_password_info_msg").hide();
		            if(data.status == 1){
		            	$("#new_password_success_msg").show();
		            	$("#new_password_success_msg").append(data.success_msg);
		            	location.reload(true);
		            }else{
		            	$("#new_password_error").append(data.error_msg);
		            	$("#new_password_error").show();
		            }
		        },
		        error: function (e) {
		            $("#new_password_error").append("Error! please try again later.");
		        }
		    })
		}

		function UpdatePasswordManagement(){
			$("#edit_password_info_msg").empty();
			$("#edit_password_info_msg").append("Updating . . .");
			$("#edit_password_info_msg").show();
			$("#edit_password_error").hide();
			$("#edit_password_success_msg").hide();
			var password_management_id = $("#edit_password_management_id").val();
			var password_name = $("#edit_password_name").val();
			var password_username = $("#edit_password_username").val();
			var password_management_password = $("#edit_password_management").val();
			var password_url = $("#edit_password_url").val();
			var password_description = $("#edit_password_description").val();
			var password_category = $("#edit_password_category").val();
			$.ajax({
		        type: "POST",
		        url: "{% url 'ProfileUpdatePassword' %}",
		        data: {
		        	"csrfmiddlewaretoken": '{{ csrf_token }}',
		        	"password_management_id":password_management_id,
		        	"name": password_name,
		        	"username": password_username,
		        	"password":password_management_password,
		        	"url":password_url,
		        	"description":password_description,
		        	"category": password_category,
		        },
		        async:true,
		        success: function (data) {
		        	$("#edit_password_info_msg").hide();
		        	if(data.status_code == 1){
		        		$("#edit_password_success_msg").empty();
		        		$("#edit_password_success_msg").append(data.status_msg);
		        		$("#edit_password_success_msg").show();
		        		$("#edit_password_success_msg").hide(2000);
		        	}else{
		        		$("#edit_password_error").empty();
		        		$("#edit_password_error").append(data.status_msg);
		        		$("#edit_password_error").show();
		        		$("#edit_password_error").hide(2000);
		        	}
		        },
		        error: function (e) {
		        	$("#edit_password_info_msg").hide();
		            $("#edit_password_error").empty();
		    		$("#edit_password_error").append("Error on updating!");
		    		$("#edit_password_error").show();
		    		$("#edit_password_error").hide(2000);
		        }
		    })
		}

		function inputCheckIfNotEmpty(field_id, field_name, error_holder_field_name){
			var value = $("#"+field_id).val();
			if(value.length == 0){
				$("#"+field_id).focus();
				$("#"+error_holder_field_name).append(field_name+" Should not be empty!")
				$("#"+error_holder_field_name).show();
				return false;
			}else{
				return true;
			}
		}

		function editPasswordManagement(that){
			// clear form
			$("#edit_password_management_id").val(0);
			$("#edit_password_name").val("");
			$("#edit_password_username").val("");
			$("#edit_password_management").val("");
			$("#edit_password_url").val("");
			$("#edit_password_description").val("");
			$("#edit_password_category").val(0);
			var password_management_id = $(that).attr("attr_id");
			$("#edit_password_info_msg").empty();
			$("#edit_password_info_msg").append("Fetching data . . .");
			$("#edit_password_info_msg").show();
			$.ajax({
		        type: "POST",
		        url: "{% url 'ProfileNewPasswordGetById' %}",
		        data: {
		        	"csrfmiddlewaretoken": '{{ csrf_token }}',
		        	"password_management_id":password_management_id,
		        },
		        async:true,
		        success: function (data) {
		        	$("#edit_password_info_msg").hide();
		        	$("#edit_password_name").val(data.name);
		        	$("#edit_password_username").val(data.username)
		        	$("#edit_password_management").val(data.password)
		        	$("#edit_password_url").val(data.url)
		        	$("#edit_password_description").val(data.description)
		        	$("#edit_password_management_id").val(password_management_id)
		        	$("#edit_password_category").val(data.category)
		        	$("#edit_password_info_msg").hide();
		        },
		        error: function (e) {
		        	$("#edit_password_info_msg").hide();
		            $("#edit_password_error").empty();
		    		$("#edit_password_error").append("Error on Fetching!");
		    		$("#edit_password_error").show();
		        }
		    })
		}
	</script>
</body>
</html>