{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Edit Profile</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link rel="stylesheet" href="{% static 'portal/css/style.css' %}">
	<link rel='stylesheet' id='icos-fonts-css' href='https://fonts.googleapis.com/css?family=Nunito%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i%7CPoppins%3A100%2C100i%2C200%2C200i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i%7CRoboto%3A300%2C400%2C600&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
	<style type="text/css">
		.form-group label{
			font-size: 15px;
		}
		.form-group input{
			font-size: 12px;
		}
		.form-group select{
			font-size: 12px;
		}
		.form-group{
			margin: 0px 0px 7px;
		}

		.profile_save_btn{
			position: absolute;
			background: linear-gradient(90.97deg, rgba(26, 47, 238, 0.85) 0%, rgba(196, 26, 238, 0.85) 99.67%);
			border-radius: 13px;
			width: 80%;
		}

		.password_save_btn{
			position: absolute;
			background: linear-gradient(90.97deg, rgba(26, 47, 238, 0.85) 0%, rgba(196, 26, 238, 0.85) 99.67%);
			border-radius: 13px;
			width: 80%;
		}
		.profile_cancel_btn{
			position: absolute;
			border-radius: 13px;
			width: 80%;
		}

		.wrapper-2{
			display: block;
    		z-index: 5;
    		position: relative;
		}

		.current_password {
			border: 1px solid #9A9797;
			border-radius: 13px;
			
		}
		.password_setting_label{
			font-family: 'Poppins';
			font-weight: 700;
		}
		.setting_sidebar-2_header{
			font-family: 'Poppins';
			font-weight: 700;
			color: #21055B;
			font-size: 20px;
			margin-left: 20%;
			padding-bottom: 5%;
		}

		.sidebar-2_active{
			color: #311B92;
		}

		.sidebar-2_nonactive{
			color: #585858;
		}
		.slider-2{
			margin-left: -8%;
		}
	</style>
</head>
<body style="background-color: #F5F6FA;">

<div class="wrapper d-flex">
	{% include 'sidebar.html' %}
</div>
<div class="container" >
	<div class="row">
		<div class="col-sm-2">
			<div class="wrapper-2 d-flex">
				<div class="sidebar-2">
					<span class="setting_sidebar-2_header">Settings</span>
					<ul style="margin-top: 40%;">
					<li><a href="#profile_setting" id="profile_setting" onclick="chooseSidebar2(this);" wrapper="profile_edit_wrapper" class="sidebar-2_active"><i class="far fa-edit"></i>Profile</a></li>
					<li><a href="#profile_password" id="profile_password" onclick="chooseSidebar2(this);" wrapper="password_change_wrapper" class="sidebar-2_nonactive"><i class="fas fa-users"></i>Password</a></li>
					<li><a href="#" id="profile_invoice" onclick="chooseSidebar2(this);" wrapper="" class="sidebar-2_nonactive"><i class="fas fa-users" ></i>Invoices</a></li>
					<li><a href="#profile_manager" id="profile_manager" onclick="chooseSidebar2(this);" wrapper="password_management_wrapper" class="sidebar-2_nonactive" ><i class="fas fa-users"></i>Password Manager</a></li>
					<li><a href="#" id="profile_faqs" onclick="chooseSidebar2(this);" wrapper="" class="sidebar-2_nonactive"><i class="fas fa-users"></i>FAQS</a></li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
	<div id="profile_edit_wrapper" >
		{% include 'sub_menu/profile_edit.html' %}
	</div>
	<div id="password_change_wrapper" style="display:none;">
		{% include 'sub_menu/reset_password_form.html' %}
	</div>

	<div id="password_management_wrapper" style="display:none;">
		{% include 'sub_menu/password_management.html' %}
	</div>

</div>
<input type="hidden" name="site_url" id="site_url" value="{{ site_url }}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'portal/js/password_management.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		page_current_open()
	})

	function page_current_open(){
		var url = $(location). attr("href");
		var urlsplit = url.split("#")
		var side_bar2_array = ["profile_setting", "profile_password", "profile_manager", "profile_invoice", "profile_faqs"];
		if (urlsplit.length > 1){
			$.each(side_bar2_array, function(index, value){
				var wrapper = $("#"+value).attr("wrapper");
				if( urlsplit[1] == value){
					$("#"+wrapper).show();
					$("#"+value).addClass("sidebar-2_active").removeClass("sidebar-2_nonactive");
				}else{
					$("#"+wrapper).hide();
					if($("#"+value).attr("class") == "sidebar-2_nonactive"){
					}else{
						$("#"+value).addClass("sidebar-2_nonactive").removeClass("sidebar-2_active");
					}
				}
			})
		}
	}

	function chooseSidebar2(that){
		var side_bar2_array = ["profile_setting", "profile_password", "profile_manager", "profile_invoice", "profile_faqs"];
		$.each(side_bar2_array, function(index, value){
			var wrapper = $("#"+value).attr("wrapper");
			if( $(that).attr("id") == value){
				$("#"+wrapper).show();
				$("#"+value).addClass("sidebar-2_active").removeClass("sidebar-2_nonactive");
			}else{
				$("#"+wrapper).hide();
				if($("#"+value).attr("class") == "sidebar-2_nonactive"){
				}else{
					$("#"+value).addClass("sidebar-2_nonactive").removeClass("sidebar-2_active");
				}
			}
		})
	}

	function password_change_save_btn(){
		var sent_otp = $("#sent_otp").val();
		var otp = $("#OTP").val();
		var site_url = $("#site_url").val();
		$(".otp_warning_label").empty();
		$("#error_msg").empty();
		$("#error_msg").hide();
		$("#success_msg").empty();
		$("#success_msg").hide();
		if(sent_otp != 0){
			if (otp.length == 6){
				$.ajax({
			        type: "POST",
			        url: "{% url 'changePassword' %}",
			        data: {
			        		"csrfmiddlewaretoken": '{{ csrf_token }}',
			        		"userId": '{{ request.user.id }}',
			        		"new_password": $("#new_password").val(),
			        		"otp": otp,
			    		},
			        async:true,
			        success: function (data) {
			        	if(data.success != ""){
			        		$("#success_msg").append(data.success);
			            	$("#success_msg").show();
			            	window.location.replace(site_url+"{% url 'accountLogin' %}")
			        	}else{
			        		if(data.error_msg != ""){
			        			$("#error_msg").append(data.error_msg)
								$("#error_msg").show();
			        		}
			        	}
			            
			            
			        },
			        error: function (e) {
			            $("#error_msg").append("Error! please try again later.");
			        }
			    })
			}else{
				$("#error_msg").append("Invalid otp!")
				$("#error_msg").show();
				return false;
			}
		}else{
			var new_password = $("#new_password").val();
			var confirm_password = $("#confirm_password").val();
			var password_valid = validatePassword(new_password)
			if(password_valid && new_password != ""){
				if(new_password == confirm_password){
					$.ajax({
				        type: "POST",
				        url: "{% url 'passwordResetOtp' %}",
				        data: {
				        		"csrfmiddlewaretoken": '{{ csrf_token }}',
				        		"userId": '{{ request.user.id }}',
				        		"current_password": $("#current_password").val(),
				        		"new_password": $("#new_password").val(),
				    		},
				        async:true,
				        success: function (data) {
				            $("#success_msg").append(data.status);
				            $("#success_msg").show();
				            $("#sent_otp").val(1);
				        },
				        error: function (e) {
				            $("#error_msg").append("Error! please try again later.");
				            $("#error_msg").show();
				        }
				    })
				}else{
					$("#error_msg").append("Your password does not match!");
					$("#error_msg").show();
	                return false;
				}
			}
		}
	}

	function validatePassword(password) {
            var spChars = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
            var capital_letter = /[A-Z]+/;
            if (password.length < 8) {
                $("#error_msg").append("Your password must be at least 8 characters");
                $("#error_msg").show();
                return false;
            }
            if (password.search(/[a-z]/i) < 0) {
                $("#error_msg").append("Your password must contain at least one letter.");
                $("#error_msg").show();
                return false;
            }
            if (capital_letter.test(password) == false) {
                $("#error_msg").append("Your password must contain at least one capital letter.");
                $("#error_msg").show();
                return false;
            }
            if (password.search(/[0-9]/) < 0) {
                $("#error_msg").append("Your password must contain at least one digit."); 
                $("#error_msg").show();
                return false;
            }

            if (spChars.test(password) == false){
                $("#error_msg").append("Your password must contain at least one special characters."); 
                $("#error_msg").show();
                return false;
            }
            return true;
        }

        function editPasswordManagement(that){
	// clear form
	$("#edit_password_management_id").val(0);
	$("#edit_password_name").val("");
	$("#edit_password_username").val("");
	$("#edit_password_management").val("");
	$("#edit_password_url").val("");
	$("#edit_password_description").val("");
	$("#edit_password_category").val(0);
	var password_management_id = $(that).attr("attr_id");
	$("#edit_password_info_msg").empty();
	$("#edit_password_info_msg").append("Fetching data . . .");
	$("#edit_password_info_msg").show();
	$.ajax({
        type: "POST",
        url: "{% url 'ProfileNewPasswordGetById' %}",
        data: {
        	"csrfmiddlewaretoken": '{{ csrf_token }}',
        	"password_management_id":password_management_id,
        },
        async:true,
        success: function (data) {
        	$("#edit_password_info_msg").hide();
        	$("#edit_password_name").val(data.name);
        	$("#edit_password_username").val(data.username)
        	$("#edit_password_management").val(data.password)
        	$("#edit_password_url").val(data.url)
        	$("#edit_password_description").val(data.description)
        	$("#edit_password_management_id").val(password_management_id)
        	$("#edit_password_category").val(data.category)
        	$("#edit_password_info_msg").hide();
        },
        error: function (e) {
        	$("#edit_password_info_msg").hide();
            $("#edit_password_error").empty();
    		$("#edit_password_error").append("Error on Fetching!");
    		$("#edit_password_error").show();
        }
    })
}

function UpdatePasswordManagement(){
	$("#edit_password_info_msg").empty();
	$("#edit_password_info_msg").append("Updating . . .");
	$("#edit_password_info_msg").show();
	$("#edit_password_error").hide();
	$("#edit_password_success_msg").hide();
	var password_management_id = $("#edit_password_management_id").val();
	var password_name = $("#edit_password_name").val();
	var password_username = $("#edit_password_username").val();
	var password_management_password = $("#edit_password_management").val();
	var password_url = $("#edit_password_url").val();
	var password_description = $("#edit_password_description").val();
	var password_category = $("#edit_password_category").val();
	$.ajax({
        type: "POST",
        url: "{% url 'ProfileUpdatePassword' %}",
        data: {
        	"csrfmiddlewaretoken": '{{ csrf_token }}',
        	"password_management_id":password_management_id,
        	"name": password_name,
        	"username": password_username,
        	"password":password_management_password,
        	"url":password_url,
        	"description":password_description,
        	"category": password_category,
        },
        async:true,
        success: function (data) {
        	$("#edit_password_info_msg").hide();
        	if(data.status_code == 1){
        		$("#edit_password_success_msg").empty();
        		$("#edit_password_success_msg").append(data.status_msg);
        		$("#edit_password_success_msg").show();
        		$("#edit_password_success_msg").hide(2000);
        	}else{
        		$("#edit_password_error").empty();
        		$("#edit_password_error").append(data.status_msg);
        		$("#edit_password_error").show();
        		$("#edit_password_error").hide(2000);
        	}
        },
        error: function (e) {
        	$("#edit_password_info_msg").hide();
            $("#edit_password_error").empty();
    		$("#edit_password_error").append("Error on updating!");
    		$("#edit_password_error").show();
    		$("#edit_password_error").hide(2000);
        }
    })
}
</script>
</body>
</html>