{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile | Settings</title>
	<link rel="stylesheet" href="{% static 'portal/css/index.css' %}">
	<link rel="stylesheet" href="{% static 'portal/css/style_v1.css' %}">
    <link rel="stylesheet" href="{% static 'tailwinds/output.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'portal/images/logo_v.png' %}">

	<link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome_5_13.min.css' %}">
	<!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>
<body class="font-Lato">
	<!-- Sidebar Panel -->
    <div class="flex">
    	{% include 'sidebar.html' with active_page='sidebar_Settings' %}
        {% include 'setting_sub_menu.html' with active_page='editProfile' %}

        {% include 'portal_secondary_nav_bar.html' %}

        
        
        <form action="{% url 'portalSettingPage' %}" id="edit_profile" method="POST" enctype="multipart/form-data">
        	{% csrf_token %}
	        <div class="w-full xxl:ml-32 xxl:mt-10">
	            <div class="mt-32 bxl:mt-22 xl:mt-16 xl_4k:mt-56 ml-8 xl:ml-6 flex space-x-72 xl:space-x-20">
                    <div>
                    	
                        <h1 class="text-4xl xl:text-2xl xxl:text-3xl xl_4k:text-7xl text-editProfile"><b>Edit Profile</b></h1>
                        {% if profile_details.profile_picture|length > 0 %}
                            <img src="{{ profile_details.profile_picture.url|default_if_none:'#' }}" class="object-scale-down w-60 h-60 xl:w-40 xl:h-44 xl_4k:w-85 xl_4k:h-85 rounded-full" >
                        {% else %}
                            <img src="" class="object-scale-down w-60 h-60 xl:w-40 xl:h-44 xl_4k:w-80 xl_4k:h-80 rounded-full" >
                        {% endif %}
                         
                        <div class="mt-16 ml-48 xl:mt-0 xl:ml-0">
                            <label for="img">
                            <!-- <img src="{% static 'portal/images/uploadImg.png' %}" id="uploadImg" style="cursor:pointer" />
                            <input type="file"id="profile_picture" name="profile_picture" accept="image/*" style="display:none">
                            </label>
                            <span class="outputImg" id="outputImg"></span> -->
                            <input type="file" id="profile_picture" name="profile_picture" class="xxl:text-xl xl_4k:text-5xl">
                            
                        </div>
                    </div>

                    <div class="xl:flex xl:space-x-12 xxl:space-x-52">

                    <div class="mb-10">
                        <div class="flex space-x-2 xl_4k:space-x-4">
                            <p class="font-Lato bxl:text-lg xl:text-base xxl:text-2xl xl_4k:text-6xl text-profCol">Contact Information</p>
                            <span class="fas fa-user mr-2 text-profCol xl:mt-1 xl_4k:text-6xl xl_4k:mt-2"></span>
                        </div>
                        <div class="flex flex-col space-y-2 xl_4k:space-y-6">
                                <label class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl xl_4k:mt-4">First Name</label>
                                <input type="text" id="first_name" name="first_name" value='{{ profile_details.first_name }}' placeholder="First Name" class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">
                                
                                <label class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl">Last Name</label>
                                <input type="text" id="last_name" name="last_name"  placeholder="Last Name" value="{{ profile_details.last_name }}" class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">

                                <label class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl">Email</label>
                                <input type="email" id="email" name="email"  placeholder="Email" value="{{ profile_details.email }}" class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">

                                <label class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl">Phone Number</label>
                                <input type="number" id="phone_num" name="phone_num"  placeholder="Phone Number" value="{{ profile_details.phone|default_if_none:'' }}" class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">
                                <div class="flex space-x-2 ">
                                    <div class="mt-6 flex space-x-2 xl_4k:space-x-4">
                                        <p class="font-Lato bxl:text-lg text-profCol  xxl:text-2xl xl_4k:text-6xl">Address Information</p>
                                        <span class="fas fa-city mr-2 text-profCol xl:mt-1 xl_4k:mt-2 xl_4k:text-6xl"></span>
                                    </div>
                                </div>
                                <p class="font-Lato bxl:text-base text-2base  xxl:text-xl xl_4k:text-5xl">Street</p>
                                <input type="text" id="street" name="street"  placeholder="Street" value="{{ profile_address.street|default_if_none:'' }}" class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">
                                <p class="font-Lato bxl:text-base text-2base  xxl:text-xl xl_4k:text-5xl">State</p>
                                <input type="text" id="state" name="state"  placeholder="State" value="{{ profile_address.state|default_if_none:'' }}" class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">
                                <p class="font-Lato bxl:text-base text-2base  xxl:text-xl xl_4k:text-5xl">Country</p>
                                <input type="text" id="country" name="country"  placeholder="Country" value="{{ profile_address.country|default_if_none:'' }}" class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">
                        </div>
                        <div class="flex space-x-4 xl_4k:space-x-8 xl_4k:w-full w-52 xl_4k:ml-0 xl_4k:mt-12 justify-center items-center">
                            <button type="submit" class="font-Lato mt-20 xl:mt-10 p-2 xxl:p-2 xl:p-0 xl_4k:text-5xl xl_4k:p-0 xl:text:sm w-full rounded-full text-lg text-white bg-gradient-to-r from-linearButton1 to-linearButton2">Save</button>
                            <button type="reset" class="font-Lato mt-20 xl:mt-10 xxl:p-2 xl:p-0 p-2 xl_4k:text-5xl xl_4k:p-0 w-full rounded-full text-lg text-white bg-gradient-to-r from-linearButton1 to-linearButton2">Cancel</button>
                        </div>
                    </div>

                    <div>
                        <div class="flex space-x-2 xl_4k:space-x-4">
                            <p class="font-Lato bxl:text-lg text-profCol  xxl:text-2xl xl_4k:text-6xl">Company Information</p>
                            <span class="fas fa-building mr-2 text-profCol xl:mt-1 xl_4k:mt-2 xl_4k:text-6xl"></span>
                        </div>
	                    <div class="flex flex-col space-y-2 xl_4k:space-y-6">
	                        <label class="font-Lato bxl:text-base text-2base  xxl:text-xl xl_4k:text-5xl xl_4k:mt-4">Company Name</label>
	                        <input type="text" id="company_name" name="company_name"  placeholder="Company Name" value="{{ profile_details.company_name|default_if_none:'' }}" class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">

	                        <label class="font-Lato bxl:text-base text-2base  xxl:text-xl xl_4k:text-5xl">Industry Type</label>
	                        <select id="industry_type" name="industry_type" class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">
	                            {% for industry_type in industry_type_list %}
	                                <option value=0 class="font-Poppins bxl:text-sm  xxl:text-xl xl_4k:text-5xl">-- Industry Type --</option>
	                                {% if profile_details.industry_type == industry_type.pk %}
	                                    <option value="{{ industry_type.pk }}" class="font-Poppins bxl:text-sm xxl:text-xl xl_4k:text-5xl" selected>{{ industry_type.name }}</option>
	                                {% else%}
	                                    <option value="{{ industry_type.pk }}" class="font-Poppins bxl:text-sm xxl:text-xl xl_4k:text-5xl" >{{ industry_type.name }}</option>
	                                {% endif %}
	                            {% empty %}
	                                <option value=0 class="font-Poppins bxl:text-sm  xxl:text-xl xl_4k:text-5xl">-- Industry Type --</option>
	                            {% endfor %}
	                        </select>

	                        <label class="font-Lato bxl:text-base text-2base  xxl:text-xl xl_4k:text-5xl">Website</label>
	                        <input type="text" id="website" name="website"  placeholder="Website" value="{{ profile_details.website|default_if_none:'' }}" class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">
	                    </div>
	                    <div class="flex flex-col space-y-2 xl_4k:space-y-5 xl:mt-32 xxl:mt-38 xl_4k:mt-96">
	                        <label class="font-Lato bxl:text-base text-2base  xxl:text-xl xl_4k:text-5xl">City</label>
	                        <input type="text" id="city" name="city"  placeholder="City" value="{{ profile_address.city|default_if_none:'' }}" class="font-Lato bxl:text-base text-2base xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">

	                        <label class="font-Lato bxl:text-base text-2base  xxl:text-xl xl_4k:text-5xl">Zip Code</label>
	                        <input type="text" id="zip_code" name="zip_code"  placeholder="Zip Code" value="{{ profile_address.zip_code|default_if_none:'' }}" class="font-Lato bxl:text-base text-2base  xxl:text-xl xl_4k:text-5xl bg-gray-50 border border-gray-300 px-2">
	                    </div>
                	</div>
                </div>
                
                </div>
        	</div>
        </form>
        
    </div>

	<script src="{% static 'portal/js/uploadImg.js' %}"></script>
</body>
</html>