{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'portal/css/style_v1.css' %}">
<script src="https://kit.fontawesome.com/2805f9efc1.js" crossorigin="anonymous"></script>

<div>
    <nav class="side-nav h-screen sticky top-0 bottom-0 left-0 bg-white w-24 xxl:w-32 xl_4k:w-60 overflow-hidden z-0 ">
        <ul class="flex flex-col justify-between h-full ">
            <div class="space-y-7 xl:space-y-0 bxl:space-y-12 xxl:space-y-10 xl_4k:space-y-32">
                <li>
                    <a href="{% url 'LandingPage' %}" class="logo text-center flex relative mt-5 mb-5 xl_4k:mt-12">
                        <img src="{% static 'portal/images/logo_v.png' %}" alt="Viking V Logo" class="nav-item1 ml-8 xxl:ml-12 xl_4k:ml-20 object-scale-down bxl:h-10 bxl:w-20 xxl:h-10 xl_4k:h-28 xl_4k:w-28 slg:h-8 slg:w-20">
                        <img src="{% static 'portal/images/logo_black.png' %}" alt="Viking V Logo" class="nav-item2 -ml-20 xl:-ml-12 bxl:-ml-16 xxl:-ml-14 relative object-scale-down bxl:h-16 bxl:w-44 xxl:h-16 xxl:w-44 slg:h-12 slg:w-36 xl_4k:h-40 xl_4k:w-96 xl_4k:-ml-20">
                    </a>
                </li>
                <li>
                    <a href="{% url 'portalDashboard' %}" class="flex items-center justify-start relative mt-22 xl:mt-14 xxl:mt-25 py-3 xl:py-1 slg:py-1 w-72 xl:w-72 xxl:w-full hover:bg-slate-200 duration-500">
                       <!-- <img src="{% static 'portal/nav/home.png' %}" alt="Home Icon" class="object-scale-down bxl:ml-2 bxl:h-10 bxl:w-20 xxl:ml-12 xxl:h-12 xxl:w-24 slg:h-8 slg:w-16 slg:ml-4 xl_4k:w-40 xl_4k:h-28"> --> 
                        <i alt="Home Icon" class="primary-sidebar-item fa-solid fa-house object-scale-down xl:ml-10 xl:mt-5 bxl:ml-2 bxl:h-10 bxl:w-20 xxl:ml-12 xxl:h-12 xxl:w-24 slg:h-8 slg:w-16 slg:ml-4 xl_4k:text-5xl xl_4k:ml-22 xl_4k:w-40 {% if active_page == 'sidebar_Dashboard' %}active{% endif %}"></i>
                        <span class="primary-sidebar-item font-Lato text-2base mxl:text-base xxl:text-base xl_4k:text-4xl {% if active_page == 'sidebar_Dashboard' %}active{% endif %}">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'taskDashboard' %}" class="flex items-center justify-start relative slg:py-2 xl:w-72 xxl:w-full w-72 hover:bg-slate-200 duration-500">
                     <!--  <img src="{% static 'portal/nav/task.png' %}" alt="Task Icon" class="object-scale-down xxl:ml-10 bxl:h-5 bxl:ml-2 bxl:w-20 xxl:h-7 xxl:w-25 xx xl:h-6  xl:w-16 slg:h-8 slg:w-16 slg:ml-4"> -->  
                        <i alt="Task Icon" class="primary-sidebar-item fa-solid fa-note-sticky object-scale-down xl:ml-10 xl:mt-5 bxl:ml-2 bxl:h-10 bxl:w-20 xxl:ml-12 xxl:h-12 xxl:w-24 slg:h-8 slg:w-16 slg:ml-4 xl_4k:text-5xl xl_4k:ml-22 xl_4k:w-40 {% if active_page == 'sidebar_Task' %}active{% endif %}"></i>
                        <span class="primary-sidebar-item font-Lato mxl:text-base text-2base xl_4k:text-4xl {% if active_page == 'sidebar_Task' %}active{% endif %}">Task</span>
                    </a> 
                </li>
                <li>
                    <a href="{% url 'taskSubmit' %}" class="flex items-center justify-start relative slg:py-1 xl:w-72 xxl:w-full w-72 hover:bg-slate-200 duration-500">
                       <!-- <img src="{% static 'portal/nav/submit.png' %}" alt="Submit Icon" class="object-scale-down xxl:ml-10 bxl:ml-2 bxl:h-10 bxl:w-20 xxl:h-12 xxl:w-24 slg:h-8 slg:w-16 slg:ml-4"> --> 
                        <i alt="Submit Task Icon" class="primary-sidebar-item fa-solid fa-paper-plane object-scale-down xl:ml-10 xl:mt-5 bxl:ml-2 bxl:h-10 bxl:w-20 xxl:ml-12 xxl:h-12 xxl:w-24 slg:h-8 slg:w-16 slg:ml-4 xl_4k:text-5xl xl_4k:ml-22 xl_4k:w-40 {% if active_page == 'sidebar_SubmitTask' %}active{% endif %}"></i>
                        <span class="primary-sidebar-item font-Lato  mxl:text-base text-2base xxl:text-base xl_4k:text-4xl {% if active_page == 'sidebar_SubmitTask' %}active{% endif %}">Submit Task</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'ticketingPage' %}" class="flex items-center justify-start relative slg:py-0 w-72 xl:w-72 xxl:w-full hover:bg-slate-200 duration-500">
                      <!--   <img src="{% static 'portal/nav/ticket.png' %}" alt="Ticketing Icon" class="object-scale-down xxl:ml-10 bxl:ml-2 bxl:h-10 bxl:w-20 xxl:h-12 xxl:w-24 slg:h-8 slg:w-16 slg:ml-4"> -->
                        <i alt="Ticketing Icon" class="primary-sidebar-item fa-solid fa-ticket-simple object-scale-down xl:ml-10 xl:mt-5 bxl:ml-2 bxl:h-10 bxl:w-20 xxl:ml-12 xxl:h-12 xxl:w-24 slg:h-8 slg:w-16 slg:ml-4 xl_4k:text-5xl xl_4k:ml-22 xl_4k:w-40 {% if active_page == 'sidebar_Ticketing' %}active{% endif %}"></i>
                        <span class="primary-sidebar-item font-Lato  mxl:text-base text-2base xxl:text-base xl_4k:text-4xl {% if active_page == 'sidebar_Ticketing' %}active{% endif %}">Ticketing</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'creditScoreDashboard' %}" class="flex items-center justify-start relative slg:py-2 w-72 xl:w-72 xxl:w-full space-x-0 hover:bg-slate-200 duration-500">
                     <!--  <img src="{% static 'portal/nav/credits.png' %}" alt="Credits Icon" class="object-scale-down xxl:ml-11 bxl:ml-2 bxl:h-6 bxl:w-20 xxl:h-7 xxl:w-22 slg:h-6 slg:w-16 slg:ml-4">  --> 
                     <i alt="Credits Icon" class="primary-sidebar-item fa-solid fa-coins object-scale-down xl:ml-10 xl:mt-5 bxl:ml-2 bxl:h-10 bxl:w-20 xxl:ml-12 xxl:h-12 xxl:w-24 slg:h-8 slg:w-16 slg:ml-4 xl_4k:text-5xl xl_4k:ml-22 xl_4k:w-40 {% if active_page == 'sidebar_Credits' %}active{% endif %}"></i>
                     <span class="primary-sidebar-item font-Lato  mxl:text-base text-2base xxl:text-base xl_4k:text-4xl {% if active_page == 'sidebar_Credits' %}active{% endif %}">Credits</span>
                    </a>
                </li>
            </div>
            <div class="bxl:mb-16 xl:mb-10">
                <li>
                    <a href="{% url 'portalSettingPage' %}" class="flex items-center justify-start relative slg:mt-20 xl:mt-14 xxl:mt-32 slg:py-2 w-72 xl:w-72 xxl:w-full space-x-0 hover:bg-slate-200 duration-500">
                    <!--    <img src="{% static 'portal/nav/settings.png' %}" alt="Settings Icon" class="object-scale-down xxl:ml-10 xxl:h-12 xxl:w-24 bxl:ml-2 bxl:h-6 bxl:w-20 slg:h-6 slg:w-16 slg:ml-4"> --> 
                        <i alt="Settings Icon" class="primary-sidebar-item fa-solid fa-gears object-scale-down xl:ml-10 xl:mt-5 bxl:ml-2 bxl:h-10 bxl:w-20 xxl:ml-12 xxl:h-12 xxl:w-24 slg:h-8 slg:w-16 slg:ml-4 xl_4k:text-5xl xl_4k:ml-22 xl_4k:w-40 {% if active_page == 'sidebar_Settings' %}active{% endif %}"></i>
                        <span class="primary-sidebar-item font-Lato text-2base mxl:text-base xxl:text-base xl_4k:text-4xl {% if active_page == 'sidebar_Settings' %}active{% endif %}">Settings</span>
                    </a>
                </li>
            </div>
        </ul>
    </nav>
</div>