 {% load static %}
 <div id="sidebar-container" class="sidebar-collapsed d-none d-md-block">
    <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
    <!-- Bootstrap List Group -->
    <ul class="list-group">
        <!-- Separator with title -->
        <br/>
        <a href="#" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start " style="height: 120px;">
        	<div class="d-flex justify-content-start align-items-center navbar_logo_wrapper">
                <span class="mr-3">
                	<img class="logo_small" src="{% static 'images/logo_small.png' %}">
                </span>
                <span class="menu-collapsed d-none">
                	<img class="logo_full" src="{% static 'images/logo_full.png' %}" style="display:none;" >
                </span>
            </div>
        </a>
        <!-- /END Separator -->
        <!-- Menu with submenu -->
        <br/><br/><br/>
        <a href="#" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
            	<!-- <i class="fa-sharp fa-regular fa-house"></i> -->
                <span class="fa-solid fa-house fa-fw mr-3 navbar-icons"></span>
                <span class="menu-collapsed d-none">Dashboard</span>
            </div>
        </a>
        <br/>
        <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa-solid fa-file fa-fw mr-3 navbar-icons"></span>
                <span class="menu-collapsed d-none">Task</span>
            </div>
        </a>
        <br/>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa-regular fa-paper-plane fa-fw mr-3 navbar-icons"></span>
                <span class="menu-collapsed d-none">Submit a Task</span>
            </div>
        </a>
        <br/>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa-solid fa-ticket fa-fw mr-3 navbar-icons"></span>
                <span class="menu-collapsed d-none">Ticketing</span>
            </div>
        </a>
       	<br/>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa-solid fa-coins fa-fw mr-3 navbar-icons"></span>
                <span class="menu-collapsed d-none">Credits</span>
            </div>
        </a>
        <br/><br/><br/><br/><br/>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa-solid fa-gear fa-fw mr-3 navbar-icons"></span>
                <span class="menu-collapsed d-none">Settings</span>
            </div>
        </a>
        <!-- <a href="#top" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                <span id="collapse-text" class="menu-collapsed">Collapse</span>
            </div>
        </a> -->
        
    </ul><!-- List Group END-->
</div>