{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Dashboard | Task</title>
    <link rel="icon" type="image/x-icon" href="{% static 'portal/images/logo_v.png' %}">

    <link rel="stylesheet" href="{% static 'portal/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/style_v1.css' %}">
    <link rel="stylesheet" href="{% static 'tailwinds/output.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome_5_13.min.css' %}">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->


</head>
<body>
    <!-- Sidebar Panel -->
    <div class="overlay hidden" onclick="toggleOverlay()" id="overlay_id"></div>
    <div class="flex">
        {% include 'sidebar.html' with active_page='sidebar_Task' %}
        {% include 'portal_secondary_nav_bar.html' %}


        <div class="mt-32 xl:mt-10 bxl:mt-16 xxl:mt-16 xl_4k:mt-56 xl_4k:ml-20 ml-5  overflow-auto w-full">
            <div>
                <h1 class="text-4xl xl:text-2xl bxl:text-2xl xxl:text-4xl xl_4k:text-7xl font-Poppins text-editProfile font-extrabold">Your Task</h1> 
                <div class=" ">
                    <div class="flex">
                        <p class="text-2base bxl:text-base xxl:text-lg xl_4k:text-5xl font-bold font-Poppins text-purple-700 xl:mt-5 xl_4k:mt-0 xl:mr-2">Filter by:</p>
                        <select id="filterSelect" onchange="filterData()" class="font-Poppins text-blue-900 xl:text-base bxl:text-lg xxl:text-lg xl_4k:text-5xl xl:mt-5 xl_4k:mt-0">
                            <option value="all" class="font-Poppins bxl:text-sm">All</option>
                            <option attr_val="Open Task" value="open" class="font-Poppins bxl:text-sm">Open</option>
                            <option attr_val="In Progress" value="In Progress" class="font-Poppins bxl:text-sm">In Progress</option>
                            <option attr_val="For Approval" value="for_approval" class="font-Poppins bxl:text-sm">For Approval</option>
                            <option attr_val="Completed" value="completed" class="font-Poppins bxl:text-sm">Completed</option>
                        </select>
                    </div>
                    <div class="xl:mt-5 xl_4k:mt-20 xl_4k:ml-40">
                        <main class="table xl:mx-10 xxl:ml-32 mxl:ml-20 xl_4k:w-220 "> 
                            <section class="table__body overflow-auto xl:h-110 bxl:h-130 mxl:h-160 xxl:h-180 xxl:w-full xl_4k:h-220 xl_4k:w-200">
                                <table class="border-separate border-spacing-2" >
                                    <tbody id="data">
                                        <div>
                                        {% for ticket in tickets %}
                                            <tr class="{{ticket.status}}" task_id="{{ ticket.pk }}" onclick='viewTaskDetails(this);' style="cursor:pointer;">
                                                <td class="flex flex-col bg-gray-50 border border-gray-300 rounded-xl hover:bg-gray-200 bxl:w-210 mxl:w-220 xxl:w-240  duration-300 p-2 xxl:p-5 mxl:p-4 mxl:mb-2">
                                                    
                                                        <div class="flex justify-start text-base bxl:text-lg font-bold ">
                                                            <h1 id="" class="font-Poppins">{{ticket.title}}</h1>
                                                            <div class="flex xl:space-x-3 xl:ml-4 justify-center items-center text-center">
                                                                <div class="font-Lato mt-20 xl:mt-0 p-2 xl:p-0 kxl:p-3 kxl:text-4xl txl:text-xl xl:text:vs xxl:text-base xl:w-24 rounded-full text-sm text-catText1 bg-catOne duration-500">{{ ticket.category.name }}</div>
                                                                <!-- <div class="font-Lato mt-20 xl:mt-0 p-2 xl:p-0 kxl:p-3 kxl:text-4xl txl:text-xl xl:text:vs xxl:text-base xl:w-24 rounded-full text-sm text-catText2 bg-catTwo duration-500">Category</div>
                                                                <div class="font-Lato mt-20 xl:mt-0 p-2 xl:p-0 kxl:p-3 kxl:text-4xl txl:text-xl xl:text-sm xxl:text-base xl:w-24 rounded-full text-vs text-catText3 bg-catThree duration-500">Category</div> -->
                                                            </div>
                                                        </div>
                                                        <div class="flex xl:w-fit xl:mt-3 text-sm text-gray-500 ">
                                                            <p class="far fa-calendar-alt text-lg xxl:text-xl mr-2" href="#"></p>
                                                            <p class="font-Lato bxl:text-base xxl:text-base">{{ticket.create_date |date:"D d M Y" }}</p>
                                                            <div class="justify-end items-end self-end justify-items-end place-content-end font-Lato xl:p-0 xl:text:vs xl:w-32 rounded-full text-sm text-white bg-progressCol xl:ml-6 mxl:text-base duration-500">{{ ticket.task_percentage }}%</div>
                                                        </div>
                                                        <div class="mt-5">
                                                            <p id="ticket_desc" class="font-Poppins text-sm bxl:text-2base mxl:text-base xxl:text-base text-start">{{ ticket.description }}</p>

                                                        </div>
                                                    
                                                </td>
                                            </tr>
                                        {% empty %}

                                        {% endfor %}
                                        </div>
                                    </tbody>
                                </table>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{% static 'portal/js/uploadImg.js' %}"></script>
<script src="{% static 'portal/js/enableBtn.js' %}"></script>
<script src="{% static 'portal/js/tableStng.js' %}"></script>
<script type="text/javascript" src="{% static 'portal/js/jquery_3.7.0.js' %}"></script>
<script type="text/javascript">
    function SelectFilter(that){
        var filter_value = $(that).attr("attr_val");
        console.log(filter_value)
        if(filter_value == "For Approval"){
            grabAllTicketByFilter("Pending");
        }else if(filter_value == "Open Task"){
            grabAllTicketByFilter("Open");
        }else if(filter_value == "Completed"){
            grabAllTicketByFilter("Complete");
        }else if(filter_value == "In Progress"){
            grabAllTicketByFilter("In Progress");
        }
        $(".filter_status").empty();
        $(".filter_status").append(filter_value);
    }

    function grabAllTicketByFilter(Filter="Open"){
        $("#ticket_wrapper").empty();
        $.ajax({
            type: "POST",
            url: "{% url 'getTciketByFilter' %}",
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "filter":Filter,
            },
            async:true,
            success: function (data) {
                formatListOfTickets(data);
                
            },
            error: function (e) {
                // $("#new_password_error").append("Error! please try again later.");
            }
        })
    }

    function formatListOfTickets(dataValue){
        var output ="";
        var list_of_task = dataValue.list_of_task;
        if(Object.keys(list_of_task).length > 0){
            $.each(list_of_task, function(index, value){
                output += "<div class='col-sm-12' task_id='"+value.id+"' style='cursor:pointer;' onclick='viewTaskDetails(this);'>";
                output += "<div class='card' style='width:98%; border-radius: 15px;'>";
                output += "<div class='card-body'>";

                output += "<span class='card-title task_title'>"+value.name+"</span>";
                output += "<span class='badge badge-pill' style='background: #87DEC9; color: #387C6C;'>"+value.caetgory_name+"</span>";

                output += "<div class='row'>";

                output += "<div class='col-sm-2'>";
                output += " <span class='task_create_date'><i class='fa-regular fa-calendar-days'></i>"+value.create_date+"</span>";
                output += "</div>";
                
                output += "<div class='col-sm-2' style='margin:auto;'>";
                output += " <div class='progress'>";
                output += "     <div class='progress-bar' role='progressbar' style='width: "+value.task_percentage+"%; text-align: center; background: #BEA4EC;' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100'>"+value.task_percentage+"%</div>";
                output += " </div>";
                output += "</div>";
                output += "<div class='col-sm-8'></div>";
                output += "</div>";

                output += "<p class='card-text task_card_description'>"+value.description+"</p>";

                output += "</div>";
                output += "</div>";
                output += "</div>";     
            });

            $("#ticket_wrapper").empty();
            $("#ticket_wrapper").append(output);
        }else{
            $("#ticket_wrapper").empty();
        }


        
    }

    function viewTaskDetails(that){
        var task_attr_id = $(that).attr("task_id");
        var url = "/tickets/task_details/"+task_attr_id;
        window.location.replace(url);
    }
</script>

</body>
</html>