{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Task Dashboard</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'portal/css/navbar.css' %}">
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
	<style type="text/css">
		.title_name{
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 60px;
			line-height: 90px;
			color: #6417A1;
		}

		.edit_task_name{
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 45px;
			line-height: 90px;
			color: #6417A1;
		}

		.description_title{
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 25px;
			line-height: 38px;
			color: #0717A3;
		}
		.task_description p {
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 25px;
			line-height: 38px;
			color: #0717A3;
		}
		.credit_used{
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 30px;
			color: #000000;
		}
		.edit_task_btn{
			background: linear-gradient(90.97deg, rgba(26, 47, 238, 0.85) 0%, rgba(196, 26, 238, 0.85) 99.67%);
			border-radius: 10px;
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 30px;
			color: #FFFFFF;
			width: 100%;
    		border: 0px;
    		padding: 3% 0%;
		}
		.delete_task_btn{
			background: #FFFFFF;
			border-radius: 10px;
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 30px;
			color: #000000;
			width: 99%;
    		padding: 3% 0%;
		}
		.edit_form_name{
			font-family: 'Lato', sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			color: #3E1774;
		}
		.comment_name{
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 20px;
			color: #000000;
		}
	</style>
</head>
<body style="background:#F5F6FA;">
<div class="row" id="body-row">
	
	<div class="col p-4 main-container">
		<div class="row search_bar_wrapper">
			<div class="col-sm-10">
				<!-- <input class="form-control" type="text" id="portal_search_bar" name="portal_search_bar" placeholder="Search . . . "> -->
			</div>
			<div class="col-sm-2" style="text-align:right; margin: auto;">
				<i class="fas fa-fw fa-bell"></i> <span class="indicator"></span>
				<span>
					<img src="https://img.icons8.com/dusk/100/000000/user-female-circle.png" alt="" class="user-avatar-md rounded-circle" width="25px">
					{{ profile_details.first_name }} {{ profile_details.last_name }}
					<span class="dropdown">
						<span class="fa-solid fa-angle-down" type="button" id="Account-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="Account-menu">
							<button class="dropdown-item" type="button">Account</button>
						    <button class="dropdown-item" type="button">Settings</button>
						    <button class="dropdown-item" type="button">Logout</button>
						</div>
					</span>
				</span>
			</div>
		</div><br/>
		<br/><br/>
		<!-- main container -->
		<div class="row" style="background: #FFFFFF;">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-8">
						<span class="title_name">
							{{ task_detail.title }}
						</span>
					</div>
					<div class="col-sm-4">
						<br/><br/>
						<div class="progress" style=" height: 1.5rem;">
							<div class="progress-bar" role="progressbar" style="width: {{ task_detail.task_percentage}}%; font-size: 20px; text-align: center; background: #BEA4EC;" aria-valuenow="25" aria-valuemin="{{ task_detail.task_percentage}}" aria-valuemax="100">{{ task_detail.task_percentage}}%</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<span class="description_title">
							Description
						</span>
					</div><br/>
					<div class="col-sm-12" class="task_description">
						<p>{{ task_detail.description }}</p>
					</div>
					<br/><br/>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="card">
							<div class="card-body">
						    	<div class="row">
						    		<div class="col-sm-8">
						    			Start Date<br/>
						    			{{ task_detail.create_date |date:"M d, Y" }}
						    		</div>
						    		<div class="col-sm-4">
						    			<i class="fa-solid fa-clock" style="font-size: 45px; color: #562E91;"></i>
						    		</div>
						    	</div>
						  	</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
  							<div class="card-body">
    							<div class="row">
						    		<div class="col-sm-8">
						    			Attachments<br/>
						    			0
						    		</div>
						    		<div class="col-sm-4">
						    			<i class="fa-solid fa-file-lines" style="font-size: 45px; color: #2A3A8F;"></i>
						    		</div>
						    	</div>
  							</div>
						</div>
					</div>
				</div>
				<br/><br/>
				
				<br/><br/>
				<div class="row">
					<div class="col-sm-12" >
						<span class="description_title">Comments</span>	
					</div><br/><br/>
					<div class="col-sm-12">
						{% for comment in comments %}
							<div class="row">
								<div class="col-sm-1" style="text-align: right;">
									<img src="https://img.icons8.com/dusk/100/000000/user-female-circle.png" alt="" class="user-avatar-md rounded-circle" width="45px">
								</div>
								<div class="col-sm-11">
									<div class="row">
										<div class="col-sm-12">
											<span class="comment_name">{{ comment.owner.first_name }} {{ comment.owner.last_name }}</span> {{ comment.create_date | timesince }} ago
										</div>
										<div class="col-sm-2">
											<p>{{ comment.comment }}</p>
										</div>
									</div>
								</div>
							</div>
						{% empty %}
							<span class="task_description">Here are the final file for this task, you can download it and approve the task.</span>
						{% endfor %}
					</div>
				</div>
				<br/><br/><br/>
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-2">
						<button class="edit_task_btn" onclick="ApproveModal();" >Approve</button>
					</div>
					<div class="col-sm-2">
						<button class="delete_task_btn" onclick="RevisionModal();">Revise</button>
					</div>
					<div class="col-sm-4"></div>
				</div>
				<br/><br/><br/>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>

	<div class="modal fade" id="ReviseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
      			<div class="modal-body">
      				<div class="row">
      					<div class="col-sm-12 edit_task_name" style="text-align:center;">Revise Task</div>
      				</div>
      				<div class="row">
      					<div class="col-sm-12">
      						<div class="alert alert-success revise_success" role="alert" style="display:none;">
  								Create Successful! Reloading page . . .
							</div>
							<div class="alert alert-warning revise_error" role="alert" style="display:none; cursor: pointer;" onclick="closeThis(this);">
  								
							</div>
      					</div>
      				</div>
      				<div class="row">
      					<div class="col-sm-12" style="text-align:center;">
      						What revision you want to make on the task?
      					</div>	
      				</div>
      				<div class="row">
      					<div class="col-sm-1"></div>
      					<div class="col-sm-10">
      						<textarea class="form-control" col="5" id="revision_comment" name="revision_comment"></textarea>
      					</div>
      					<div class="col-sm-1"></div>
      					
      					<input type="hidden" id="edit_task_id" name="edit_task_id" value="{{  task_detail.pk }}">
      				</div>
      				
      				<br/><br/>
      				<div class="row">
      					<div class="col-sm-3"></div>
      					<div class="col-sm-3">
      						<button class="edit_task_btn" onclick="SubmitRevision();">Submit</button>
      					</div>
      					<div class="col-sm-3">
      						<button class="delete_task_btn" data-dismiss="modal">Close</button>
      					</div>
      					<div class="col-sm-3"></div>
      				</div>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal fade" id="ApprovalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
      			<div class="modal-body">
      				<div class="row">
      					<div class="col-sm-12 edit_task_name" style="text-align:left;">Approve Task?</div>
      				</div>
      				<div class="row">
      					<div class="col-sm-12">
      						<div class="alert alert-success approve_success" role="alert" style="display:none;">
  								Approve Successful! Reloading page . . .
							</div>
							<div class="alert alert-warning approve_error" role="alert" style="display:none; cursor: pointer;" onclick="closeThis(this);">
  								
							</div>
      					</div>
      				</div>
      				<div class="row">
      					<div class="col-sm-12" style="text-align:center;">
      						Once you approved the task revisions will not be possible to made, and you need to spend another credit.
      					</div>	
      				</div>
      				<input type="hidden" id="edit_task_id" name="edit_task_id" value="{{  task_detail.pk }}">
      				
      				
      				<br/><br/>
      				<div class="row">
      					<div class="col-sm-3"></div>
      					<div class="col-sm-3">
      						<button class="edit_task_btn" onclick="SubmitApprove();">Approve</button>
      					</div>
      					<div class="col-sm-3">
      						<button class="delete_task_btn" data-dismiss="modal">Close</button>
      					</div>
      					<div class="col-sm-3"></div>
      				</div>
      			</div>
    		</div>
  		</div>
	</div>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<script src="{% static 'portal/js/portalnavbar.js' %}"></script>
<script>
	$(document).ready(function(){
		
	})

	function closeThis(that){
		$(that).hide();
	}
	function RevisionModal(){
		$("#ReviseModal").modal("show");
	}

	function ApproveModal(){
		$("#ApprovalModal").modal("show");
	}

	function SubmitApprove(){
		$(".approve_error").hide();
		var edit_task_id = $("#edit_task_id").val();
		$.ajax({
	        type: "POST",
	        url: "{% url 'taskApprove' %}",
	        data: {
	        	"csrfmiddlewaretoken": '{{ csrf_token }}',
	        	"task_id":edit_task_id,
	        },
	        async:true,
	        success: function (data) {
	        	if(data.status_code == 1){
	        		$(".approve_success").show();
	        		location.reload(true);
	        	}else{
	        		$(".approve_error").show();
	        		$(".approve_error").empty();
	        		$(".approve_error").append(data.error_msg)
	        	}
	        	
	        },
	        error: function (e) {
	            // $("#new_password_error").append("Error! please try again later.");
	        }
	    })
	}

	function SubmitRevision(){
		$(".revise_error").hide();
		var revision_comment = $("#revision_comment").val();
		var edit_task_id = $("#edit_task_id").val();
		$.ajax({
	        type: "POST",
	        url: "{% url 'addRevision' %}",
	        data: {
	        	"csrfmiddlewaretoken": '{{ csrf_token }}',
	        	"revision_comment":revision_comment,
	        	"task_id":edit_task_id,
	        },
	        async:true,
	        success: function (data) {
	        	if(data.status_code == 1){
	        		$(".revise_success").show();
	        		location.reload(true);
	        	}else{
	        		$(".revise_error").show();
	        		$(".revise_error").empty();
	        		$(".revise_error").append(data.error_msg)
	        	}
	        	
	        },
	        error: function (e) {
	            // $("#new_password_error").append("Error! please try again later.");
	        }
	    })
	}
	
</script>
</body>
</html>