{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portal Dashboard</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'portal/css/navbar.css' %}">
	<link rel="stylesheet" href="{% static 'tickets/css/ticket.css' %}">
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
</head>
<body style="background:#F5F6FA;">
<div class="row" id="body-row">
	{% include 'sidebar_v1.html' %}
	<div class="col p-4 main-container">
		<div class="container-fluid" style="z-index: 4;">
			<div class="row">
				<div class="col-sm-10"></div>
				<div class="col-sm-2" style="text-align:right; margin: auto;">
    				<i class="fas fa-fw fa-bell"></i> <span class="indicator"></span>
    				<span>
    					<img src="https://img.icons8.com/dusk/100/000000/user-female-circle.png" alt="" class="user-avatar-md rounded-circle" width="25px">
    					{{ profile_details.first_name }} {{ profile_details.last_name }}
    					<span class="dropdown">
							<span class="fa-solid fa-angle-down" type="button" id="Account-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="Account-menu">
								<button class="dropdown-item" type="button">Account</button>
							    <button class="dropdown-item" type="button">Settings</button>
							    <button class="dropdown-item" type="button">Logout</button>
							</div>
						</span>
    				</span>
    				
    			</div>
			</div><br/>
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">	
									<span class="submit_issue_ticket_header_text">Submit Issue Ticket</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<p class="small_text">Please provide the details of the problem</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span class="submit_ticket_label_input">Ticket Type</span>
								</div>
								<div class="col-sm-12">
									<select class="form-control ticket_form_input" name="ticket_type" id="ticket_type">
										<option value="0">-- Select Ticket Type --</option>
										{% for type in issue_types %}
											<option value="{{ type.pk }}">{{ type.name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-12">
									<span class="submit_ticket_label_input">Ticket Title</span>
								</div>
								<div class="col-sm-12">
									<input type="text" name="ticket_title" id="ticket_title" value="" class="form-control ticket_form_input">
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-12">
									<span class="submit_ticket_label_input">Description</span>
								</div>
								<div class="col-sm-12">
									<textarea  class="ticket_form_input_textarea form-control" rows="7" name="ticket_description" id="ticket_description"></textarea>
								</div>
							</div>
							<br/><br/>
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-6">
									<button class="submit_ticket_btn form-control" onclick="SubmitNewTicket();">
										Submit Ticket
									</button>
								</div>
								<div class="col-sm-3"></div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="col-sm-12 all_ticket_list_wrapper">
								<div class="row">
									<div class="col-sm-7">	
										<span class="ticket_list_header_text">All Tickets</span>
									</div>
									<div class="col-sm-5">
										<div class="input-group mb-3" style="margin-top:5%;">
						  					<input type="text" class="form-control" placeholder="Search Ticket" aria-label="Recipient's username" aria-describedby="basic-addon2">
						  					<div class="input-group-append">
						    					<button class="filter_btn btn btn-outline-secondary" type="button">Filter
						    						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
			  											<path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
													</svg>
												</button>
						  					</div>
										</div>
									</div>
								</div>
								<div class="list_of_ticket_wrapper">
									<div class="row">
										<table class="table" id="ticket_list" style="width: 95%; margin: auto;">
											<thead>
												<tr>
													<th>Tickets</th>
												</tr>
											</thead>
											<tbody>
												{% for ticket in issue_tickets %}
												<tr>
													<td style="border: 1px solid #BDBDBD; border-radius: 10px; margin-top: 5px;">
														<div class="row">
															<div class="col-sm-12"><span class="left ticket_list_header">{{ ticket.title }}</span> <span class="right ticket_list_created_time">{{ ticket.create_date | timesince }} ago</span> </div>
														</div>	
														<div class="row">
															<div class="col-sm-12 ticket_description">
																{{ ticket.description }}
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<span class="left ticket_list_id">
																	#{{ ticket.id }}
																</span>
															</div>
														</div>
													</td>
												</tr>
												{% empty %}
												<tr>
													<td style="border: 1px solid #BDBDBD; border-radius: 10px;">
														<div class="row">
															<div class="col-sm-12" style="width:100%;">
																<span class="left ticket_list_header">No Ticket Posted</span>
															</div>
														</div>	
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="SuccessfullySaveIssutTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  	<div class="modal-dialog " role="document">
    	<div class="modal-content">
      		<div class="modal-body submitted_modal">
      			<br/>
      			<div class="row">
      				<div class="col-sm-1"></div>
      				<div class="col-sm-11">
      					<span class="ticket_submitted_header">Ticket Submitted!</span>
      				</div>
      			</div>
      			<br/>
      			<div class="row">
      				<div class="col-sm-1"></div>
	      			<div class="col-sm-11">
	      				<p>We’re on it</p>
	        			<p>Give us awhile, we’ll get back to you as soon as we can</p>
	      			</div>
      			</div>
      			<br/>
        		<div class="row">
        			<div class="col-sm-2"></div>
        			<div class="col-sm-8">
        				<button class="form-control submitted_modal_btn">View Ticket</button>
        			</div>
        			<div class="col-sm-2"></div>
        		</div>
      		</div>
    	</div>
  	</div>
</div>

<div class="modal fade" id="ViewTicketModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
      	...
    	</div>
  	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="{% static 'portal/js/portalnavbar.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$("#ticket_list").DataTable();
		$("#ticket_list_length").hide();
		$("#ticket_list_filter").hide();
	})

	function SubmitNewTicket(){
		var ticket_type = $("#ticket_type").val();
		var ticket_title = $("#ticket_title").val();
		var ticket_description = $("#ticket_description").val();
		if(ticket_type == 0){
			alert("Ticket Type should not be empty!");
			return false;
		}
		if(ticket_title == ""){
			alert("ticket Title should not be empty!");
			return false;
		}
		// $.ajax({
	    //     type: "POST",
	    //     url: "{% url 'Addticket' %}",
	    //     data: {
	    //     	"csrfmiddlewaretoken": '{{ csrf_token }}',
	    //     	"type":ticket_type,
	    //     	"title": ticket_title,
	    //     	"description": ticket_description,
	    //     },
	    //     async:true,
	    //     success: function (data) {
	    //     	if(data.status_code == 1){
	    //     		$("#SuccessfullySaveIssutTicket").modal("show");
	    //     		$("#ticket_type").val(0);
	    //     		$("#ticket_title").val("");
	    //     		$("#ticket_description").val("");
	    //     	}else{
	    //     		alert("error on adding a ticket!");
	    //     	}
	    //     },
	    //     error: function (e) {
	    //         // $("#new_password_error").append("Error! please try again later.");
	    //     }
	    // })

	}
</script>
</body>
</html>