{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Ticket | Ticketing</title>
    <link rel="stylesheet" href="{% static 'portal/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/style_v1.css' %}">
    <link rel="stylesheet" href="{% static 'tailwinds/output.css' %}">

    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome_5_13.min.css' %}">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <!-- Sidebar Panel -->
    <div class="overlay hidden" onclick="toggleCloseTickets()" id="overlay_id"></div>
    <div class="flex">  
        {% include 'sidebar.html' %}
        <div>
            <nav class="bg-whiteSmoke text-white flex absolute right-0 justify-between items-center ml-0 m-8 h-20 xl:h-12 z-0 px-10 xl:px-0 mt-0 bxl:mt-2 xxl:mt-3 xl_4k:mt-12 xl_4k:px-12">
                <ul class="flex items-center text-sm  text-gray-600">
                    <li class="flex items-center justify-center">
                        <a class="fas fa-search text-lg xl_4k:text-5xl" href="#"></a>
                        <form action="">
                            <div class="h-10 flex items-center space-x-5 w-52 xl_4k:w-80">
                                <input class="w-full font-Poppins bxl:text-base bg-whiteSmoke text-black xl:py-1 xl:text-sm xxl:text-lg outline-0 py-4 px-5 text-lg xl_4k:text-4xl" type="text" placeholder="Search">
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="flex items-center text-sm text-gray-600">
                    <div class="flex items-center justify-center space-x-5 xl_4k:space-x-20">
                        <li>
                            <a class="fas fa-bell text-lg ml-6  xl_4k:text-5xl" href="#"></a>
                        </li>
                        <div class="flex items-center justify-center">
                            <li>
                                <a href="#">
                                    <img src="https://img.icons8.com/dusk/100/000000/user-female-circle.png" class="object-scale-down h-10 w-20 rounded-full"> 
                                </a>
                            </li>
                            
                            <li class="text-lg xl:text-sm xxl:text-lg">
                                <p class="font-Jost xl_4k:text-5xl">{{ profile_details.first_name }} {{ profile_details.last_name }}</p>
                            </li>
                        </div>
                        <li class="">
                            <a class="fas fa-chevron-down text-lg xl_4k:text-4xl ml-3" href="#"></a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
        <div class="mt-32 xl:mt-5 bxl:mt-14 ml-5 xxl:ml-10 mxl:mt-20 xxl:mt-16 xl_4k:mt-56 xl_4k:ml-20 w-full">
            <div>
                <h1 class="text-4xl xl:text-2xl bxl:text-2xl xxl:text-3xl xl_4k:text-6xl font-Poppins text-editProfile font-bold">Submit Issue Ticket</h1>
                <div class="flex xl:space-x-10 xxl:space-x-20">
                    <div>
                        <p class="text-2base bxl:text-base xxl:text-base font-Poppins text-gray-500 xl_4k:text-4xl">Please provide the details of the problem.</p>
                        <!-- <form> -->
                            <div class="flex flex-col xl:space-y-10 xl:w-120 xxl:w-170 h-105 xl:mt-8">
                                <div class="flex flex-col">
                                    <label class="font-Lato text-2base bxl:text-base mxl:text-lg xxl:text-lg xl_4k:text-4xl">Ticket Type</label>
                                    <select id="ticket_type" name="ticket_type" class="font-Lato text-2base bxl:text-base xxl:text-base xl_4k:text-4xl bg-gray-50 border border-gray-300 xl:h-8 rounded-lg">
                                        <option value="#" class="font-Lato bxl:text-2base">Select</option>
                                        {% for type in issue_types %}
                                            <option value="{{ type.pk }}" class="font-Lato bxl:text-2base">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="flex flex-col">
                                    <label class="font-Lato text-2base bxl:text-base mxl:text-lg xxl:text-lg xl_4k:text-4xl">Ticket Title</label>
                                    <input type="text" id="ticket_title" name="ticket_title" autocapitalize="on" autofocus class="font-Lato bxl:text-base xl_4k:text-4xl text-2base xxl:text-lg rounded-lg bg-gray-50 border border-gray-300 p-2 xl:h-8">
                                </div>
                                <div class="flex flex-col">
                                    <label class="font-Lato text-2base bxl:text-base mxl:text-lg xxl:text-lg xl_4k:text-4xl">Ticket Description</label>
                                    <textarea type="text" id="ticket_description" name="ticket_description" class="font-Lato bxl:text-base text-2base xl_4k:text-4xl xxl:text-lg rounded-lg bg-gray-50 border border-gray-300 xl:h-38 mxl:h-40 xxl:h-64 p-2"></textarea>
                                </div>
                                <center>
                                    <button type="button" onclick="SubmitNewTicket()" class="font-Lato mt-20 xl:mt-0 p-2 xl:p-0 xxl:p-1 xl:text:sm w-full xl_4k:w-120 xl_4k:p-5 xl_4k:text-3xl rounded-lg text-lg xl:text-sm bxl:text-base bxl:p-1 xxl:text-lg xl:w-72 bxl:w-96 xxl:w-80 text-white bg-gradient-to-r from-linearButton1 to-linearButton2">Submit Ticket</button>
                                </center>
                            </div>
                        <!-- </form> -->
                    </div>
                    <div class="flex">
                        <main class="table xl:w-160 bxl:w-170 mxl:w-190 xxl:w-200 border border-gray-300 rounded-xl">
                            <section class="table__body overflow-auto xl:h-110 bxl:h-160 mxl:h-180 xxl:h-182">
                                <table id="myTable" class="border-separate border-spacing-2 ">
                                    <section>
                                        <div class="flex justify-between xl:w-full xl:mt-0 xl:p-3">
                                            <h1 class="text-2xl bxl:text-2xl xxl:text-3xl font-Poppins text-editProfile font-bold">All tickets</h1>
                                            <div class="input-group xl:mt-2 rounded-xl xl:py-1 xxl:py-2 xl:px-3 bg-gray-50 border border-gray-300 ">
                                                <input class="text-2base xxl:text-base font-Poppins bg-gray-50" type="search" placeholder="Search Tickets">
                                                <a class="fas fa-search text-base" href="#"></a>
                                            </div>    
                                            <div class="xl:mt-2 ">  
                                                <i onclick="openFilter()" id="openFilter" class="cursor-pointer fas fa-filter"></i>
                                                <ul id="openNavFilter" class="hidden bg-white absolute border-1 rounded-xl shadow-lg border-gray-500 xl:p-3 xl:right-5 xl:top-10">
                                                    
                                                    <li class="font-Poppins font-bold xl:text-sm text-purple-900 xl:pr-10">Filter by</li>
                                                    <li><a  href="#" class="font-Poppins xl:text-sm hover:bg-gray-300 duration-300 ">Submitted Date</a></li>
                                                    
                                                    <h2><li><a onclick="sortTable()"  href="#" class="font-Poppins xl:text-sm hover:bg-gray-300 duration-300 w-120">Ticket Name</a></li>
                                                    </h2>
                                                </ul>
                                            </div>

                                        </div>
                                    </section>
                                    <tbody>
                                        {% for ticket in issue_tickets %}
                                            <tr>
                                                <td  class="flex flex-col bg-gray-50 border border-gray-300 rounded-xl hover:bg-gray-200 duration-300 p-2">
                                                    <button ticket_id="{{ ticket.pk }}" onclick="ticket_view(this)">
                                                        <div class="flex justify-between text-2base bxl:text-base xxl:text-base font-bold text-profCol text-end ">
                                                            <h1 id="ticket_title" class="font-Poppins">{{ ticket.title }}</h1>
                                                            <h3 id="ticket_time" class="font-Poppins">{{ ticket.create_date | timesince }} ago</h3>
                                                        </div>
                                                        <div class="mt-5">
                                                            <p id="ticket_desc" class="font-Poppins text-start text-sm bxl:text-2base  xxl:text-2base">{{ ticket.description }}</p>
                                                        </div>
                                                        <div class="border border-gray-300 rounded-xl xl:w-fit xl:mt-3 text-sm bxl:p-1 xxl:p-1">
                                                            <p id="ticket_id" class="font-Lato">#{{ ticket.id }}</p>
                                                        </div>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td class="flex flex-col bg-gray-50 border border-gray-300 rounded-xl hover:bg-gray-200 duration-300 p-2">
                                                    <button>
                                                        <div class="flex justify-between text-2base bxl:text-base xxl:text-base font-bold text-profCol text-end ">
                                                            <h1 id="ticket_title" class="font-Poppins">No Ticket Created</h1>
                                                            <h3 id="ticket_time" class="font-Poppins">0hr ago</h3>
                                                        </div>
                                                        <div class="mt-5">
                                                            <p id="ticket_desc" class="font-Poppins text-start text-sm bxl:text-2base  xxl:text-2base">No Ticket Created</p>
                                                        </div>
                                                        <div class="border border-gray-300 rounded-xl xl:w-fit xl:mt-3 text-sm bxl:p-1 xxl:p-1">
                                                            <p id="ticket_id" class="font-Lato">#0000</p>
                                                        </div>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup-1" class="popup bg-gray-50 xl:w-160 xl:h-89 flex-col absolute z-10 xl:p-6">
            <div class="flex justify-between">
                <div class="flex xl:space-x-3">
                    <h1 class="font-Poppins text-2xl font-bold text-purple-900" id="view_ticket_name">Ticket Name</h1>
                    <div class="bg-gray-50 flex justify-center items-center border border-gray-300 rounded-xl xl:w-fit xl:mt-1 xl:h-7 xl:p-2 text-sm">
                        <p class="font-Lato" id="view_ticket_id">#1100</p>
                    </div>
                    <div class="flex justify-center items-center font-Lato xl:mt-1 xl:p-2 xl:text-sm xl:w-fit xl:h-6 rounded-full text-vs text-catText3 bg-catThree" id="view_ticket_status">Ongoing</div>
                </div>
                <button onclick="toggleCloseTickets()" class="fa fa-times-circle text-purple-900 text-xl xl:-mt-2 " aria-hidden="true"></button>
            </div>
            <div>
                <h4 class="font-Poppins text-gray-500 text-vs view_ticket_create_date">Submitted February 23 2023, 3:00 PM</h4>
            </div>
            <div class="bg-gray-50 border flex items-center xl:space-x-3 border-gray-300 rounded-xl xl:w-full xl:mt-1 xl:h-14 xl:px-4 xl:py-0 xl:mb-10 text-sm">
                <object data="{% static 'portal/images/person_q.svg' %}" class="xl:w-10 xl:h-15"></object>
                <div>
                    <h3 name="ticket_messagetitle" class="font-Poppins font-semibold">We're on it</h3>
                    <h3 name="ticket_messagedesc" class="font-Poppins">Give us awhile, we'll get backback to you as soon as we can.</h3>
                </div>
            </div>
            <div class="xl:mt-5 bg-gray-50 flex items-center xl:space-x-3 xl:w-full xl:h-20 xl:px-4 text-sm">
                <div>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center xl:space-x-3">
                            <img src="https://img.icons8.com/dusk/100/000000/user-female-circle.png" class="object-scale-down xl:w-10 xl:h-10">
                            <h3 name="client_name" class="font-Poppins font-semibold" id="view_ticket_owner_name">Client Name</h3>
                        </div>
                        <a class="fas fa-chevron-up text-2base" href="#"></a>
                    </div>
                    <h4 class="font-Poppins text-gray-500 text-vs view_ticket_create_date">Submitted February 23 2023, 3:00 PM</h4>
                    <h3 name="client_message" id="view_ticket_description" class="font-Poppins xl:text-xvs text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</h3>
                    <div class="bg-gray-50 flex justify-center items-center border border-gray-300 rounded-xl xl:w-fit xl:mt-1 xl:h-7 xl:p-2 text-sm">
                        <p class="font-Lato">Attachment</p>
                    </div>
                </div>
            </div>
            <div class=" flex items-center justify-center">
                <button type="submit" class=" font-Poppins font-semibold  mt-20 xl:mt-10 p-2 xl:p-0 kxl:p-3 kxl:text-4xl txl:text-xl xl:text:sm w-full rounded-full text-lg xl:text-sm xl:w-72 text-white bg-gradient-to-r from-linearButton1 to-linearButton2 transition-colors duration-500">Reply</button>
            </div>
        </div>
    </div>
    <div id="popup-submit-ticket" class="popup bg-gray-50 bxl:w-160 xl:w-120 xl:h-52 flex-col absolute z-10 xl:p-6 bxl:h-60">  
        <h1 class="text-2xl bxl:text-2xl font-Poppins font-bold text-purple-800">Ticket Submitted!</h1>
        <h4 class="font-Poppins text-xvs bxl:mt-3 bxl:text-base xl:mt-3">We're on it.</h4>
        <h4 class="font-Poppins text-xvs bxl:text-base">Give us awhile. We'll get back to you as soon as we can.</h4>
        <div class=" flex items-center justify-center">
            <button type="submit" class=" font-Poppins  mt-20 bxl:mt-16 xl:mt-12 p-2 xl:p-0 kxl:p-3 kxl:text-4xl txl:text-xl xl:text:sm w-full rounded-full text-lg xl:text-sm bxl:text-base xl:w-72 text-white bg-gradient-to-r from-linearButton1 to-linearButton2 transition-colors duration-500" onclick="location.reload(true);">View Tickets</button>
        </div>
    </div>
    <script src="{% static 'portal/js/uploadImg.js' %}"></script>
    <script src="{% static 'portal/js/enableBtn.js' %}"></script>
    <script src="{% static 'portal/js/tableStng.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/js/jquery_3.7.0.js' %}"></script>
    <script type="text/javascript">
	$(document).ready(function(){
		// $("#ticket_list").DataTable();
		// $("#ticket_list_length").hide();
		// $("#ticket_list_filter").hide();
	})

	function SubmitNewTicket(){
		var ticket_type = $("#ticket_type").val();
		var ticket_title = $("#ticket_title").val();
		var ticket_description = $("#ticket_description").val();
		if(ticket_type == 0){
			alert("Ticket Type should not be empty!");
			return false;
		}
		if(ticket_title == ""){
			alert("ticket Title should not be empty!");
			return false;
		}
		$.ajax({
	        type: "POST",
	        url: "{% url 'Addticket' %}",
	        data: {
	        	"csrfmiddlewaretoken": '{{ csrf_token }}',
	        	"type":ticket_type,
	        	"title": ticket_title,
	        	"description": ticket_description,
	        },
	        async:true,
	        success: function (data) {
	        	if(data.status_code == 1){
	        		document.getElementById("popup-submit-ticket").classList.toggle("active");
    				document.getElementById("overlay_id").classList.toggle("active");
	        	}else{
	        		alert("error on adding a ticket!");
	        	}
	        },
	        error: function (e) {
	            
	        }
	    })

	}

    function ticket_view(that){
        var ticket_id = $(that).attr("ticket_id");
        $("#view_ticket_name").empty();
        $("#view_ticket_id").empty();
        $("#view_ticket_status").empty();
        $(".view_ticket_create_date").empty();
        $("#view_ticket_owner_name").empty();
        $("#view_ticket_description").empty();
        $.ajax({
            type: "POST",
            url: "{% url 'getTicketDetails' %}",
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "ticket_id":ticket_id,
            },
            async:true,
            success: function (data) {
                if(data.status_code == 1){
                    $("#view_ticket_name").append(data.issue_name);
                    $("#view_ticket_id").append("#"+data.issue_id);
                    $("#view_ticket_status").append(data.issue_status);
                    $(".view_ticket_create_date").append("Submitted "+data.create_date);
                    $("#view_ticket_owner_name").append(data.owner_name);
                    $("#view_ticket_description").append(data.issue_description);

                    document.getElementById("popup-1").classList.toggle("active");
                    document.getElementById("overlay_id").classList.toggle("active");
                }else{
                    alert("error on adding a ticket!");
                }
            },
            error: function (e) {
                
            }
        })
        
    }
</script>
</body>
</html>