{% extends 'admin_templates/admin_base.html' %}

{% load static %}

{% block title %} Admin Dashboard {% endblock title %}

{% block style %}
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
<style type="text/css">
	.dot {
		width: 70%;
	  	background-color: #6417A180;
	  	border-radius: 50%;
	  	display: inline-block;
	}
	.dashboard_cards{
		font-weight: 800;
		font-size: 15px;
	}
</style>

{% endblock style %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<h3 class="dashboard_welcome_greeting">Ticket Lists</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table class="table" id="ticket_list">
				<thead>
					<tr>
	      				<th scope="col">TITLE</th>
					    <th scope="col">TICKET ID</th>
	      				<th scope="col">TYPE</th>
	      				<th scope="col">OWNER</th>
	      				<th scope="col">STATUS</th>
	    			</tr>
				</thead>
				<tbody class="ticket_table_list">
					{% for ticket in tickets %}
						<tr>
							<td><b><a style='text-decoration: none;' href="{% url 'getAdminTicketDetails' ticket.pk %}">{{ ticket.title }}</a></b></td>
							<td>#{{ ticket.id }} </td>
							<td>Task</td>
							<td>
								{% if ticket.profile_picture|length > 0 %}
                            		<img src="/media/{{ ticket.profile_picture |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle" style="margin-top: 5px;"> <span> {{ ticket.userId.first_name }} {{ ticket.userId.last_name }} </span> 	
                        		{% else %}
                            		<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle" style="margin-top: 5px;"> <span> {{ ticket.userId.first_name }} {{ ticket.userId.last_name }} </span> 	
                        		{% endif %}	
							</td>
							<td>
								{% if ticket.ticket_status == "OPEN" %}
									<span class='badge bg-primary'>OPEN</span>
								{% elif ticket.ticket_status == "IN PROGRESS" %}
									<span class='badge bg-warning'>IN PROGRESS</span>
								{% elif ticket.ticket_status == "TO BE TESTED" %}
									<span class='badge bg-success'>TO BE TESTED</span>
								{% elif ticket.ticket_status == "CLOSED"  %}
									<span class='badge bg-info'>CLOSED</span>
								{% else %}
									<span class='badge bg-light text-dark'>{{ ticket.status }}</span>
								{% endif %}
							</td>
						</tr>
					{% empty %}
						<tr>
							<td>No Tickets Found!</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					{% endfor %}
					
				</tbody>
			</table>
		</div>
	</div>
	
{% endblock %}

{% block script %}
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		
		
	</script>
{% endblock %}