{% extends 'admin_templates/admin_base.html' %}

{% load static %}

{% block title %} Admin Dashboard {% endblock title %}

{% block style %}
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'portal_admin/css/admin_ticket_detailed.css' %}">

{% endblock style %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<h3 class="dashboard_welcome_greeting">Ticket Dashboard</h3>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
	  		<div class="card-body">
	  			<div class="row">
	    			<div class="col-sm-6">
	    				<div class="row">
	    					<div class="col-sm-12">
	    						<h4 class="ticket_title"> <span>{{ ticket.title }}</span>  <i class="fa-solid fa-pencil active_edit" style="display:none; cursor: pointer;" id="edit_ticket_title"></i></h4>
	    					</div>
	    				</div>
					</div>
					<div class="col-sm-5"></div>
					<div class="col-sm-1" style="text-align:right;">
						<div class="dropdown">
  							<span type="button" id="TicketActionDropDown" data-bs-toggle="dropdown" aria-expanded="false">
  								<b>• • •</b>
  							</span>
							<ul class="dropdown-menu" aria-labelledby="TicketActionDropDown">
						    	<li><a class="dropdown-item" href="#" action="edit" onclick="ticketAction(this);">Edit</a></li>
						    	<li><a class="dropdown-item" href="#" action="delete" onclick="ticketAction(this);" >Delete</a></li>
						    </ul>
						</div>
					</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-sm-9 ticket_detail_id">
						<i class="fa-solid fa-ticket"></i>#{{ ticket.pk }}	  					
	  				</div>
	  				<div class="col-sm-3">
	  					<div class="dropdown">
  							<span  type="button" id="ticketPercentageBar" data-bs-toggle="dropdown" aria-expanded="false" style="width:100%;">
  								<div class="progress" >
  									<div class="progress-bar ticket_progress_bar" role="progressbar" style="width: {{ ticket.percentage }}%;" aria-valuenow="{{ ticket.percentage }}" aria-valuemin="0" aria-valuemax="100">{{ ticket.percentage }}%</div>
								</div>
  							</span>
							<ul class="dropdown-menu" aria-labelledby="ticketPercentageBar">
						    	<li><a class="dropdown-item" href="#" percentage_val="10" onclick="updateTicketPercentage(this);">10%</a></li>
						    	<li><a class="dropdown-item" href="#" percentage_val="20" onclick="updateTicketPercentage(this);">20%</a></li>
						    	<li><a class="dropdown-item" href="#" percentage_val="30" onclick="updateTicketPercentage(this);">30%</a></li>
						    	<li><a class="dropdown-item" href="#" percentage_val="40" onclick="updateTicketPercentage(this);">40%</a></li>
						    	<li><a class="dropdown-item" href="#" percentage_val="50" onclick="updateTicketPercentage(this);">50%</a></li>
						    	<li><a class="dropdown-item" href="#" percentage_val="60" onclick="updateTicketPercentage(this);">60%</a></li>
						    	<li><a class="dropdown-item" href="#" percentage_val="70" onclick="updateTicketPercentage(this);">70%</a></li>
						    	<li><a class="dropdown-item" href="#" percentage_val="80" onclick="updateTicketPercentage(this);">80%</a></li>
						    	<li><a class="dropdown-item" href="#" percentage_val="90" onclick="updateTicketPercentage(this);">90%</a></li>
						    	<li><a class="dropdown-item" href="#" percentage_val="100" onclick="updateTicketPercentage(this);">100%</a></li>
						    </ul>
						</div>
	  					
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-sm-12">
	  					<div class="dropdown">
  							<span class="dropdown-toggle" type="button" id="TicketStatusDropDown" data-bs-toggle="dropdown" aria-expanded="false">
  								{% if ticket.ticket_status == "OPEN" %}
									<span class='badge bg-primary'>OPEN</span>
								{% elif ticket.ticket_status == "IN PROGRESS" %}
									<span class='badge bg-warning'>IN PROGRESS</span>
								{% elif ticket.ticket_status == "TO BE TESTED" %}
									<span class='badge bg-success'>TO BE TESTED</span>
								{% elif ticket.ticket_status == "CLOSED"  %}
									<span class='badge bg-info'>CLOSED</span>
								{% else %}
									<span class='badge bg-light text-dark'>{{ ticket.ticket_status }}</span>
								{% endif %}
  							</span>
							<ul class="dropdown-menu" aria-labelledby="TicketStatusDropDown">
						    	<li><a class="dropdown-item" href="#" action="OPEN" onclick="updateTicketStatus(this);">OPEN</a></li>
						    	<li><a class="dropdown-item" href="#" action="IN PROGRESS" onclick="updateTicketStatus(this);">IN PROGRESS</a></li>
						    	<li><a class="dropdown-item" href="#" action="TO BE TESTED" onclick="updateTicketStatus(this);">TO BE TESTED</a></li>
						    	<li><a class="dropdown-item" href="#" action="CLOSED" onclick="updateTicketStatus(this);">CLOSED</a></li>
						    </ul>
						</div>
	  					
	  				</div>
	  			</div><br/><br/>
	  			<div class="row">
	  				<div class="col-sm-8">
	  					<p class="ticket_description_paragraph">{{ ticket.description}}</p>
	  					<br/>
	  					<div class="row">
	  						<nav class="flex-column flex-sm-row">
  								<div class="nav nav-tabs" id="nav-tab" role="tablist">
    								<button class="nav-link active nav-title" id="nav-comment-tab" data-bs-toggle="tab" data-bs-target="#nav-comment" type="button" role="tab" aria-controls="nav-comment" aria-selected="true" style="width:25%;"> COMMENTS ({{ private_comment.count }}) </button>
    								<button class="nav-link nav-title" id="nav-attachment-tab" data-bs-toggle="tab" data-bs-target="#nav-attachment" type="button" role="tab" aria-controls="nav-attachment" aria-selected="false" style="width:25%;"> ATTACHMENTS ({{ ticket_comment_attachments.count|add:attachments.count }}) </button>
    								<button class="nav-link nav-title" id="nav-resolution-tab" data-bs-toggle="tab" data-bs-target="#nav-resolution" type="button" role="tab" aria-controls="nav-resolution" aria-selected="false" style="width:25%;"> RESOLUTION </button>
    								<button class="nav-link nav-title" id="nav-clientcorner-tab" data-bs-toggle="tab" data-bs-target="#nav-clientcorner" type="button" role="tab" aria-controls="nav-clientcorner" aria-selected="false" style="width:25%;"> CLIENTS CORNER ({{client_comment.count}}) </button>
  								</div>
							</nav>
							<div class="tab-content" id="nav-tabContent">
  								<div class="tab-pane fade show active" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
  									<ul class="list-group ticket_comments_wrapper">
  										{% for comment in private_comment %}
  											<li class="list-group-item" >
	  											<div class="row">
	  												<div class="col-sm-1" style="text-align:right;">
	  													{% if comment.owner.profile_picture|length > 0 %}
	  														<img src="{{ comment.owner.profile_picture.url |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;">
	  													{% else %}
	  														<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;">
	  													{% endif %}
	  												</div>
	  												<div class="col-sm-11 comment_details">
	  													<div class="row">
	  														<div class="col-sm-12">
	  															<span><b>{{ comment.owner.first_name }} {{ comment.owner.last_name }}</b></span>
	  														</div>
	  														<div class="col-sm-12" style="color: #878383;">
	  															<p>{{ comment.comment }}</p>
	  														</div>
	  														<div class="col-sm-12">
	  															<div class="row">
		  														{% for attachment in ticket_comment_attachments %}
		  															{% if attachment.commentId.pk == comment.pk %}
		  																<div class="col-sm-3">
		  																	<div class="card" style="width: 90%;">
																			  	<div class="card-body">
																				    <p class="card-text" style="text-align: center;margin: auto;font-size: 60px;">
																				    	<i class="fa-solid fa-file"></i>
																				    </p>
																				    <a href="#" class="card-link attachments_name">{{attachment.comment_file_name}}</a>
																				    <a href="{{attachment.comment_file}}" download="{{attachment.comment_file_name}}" class="card-link" style="float:right; text-decoration: none; color: #585858;"><i class="fa-solid fa-download"></i></a>
																			  	</div>
																			</div>
		  																</div>
		  															{% endif %}
		  														{% endfor %}
	  															</div>
	  														</div>
	  														<div class="col-sm-12 comment_footer" >
	  															<span>{{ comment.create_date|date:"m/d/Y H:i" }}</span> • <a href="#" style="text-decoration: none; color: #05A91F;">Edit</a> • <a href="#" style="text-decoration: none; color: #05A91F;">Delete</a>
	  														</div>
	  													</div>
	  												</div>
	  											</div>
	  										</li>
  										{% endfor %}
  									</ul>
  									<br/>
  									<form method="POST" id="private_comment_form" action="{% url 'getAdminTicketDetails' ticket.pk %}" enctype="multipart/form-data">
  										{% csrf_token %}
	  									<div class="row">
	  										<div class="col-sm-1" style="text-align: right;">
	  											{% if profile_details.profile_picture|length > 0 %}
	  												<img src="{{ profile_details.profile_picture.url |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;">
	  											{% else %}
	  												<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;">
	  											{% endif %}	
	  										</div>
	  										<div class="col-sm-10">
	  											<div class="form-outline w-100">
	  												<textarea class="form-control" rows="4" id="private_ticket_comment" name="private_ticket_comment" placeholder="Comment . . ."></textarea>
	  											</div>
	  											<input type="hidden" name="is_private" id="is_private" value="1">
	  											<div class="row form-outline">
	  												<div class="col-sm-9">
	  													<label for="private_attachments" id="private_attachement_label" class="btn"><i class="fa-solid fa-paperclip"></i> Attachements</label>
	    												<input type="file" id="private_attachments" name="private_attachments" style="visibility:hidden;"  multiple onchange="checkNumberOfFiles(this);">
	  												</div>
	  												<div class="col-sm-3" style="text-align:right;">
	  													<button type="button" class="btn btn-primary btn-sm post_comment" >Post comment</button>
	              										<button type="button" class="btn btn-outline-primary btn-sm clear_comment">Cancel</button>
	  												</div>
													
	  											</div>
	  										</div>
	  										<div class="col-sm-1"></div>
	  									</div>
  									</form>
  								</div>
  								<div class="tab-pane fade" id="nav-attachment" role="tabpanel" aria-labelledby="nav-attachment-tab">
  									<br/>
  									<div class="row nav-attachment">
  										{% for attachment in ticket_comment_attachments %}
											<div class="col-sm-3">
												<div class="card" style="width: 90%;">
												  	<div class="card-body">
													    <p class="card-text" style="text-align: center;margin: auto;font-size: 60px;">
													    	<i class="fa-solid fa-file"></i>
													    </p>
													    <a href="#" class="card-link attachments_name">{{attachment.comment_file_name}}</a>
													    <a href="{{attachment.comment_file}}" download="{{attachment.comment_file_name}}" class="card-link" style="float:right; text-decoration: none; color: #585858;"><i class="fa-solid fa-download"></i></a>
												  	</div>
												</div>
											</div>
										{% endfor %}

										{% for attachment in attachments %}
											<div class="col-sm-3">
												<div class="card" style="width: 90%;">
												  	<div class="card-body">
													    <p class="card-text" style="text-align: center;margin: auto;font-size: 60px;">
													    	<i class="fa-solid fa-file"></i>
													    </p>
													    <a href="#" class="card-link attachments_name">{{attachment.name}}</a>
													    <a href="{{attachment.issue_file}}" download="{{attachment.name}}" class="card-link" style="float:right; text-decoration: none; color: #585858;"><i class="fa-solid fa-download"></i></a>
												  	</div>
												</div>
											</div>

										{% endfor %}
  									</div>
  								</div>
  								<div class="tab-pane fade" id="nav-resolution" role="tabpanel" aria-labelledby="nav-resolution-tab">...</div>
  								<div class="tab-pane fade" id="nav-clientcorner" role="tabpanel" aria-labelledby="nav-clientcorner-tab">
  									<ul class="list-group client_comment_wrapper">
  										{% for comment in client_comment %}
  											<li class="list-group-item" >
	  											<div class="row">
	  												<div class="col-sm-1" style="text-align:right;">
	  													{% if comment.owner.profile_picture|length > 0 %}
	  														<img src="{{ comment.owner.profile_picture.url |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;">
	  													{% else %}
	  														<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;">
	  													{% endif %}
	  												</div>
	  												<div class="col-sm-11 comment_details">
	  													<div class="row">
	  														<div class="col-sm-12">
	  															<span><b>{{ comment.owner.first_name }} {{ comment.owner.last_name }}</b></span>
	  														</div>
	  														<div class="col-sm-12" style="color: #878383;">
	  															<p>{{ comment.comment }}</p>
	  														</div>
	  														<div class="col-sm-12">
	  															<div class="row">
		  														{% for attachment in ticket_comment_attachments %}
		  															{% if attachment.commentId.pk == comment.pk %}
		  																<div class="col-sm-3">
		  																	<div class="card" style="width: 90%;">
																			  	<div class="card-body">
																				    <p class="card-text" style="text-align: center;margin: auto;font-size: 60px;">
																				    	<i class="fa-solid fa-file"></i>
																				    </p>
																				    <a href="#" class="card-link attachments_name">{{attachment.comment_file_name}}</a>
																				    <a href="{{attachment.comment_file}}" download="{{attachment.comment_file_name}}" class="card-link" style="float:right; text-decoration: none; color: #585858;"><i class="fa-solid fa-download"></i></a>
																			  	</div>
																			</div>
		  																</div>
		  															{% endif %}
		  														{% endfor %}
	  															</div>
	  														</div>
	  														<div class="col-sm-12 comment_footer">
	  															<span>{{ comment.create_date|date:"m/d/Y H:i" }}</span> • <a href="#" style="text-decoration: none; color: #05A91F;">Edit</a> • <a href="#" style="text-decoration: none; color: #05A91F;">Delete</a>
	  														</div>
	  													</div>
	  												</div>
	  											</div>
	  										</li>
  										{% endfor %}
  									</ul>
  									<br/>
  									<form method="POST" id="client_comment_form" action="{% url 'getAdminTicketDetails' ticket.pk %}" enctype="multipart/form-data">
  										{% csrf_token %}
	  									<div class="row">
	  										<div class="col-sm-1" style="text-align: right;">
	  											{% if profile_details.profile_picture|length > 0 %}
	  												<img src="{{ profile_details.profile_picture.url |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;">
	  											{% else %}
	  												<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;">
	  											{% endif %}	
	  										</div>
	  										<div class="col-sm-10">
	  											<div class="form-outline w-100">
	  												<textarea class="form-control" rows="4" id="client_ticket_comment" name="client_ticket_comment" placeholder="Comment . . ."></textarea>
	  											</div>
	  											<input type="hidden" name="is_private" id="is_private" value="0">
	  											<div class="row form-outline">
	  												<div class="col-sm-9">
	  													<label for="ticket_client_attachments" id="client_attachement_label" class="btn"><i class="fa-solid fa-paperclip"></i> Attachements</label>
	    												<input id="ticket_client_attachments" name="ticket_client_attachments" style="visibility:hidden;" type="file" multiple onchange="checkNumberOfFiles(this);">
	  												</div>
	  												<div class="col-sm-3" style="text-align:right;">
	  													<button type="button" class="btn btn-primary btn-sm client_post_comment">Post comment</button>
	              										<button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
	  												</div>
													
	  											</div>
	  										</div>
	  										<div class="col-sm-1"></div>
	  									</div>
	  								</form>
  								</div>
							</div>
	  					</div>
	  					
	  				</div>
	  				<div class="col-sm-1"></div>
	  				<div class="col-sm-3">
	  					<div class="row">
	  						<div class="col-sm-12">
	  							<h5 class="ticket_title">Client</h5>
		  						{% if ticket.userAccount.profile_picture|length > 0 %}
	                        		<img src="{{ ticket.userAccount.profile_picture.url |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;"> <span class="comment_details"> {{ ticket.userAccount.first_name }} {{ ticket.userAccount.last_name }} </span> 	
	                    		{% else %}
	                        		<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circl comment_prof_pice" style="margin-top: 5px;"> <span class="comment_details"> {{ ticket.userAccount.userId.first_name }} {{ ticket.userAccount.last_name }} </span> 	
	                    		{% endif %}	
	  						</div>
	  					</div>
	  					<div class="row">
	  						<div class="col-sm-12">
	  							<h5 class="ticket_title">Participants<i class="fa-solid fa-pencil active_edit" style="display:none; cursor: pointer;" id="edit_participants"></i></h5>
	  							<ul class="list-group" style="border: 0px;">
								  	<li class="list-group-item" style="border: 0px;">
								  		<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;"> <span class="comment_details"> Sample name </span>
								  	</li>
								  	<li class="list-group-item" style="border: 0px;">
								  		<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;"> <span class="comment_details"> Sample name </span>
								  	</li>
								  	<li class="list-group-item" style="border: 0px;">
								  		<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle comment_prof_pic" style="margin-top: 5px;"> <span class="comment_details"> Sample name </span>
								  	</li>
								  	
								</ul>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
			</div>
		</div>
	</div>
	
	<input type="hidden" name="edit_status" id="edit_status" value=0>
	<input type="hidden" name="ticket_id" id="ticket_id" value="{{ ticket.pk }}">
{% endblock %}

{% block script %}
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var ticket_id = $("#ticket_id").val();


			$(".clear_comment").on("click", function(){
				document.getElementById("ticket_comment_form").reset();
				$("#ticket_attachement_label").empty();
				$("#ticket_attachement_label").append('<i class="fa-solid fa-paperclip"></i> Attachements');
			})

			$(".post_comment").on("click", function(){
				upload_comment();
			})

			$(".client_post_comment").on("click", function(){
				update_client_comment();
				console.log("here!");
			})

		})

		function update_client_comment(){
			var comment = $("#client_ticket_comment").val();
			var number_of_file = $("#ticket_client_attachments")[0].files.length;
			if(number_of_file > 0 || comment.length > 0){
				$("#client_comment_form").submit();
			}else{
				alert("comment should not be empty!");
			}
		}

		function upload_comment(){
			var comment = $("#private_ticket_comment").val();
			var number_of_file = $("#private_attachments")[0].files.length;
			if(number_of_file > 0 || comment.length > 0){
				$("#private_comment_form").submit();
			}else{
				alert("comment should not be empty!");
			}
		}

		function updateTicketDescription(){
			var ticket_id = $("#ticket_id").val();
			var description = $("#ticket_description_textarea").val();
			$.ajax({
	            type: "POST",
	            url: "{% url 'UpdateTicketDescription' %}",
	            data: {
	                "csrfmiddlewaretoken": '{{ csrf_token }}',
	                "ticket_id":ticket_id,
	                "ticket_description":description,
	            },
	            async:true,
	            success: function (data) {
	                if(data.status_code == 1){
	                	$("#ticket_description_textarea").hide();
						$(".ticket_description_action").hide();
						$(".ticket_description_paragraph").show();
						alert("Description updated!");
	                }else{
	                	alert(data.status_msg);
	                }
	            },
	            error: function (e) {
	                
	            }
	        })
		}

		function updateTicketPercentage(that){
			var percentage = $(that).attr("percentage_val");
			var ticket_id = $("#ticket_id").val();
			$.ajax({
	            type: "POST",
	            url: "{% url 'UpdateTicketPercentage' %}",
	            data: {
	                "csrfmiddlewaretoken": '{{ csrf_token }}',
	                "ticket_id":ticket_id,
	                "ticket_percentage":percentage,
	            },
	            async:true,
	            success: function (data) {
	                if(data.status_code == 1){
	                	updateTicketPercentageOutput(percentage);
						alert("percentage updated!");
	                }else{
	                	alert(data.status_msg);
	                }
	            },
	            error: function (e) {
	                
	            }
	        })
			
		}

		function updateTicketPercentageOutput(percentage){
			$("#ticketPercentageBar").empty();
			var output = "<div class='progress' style='height: 1.75rem; border-radius: 2rem'>";
  			output += "<div class='progress-bar ticket_progress_bar' role='progressbar' style='width: "+percentage+"%;' aria-valuenow='"+percentage+"' aria-valuemin='0' aria-valuemax='100'>"+percentage+"%</div>";
			output += "</div>";
			$("#ticketPercentageBar").append(output);
		}

		function updateTicketStatus(that){
			var action = $(that).attr("action");
			var ticket_id = $("#ticket_id").val();
			$.ajax({
	            type: "POST",
	            url: "{% url 'updateTicketStatus' %}",
	            data: {
	                "csrfmiddlewaretoken": '{{ csrf_token }}',
	                "ticket_id":ticket_id,
	                "ticket_status":action,
	            },
	            async:false,
	            success: function (data) {
	                if(data.status_code == 1){
	                	updateTicketStatusOutput(action)
						alert("status updated!");
	                }else{
	                	alert(data.status_msg);
	                }
	            },
	            error: function (e) {
	                
	            }
	        })
		}

		function updateTicketStatusOutput(action){
			$("#TicketStatusDropDown").empty();
        	if(action == "OPEN"){
				$("#TicketStatusDropDown").append("<span class='badge bg-primary'>OPEN</span>");
			}else if(action == "IN PROGRESS"){
				$("#TicketStatusDropDown").append("<span class='badge bg-warning'>IN PROGRESS</span>");
			}else if(action == "TO BE TESTED"){
				$("#TicketStatusDropDown").append("<span class='badge bg-success'>TO BE TESTED</span>");
			}else if(action == "CLOSED"){
				$("#TicketStatusDropDown").append("<span class='badge bg-info'>CLOSED</span>");
			}
		}

		function updateTicketTitle(){
			var ticket_title = $("#ticket_title_edit_input").val();
			var ticket_id = $("#ticket_id").val();
			$.ajax({
	            type: "POST",
	            url: "{% url 'updateTicketTitle' %}",
	            data: {
	                "csrfmiddlewaretoken": '{{ csrf_token }}',
	                "ticket_id":ticket_id,
	                "ticket_title":ticket_title,
	            },
	            async:false,
	            success: function (data) {
	                if(data.status_code == 1){
	                	$(".ticket_title span").empty();
	                	$(".ticket_title span").append(ticket_title);
	                	$(".cancel_ticket_title").click();
	                }else{
	                	alert(data.status_msg);
	                }
	                
	            },
	            error: function (e) {
	                
	            }
	        })
		}

		function ticketAction(that){
			var action = $(that).attr("action");
			if(action == "edit"){
				$(".active_edit").show();
				$("#edit_status").val(1);
			}
		}




		function checkNumberOfFiles(that){
			if( $(that).attr("id") == "ticket_client_attachments"){
				var number_of_file = $(that)[0].files.length;
				$("#client_attachement_label").empty();
				if(number_of_file > 1){
					$("#client_attachement_label").append("<i class='fa-solid fa-paperclip'></i> Attachements "+number_of_file+" files");
				}else if(number_of_file == 1){
					$("#client_attachement_label").append("<i class='fa-solid fa-paperclip'></i> Attachements "+number_of_file+" file");
				}else{
					$("#client_attachement_label").append("<i class='fa-solid fa-paperclip'></i> Attachements");
				}
			}else{
				var number_of_file = $(that)[0].files.length;
				$("#private_attachement_label").empty();
				if(number_of_file > 1){
					$("#private_attachement_label").append("<i class='fa-solid fa-paperclip'></i> Attachements "+number_of_file+" files");
				}else if(number_of_file == 1){
					$("#private_attachement_label").append("<i class='fa-solid fa-paperclip'></i> Attachements "+number_of_file+" file");
				}else{
					$("#private_attachement_label").append("<i class='fa-solid fa-paperclip'></i> Attachements");
				}
			}
			
		}
	</script>
{% endblock %}