{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits Dashboard | Credits</title>
    <link rel="stylesheet" href="{% static 'portal/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/style_v1.css' %}">
    <link rel="stylesheet" href="{% static 'tailwinds/output.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome_5_13.min.css' %}">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <!-- Sidebar Panel -->
    <div class="overlay hidden" onclick="toggleOverlayCredit()" id="overlay_id"></div>
    <div class="flex">
        {% include 'sidebar.html' %}
        <div>
            <nav class="bg-whiteSmoke text-white flex absolute right-0 justify-between items-center ml-0 m-8 h-20 xl:h-12 z-0 px-10 xl:px-0 mt-0 bxl:mt-2 xxl:mt-3 xl_4k:mt-12 xl_4k:px-12">
                <ul class="flex items-center text-sm  text-gray-600">
                    <li class="flex items-center justify-center">
                        <a class="fas fa-search text-lg xl_4k:text-5xl" href="#"></a>
                        <form action="">
                            <div class="h-10 flex items-center space-x-5 w-52 xl_4k:w-80">
                                <input class="w-full font-Poppins bxl:text-base bg-whiteSmoke text-black xl:py-1 xl:text-sm xxl:text-lg outline-0 py-4 px-5 text-lg xl_4k:text-4xl" type="text" placeholder="Search">
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="flex items-center text-sm text-gray-600">
                    <div class="flex items-center justify-center space-x-5 xl_4k:space-x-20">
                        <li>
                            <a class="fas fa-bell text-lg ml-6  xl_4k:text-5xl" href="#"></a>
                        </li>
                        <div class="flex items-center justify-center">
                            <li>
                                <a href="#">
                                    <img src="https://img.icons8.com/dusk/100/000000/user-female-circle.png" class="object-scale-down h-10 w-20 rounded-full"> 
                                </a>
                            </li>
                            
                            <li class="text-lg xl:text-sm xxl:text-lg">
                                <p class="font-Jost xl_4k:text-5xl">{{ profile_details.first_name }} {{ profile_details.last_name }}</p>
                            </li>
                        </div>
                        <li class="">
                            <a class="fas fa-chevron-down text-lg xl_4k:text-4xl ml-3" href="#"></a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>

        <div class="mt-32 bxl:mt-20 xl:mt-16 ml-5 xl:ml-10 xxl:ml-10 xxl:mt-16 xl_4k:mt-56 xl_4k:ml-20 overflow-hidden w-full">
            <div class="flex justify-between overflow-auto">
                <h1 class="text-4xl xl:text-2xl bxl:text-2xl mxl:text-3xl xxl:text-3xl  xl_4k:text-6xl font-Poppins text-editProfile font-extrabold">Your Credit</h1>
                
                <!-- Place this here temporarily--> 
                <a href="customPlan.html" class="xl_4k:text-4xl">Create custom plan</a>
                <a href="managePlan.html" class="xl_4k:text-4xl">Manage custom plan</a>

                
                <a href="#" onclick="toggleAddCredit()" class="text-center justify-center items-center font-Lato mt-20 xl:mt-0 xxl:mt-10 p-2 xl_4k:text-3xl xl_4k:p-6 xl_4k:w-80
                xl:p-1 xxl:p-2 xl:text:sm w-32 rounded-lg text-lg xl:text-sm xl:w-40 mxl:w-48 mxl:text-base mxl:py-3 xl:mr-10 xxl:mr-20 text-white bg-gradient-to-r from-linearButton1 to-linearButton2 duration-500">ADD MORE</a>
            </div>
            
            <div class="flex xl:w-210 mxl:w-full xxl:w-full xl:mt-6 xl:space-x-8 xxl:space-x-24 xl:ml-5 xxl:ml-0 items-center justify-center">
                
                <div class="flex flex-col xl:w-96 bxl:w-96 mxl:w-140 xl:h-44 xl_4k:w-200 xl_4k:h-72 xl_4k:p-8 bg-white border border-gray-300 rounded-xl hover:bg-gray-200 duration-300 p-2 mxl:p-4">
                    <div class="flex justify-start font-bold ">
                        <h1 id="" class="font-Poppins text-profCol xl:text-lg xl_4k:text-4xl font-bold">Available Credit</h1>
                    </div>

                    <div class="mt-5">
                        <p class="text-3xl font-bold font-Poppins text-center xl_4k:text-4xl">{{ AVC }}</p>
                        <p id="" class="font-Poppins text-center text-sm bxl:text-2base xl_4k:text-4xl">Use your credits to request more task!</p>
                    </div>
                </div>

                <div class="flex flex-col xl:w-96 bxl:w-96 mxl:w-140 xl:h-44 xl_4k:w-200 xl_4k:h-72 xl_4k:p-8 bg-white border border-gray-300 rounded-xl hover:bg-gray-200 duration-300 p-2 mxl:p-4">
                    <div class="flex justify-start font-bold ">
                        <h1 id="" class="font-Poppins text-profCol xl:text-lg font-bold xl_4k:text-4xl">Total Credits Used</h1>
                    </div>
                    <div class="mt-5">
                        <p class="text-3xl font-bold font-Poppins text-center xl_4k:text-4xl">{{ TCU }}</p>
                        <p id="" class="font-Poppins text-center text-sm bxl:text-2base xl_4k:text-4xl">Use your credits to request more task!</p>
                    </div>
                </div>

            </div>
            
            
            <div class="xl:mt-4 bxl:mt-8 xxl:mt-10 ml-5 xl:ml-2 xxl:ml-5 xl_4k:ml-0 xl_4k:px-32 xl_4k:mt-20 flex bxl:w-full mxl:w-full xxl:w-full xl:mb-10 bxl:mb-0">
                
                <!-- removed credit_body class -->
                <div class="w-full overflow-auto xl:h-110 bxl:h-92 mxl:h-110 xl_4k:h-200 bg-white border border-gray-300 rounded-xl xl:p-3 xxl:p-8 xl:mr-10 bxl:mr-20">

                    <h1 class="text-4xl xl:text-xl bxl:text-xl font-bold font-Poppins text-profCol xl_4k:text-5xl">Credits History</h1>
                    <table class="xl:mt-1 xl_4k:mt-8 xl:w-210 bxl:w-205 mxl:w-225 xxl:w-full xl:mx-6 bxl:mx-10 mxl:mx-5 xxl:mx-0">
                        <thead class="thead_bg">
                            <tr class="credit text-2base bxl:text-base xxl:text-lg xl_4k:text-4xl font-thin text-black border-b-1 border-gray-300 mxl:w-120 w-full">
                                <th class="font-Poppins ">Task Name</th>
                                <th class="font-Poppins ">Start Date</th>
                                <th class="font-Poppins">End Date</th>
                                <th class="font-Poppins text-center">Credits Used</th>
                            </tr>
                        </thead>
                        <tbody class="credit text-2base  font-Lato ">
                            {% for history in history_list %}
                                <tr class="inv_tr xl:text-2base text-base xl_4k:text-4xl">
                                    <td class="font-Lato font-semibold p-2">
                                        <p class="font-Poppins font-bold">{{ history.title }}!</p>
                                        <p class="font-Poppins text-sm text-gray-500">{{ history.desc }}</p>
                                    </td>
                                    <td class="font-Lato font-semibold">{{ history.create_date|date:'M d, Y' }}</td>
                                    <td class="font-Lato font-semibold">{{ history.create_date|date:'M d, Y' }}</td>
                                    <td class="font-Lato font-semibold" style="text-align:center">{{ history.credit }}</td>
                                </tr>
                            {% empty %}
                                <tr class="inv_tr xl:text-2base text-base xl_4k:text-4xl">
                                    <td class="font-Lato font-semibold p-2">
                                        <p class="font-Poppins font-bold ">No Credits Added</p>
                                        <p class="font-Poppins text-sm text-gray-500"></p>
                                    </td>
                                    <td class="font-Lato font-semibold"></td>
                                    <td class="font-Lato font-semibold"></td>
                                    <td class="font-Lato font-semibold" style="text-align:center"></td>
                                </tr>


                                

                                
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>      
        </div>
    </div>


    <div id="popup-add-credit" class="popup bg-gray-50 xl:w-135 xl:h-110 flex-col fixed z-10 xl:p-6">
        <div class="flex justify-between">
            <h1 class="font-Poppins text-xl font-bold text-purple-900">Buy Credits</h1>
            <button onclick="toggleCancelAddCredit()" class="fa fa-times-circle text-purple-900 text-xl xl:-mt-10 " aria-hidden="true"></button>
        </div>
        <div class="xl:mt-2">
            <h2 class="font-Poppins text-base">Buy credits to add more task</h2>
        </div>
        <form action="#">
            <div class="flex flex-col items-center justify-center">

                <h3 class="xl:mb-2 text-gray-600">How many credits would you like to add?</h3>

                <div class="flex items-center justify-center xl:space-x-4 mb-2">
                    <div>
                        <input  type="radio" id="option1" name="choice" value="option1" class="hidden">
                        <label for="option1" class="custom-element hover:bg-purple-500 hover:duration-500 font-Poppins text-sm font-semibold">500</label>
                    </div>
                    <div>
                        <input type="radio" id="option2" name="choice" value="option2" class="hidden">
                        <label for="option2" class="custom-element hover:bg-purple-500 hover:duration-500 font-Poppins text-sm font-semibold">1500</label>
                    </div>
                    <div>
                        <input type="radio" id="option3" name="choice" value="option3" class="hidden">
                        <label for="option3" class="custom-element hover:bg-purple-500 hover:duration-500 font-Poppins text-sm font-semibold">3000</label>
                    </div>
                    <div>
                        <input type="radio" id="option4" name="choice" value="option4" class="hidden">
                        <label for="option4" class="custom-element hover:bg-purple-500 hover:duration-500 font-Poppins text-sm font-semibold">5000</label>
                    </div>
                </div>

                <h3 class=" text-gray-500 mt-5 ">or custom amount:</h3>
                <input type="number" class="credit-no-arrows border-2 xl:p-2 rounded-xl font-Poppins text-center" id="creditReset">
                <h3 class="text-base text-gray-500 xl:my-2">1 Credit = 1$</h3>
                <div class="flex flex-col justify-center items-center border-t border-b border-gray-300 xl:w-52 xl:py-2">
                    <h3 class="text-base text-gray-500">Total amount to pay:</h3>
                    <h3 class="text-base text-gray-500 xl:mt-4">$1000</h3>
                </div>
                <div class="flex xl:mt-5">
                    <button type="button" onclick="togglePaymentMethod()" class="text-center justify-center items-center font-Poppins mt-20 xl:mt-0 p-2 xl:p-1 kxl:p-3 kxl:text-4xl txl:text-xl xl:text:sm w-32 rounded-lg text-lg bxl:text-sm xl:text-xvs xl:w-40 xl:mr-10 text-white bg-gradient-to-r from-linearButton1 to-linearButton2 duration-500">Proceed to Payment</button>
                    <button type="reset" id="credit-reset-btn" class="font-Poppins bxl:text-sm text-xvs" onclick="uncheck()">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div id="popup-credit-payment-method" class="popup fixed bg-gray-50 xl:w-135 xl:h-120 flex-col z-10 xl:p-6 overflow-hidden">   
        <div class="flex justify-between">
            <h1 class="font-Poppins text-xl font-bold text-purple-900">Payment</h1>
            <button onclick="toggleCancelPaymentMethod()" class="fa fa-times-circle text-purple-900 text-xl xl:-mt-10 " aria-hidden="true"></button>
        </div>
        <div class="xl:mt-2">   
            <h2 class="font-Poppins font-bold text-profCol text-base">Payment Method</h2>
        </div>
        <form action="#">
            <div class="xl:mt-2 ">
                <hr>
                <div class="flex justify-center items-center xl:space-x-4 xl:mt-4">
                    <div>
                        <input type="radio" id="payment_option1" name="choice" value="payment_option1" class="hidden">
                        <label for="payment_option1" class="payment-element hover:bg-purple-500 hover:duration-500"><img src="/assets/payments/visa_icon.png" class="object-scale-down xl:w-12 xl:h-10"> </label>
                    </div>
                    <div>
                        <input type="radio" id="payment_option2" name="choice" value="payment_option2" class="hidden">
                        <label for="payment_option2" class="payment-element hover:bg-purple-500 hover:duration-500"><img src="/assets/payments/mastercard_icon.png" class="object-scale-down xl:w-16 xl:h-9"></label>
                    </div>
                    <div>
                        <input type="radio" id="payment_option3" name="choice" value="payment_option3" class="hidden">
                        <label for="payment_option3" class="payment-element hover:bg-purple-500 hover:duration-500"><img src="/assets/payments/amex_icon.png" class="object-scale-down xl:w-12 xl:h-10"></label>
                    </div>
                    <div>
                        <input type="radio" id="payment_option4" name="choice" value="payment_option4" class="hidden">
                        <label for="payment_option4" class="payment-element hover:bg-purple-500 hover:duration-500"><img src="/assets/payments/paypal_icon.png" class="object-scale-down xl:w-12 xl:h-9"></label>
                    </div>    
                </div>

                <div class="flex flex-col">
                    <label for="cardholder_name" class="font-Poppins text-sm font-semibold">Cardholder Name</label>
                    <input type="text" id="cardholder_name" name="cardholder_name" class="font-Poppins border-2 border-inputBlue rounded-xl xl:py-1 xl:px-3 ">
                
                    <div class="flex xl:space-x-8">
                        <div class="flex flex-col">
                            <label for="card_number" class="font-Poppins text-sm font-semibold">Card Number</label>
                            <input type="number" id="card_number" name="card_number" class="font-Poppins credit-no-arrows xl:w-72 border-2 border-inputBlue rounded-xl xl:py-1 xl:px-3 ">
                        </div>
                        <div class="flex xl:space-x-4">
                            <div class="flex flex-col">
                                <label for="exp_date" class="font-Poppins text-sm font-semibold">Expiry Date</label>
                                <input type="number" id="exp_date" name="exp_date" class="credit-no-arrows font-Poppins xl:w-20 border-2 border-inputBlue rounded-xl xl:py-1 xl:px-3 ">
                            </div>
                            <div class="flex flex-col">
                                <label for="card_ccv" class="font-Poppins text-sm font-semibold">CCV</label>
                                <input type="number" id="card_ccv" name="card_ccv" class="font-Poppins credit-no-arrows xl:w-20 border-2 border-inputBlue rounded-xl xl:py-1 xl:px-3 ">
                            </div>
                        </div>
                    </div>
                    <div class="flex xl:space-x-2 xl:mt-3">
                        <a href="#"><i class='fas fa-info-circle text-inputBlue'></i></a>
                        <h3 class="font-Poppins text-xvs bxl:text-sm xxl:text-2base xl:mt-1">Credit card payment may take up to 24h to proceed</h3>
                        <a href="#"><i class="fas fa-question-circle text-inputBlue"></i></a>
                    </div>
                    <label class="inline-flex items-center xl:mt-2">
                        <input type="checkbox" class="form-checkbox xl:h-3 xl:w-3 text-inputBlue" />
                        <span class="ml-2 text-xvs bxl:text-sm xxl:text-2base font-Poppins">Save my payment details for future purchases</span>
                    </label>
                    <h3 class="text-sm font-Poppins xl:mt-2 text-gray-500">Summary</h3>
                    <hr>
                    <div class="flex justify-between xl:mb-1">
                        <h3 class="text-sm font-Poppins xl:mt-2 text-gray-500">50 Credits</h3>
                        <h3 class="text-sm font-Poppins xl:mt-2 text-gray-500">$50</h3>
                    </div>
                    <hr>
                    <div class="flex justify-between">
                        <h3 class="text-sm font-Poppins xl:mt-2 text-gray-500">Total</h3>
                        <h3 class="text-sm font-Poppins xl:mt-2 text-gray-500">$50</h3>
                    </div>
                    <div class="flex items-center justify-center xl:mt-5">
                        <button type="button" onclick="toggleCreditSuccess()" class="text-center justify-center items-center font-Poppins mt-20 xl:mt-0 p-2 xl:p-1 kxl:p-3 kxl:text-4xl txl:text-xl xl:text:sm w-32 rounded-lg text-lg xl:text-xvs bxl:text-sm xl:w-40 xl:mr-10 text-white bg-gradient-to-r from-linearButton1 to-linearButton2 duration-500">Confirm Payment</button>
                        <button type="reset" id="confirmPayment_reset" class="font-Poppins bxl:text-sm text-xvs" onclick="uncheck()">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="popup-credit-add-success" class="popup flex fixed bg-gray-50 xl:w-135 xl:h-72 flex-col z-10 xl:p-6 overflow-hidden"> 
        <h1 class="text-2xl font-Poppins font-bold text-purple-800">Add Credits Successful!</h1>
        <h4 class="font-Poppins text-sm xxl:text-2base xl:mt-3 xl:mb-4">Now you can have more task and exceed your limitation!</h4>
        <h4 class="font-Poppins text-sm xxl:text-2base">An invoice will be sent into your email account to track your purchase.</h4>
        <div class=" flex items-center justify-center">
            <a href="credit.html" class="font-Poppins text-center mt-20 xl:mt-14 xxl:mt-20 p-2 xl:p-0 kxl:p-3 kxl:text-4xl txl:text-xl xl:text:sm w-full rounded-lg text-lg xl:text-sm xxl:text-2base xl:w-72 text-white bg-gradient-to-r from-linearButton1 to-linearButton2 transition-colors duration-500">Back to Dashboard</a>
        </div>
    </div>
    <script src="{% static 'portal/js/uploadImg.js' %}"></script>
    <script src="{% static 'portal/js/enableBtn.js' %}"></script>
    <script src="{% static 'portal/js/tableStng.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/js/jquery_3.7.0.js' %}"></script>
    <script type="text/javascript">
        function ProcessPayment(){
            var custom_amount = $("#custom_amount").val();
            if($.isNumeric(custom_amount)){
                $("#AddMoreCredit").modal("hide");
                $("#PaymentMethodModal").modal("show");
                $("#step2_credits").empty();
                $("#step2_credits").append(custom_amount+" Credits");
                $("#step2_Tamount").empty();
                $("#step2_Tamount").append("$"+custom_amount);
                $("#step2_SubTamount").empty();
                $("#step2_SubTamount").append("$"+custom_amount);
            }else{
                alert("Please use a proper amount!");
            }
        }
        //add computation for credits
        function ConfirmPaymentBtn(){
            var custom_amount = $("#custom_amount").val(); 
            var userId = $("#userId").val();
            jQuery.ajax({
                type: "POST",
                url: "{% url 'creditScoreAdd' %}",
                data: {
                        "csrfmiddlewaretoken": '{{ csrf_token }}',
                        "custom_amount": parseInt(custom_amount),
                        "userId": userId,
                        "credits": parseInt(custom_amount),
                    },
                async:true,
                success: function (data) {
                    if(data.status_code != 0){
                        $("#PaymentMethodModal").modal("hide");
                        $("#ConfirmPaymentModal").modal("show");
                    }else{
                        // show error msg
                    }
                    
                    
                },
                error: function (e) {
                    // $("#error_msg").append("Error! please try again later.");
                }
            })
            
        }

        function ChooseAmount(that) {
            var choosenAmount = $(that).attr("amountVal");
            $("#custom_amount").val(choosenAmount);
            $("#total_amount_to_pay").empty();
            $("#total_amount_to_pay").append("$"+choosenAmount);
        }

        function updateTotalAmount(that){
            var totalAmountValue = $(that).val();
            if($.isNumeric(totalAmountValue)){
                $("#total_amount_to_pay").empty();
                $("#total_amount_to_pay").append("$"+totalAmountValue);
            }else{
                $("#total_amount_to_pay").empty();
                $("#total_amount_to_pay").append("$0");
            }
            
        }
    </script>
</body>
</html>