{% load static %}

*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			list-style: none;
			text-decoration: none;
			font-family: arial;
		}
		body{
			background: #eee;
		}
		.wrapper{
			position: relative;
		}
		.wrapper-2{
			position: relative;
		}
		.sidebar{
			position: fixed;
			width: 15%;
			height: 100%;
			background: #ffffff;
			padding: 10px 0;
			    
		}
		.sidebar-2{
			position: fixed;
			width: 15%;
			height: 100%;
			background: #F2F2F4;
			padding: 10px 0;
			margin-left: -6%;
		}

		.wrapper-2 .sidebar-2 ul li{
			padding: 15px 0 15px 15px;	
		}

		
.wrapper-2 .sidebar-2 ul li a{
	display: block;
}
.wrapper-2 .sidebar-2 ul li a .fas{
	width: 25px!important;
}
.wrapper-2 .sidebar-2 ul li a .far{
	width: 25px!important;
}
.wrapper-2 .sidebar-2 ul li:hover{
/*	background: #311B92;*/
}
.wrapper-2 .sidebar-2 ul li a:hover{
	color: #311B92;
	text-decoration: none;
}

.company_logo{
	width: 100%;
	margin-bottom: 18%;
	margin-left: -15px;
}
.wrapper .sidebar ul li{
	padding: 15px 0 15px 15px;	
}
.wrapper .sidebar ul li a{
	color: #585858;
	display: block;
}
.wrapper .sidebar ul li a .fas{
	width: 25px!important;
}
.wrapper .sidebar ul li a .far{
	width: 25px!important;
}
.wrapper .sidebar ul li:hover{
/*	background: #311B92;*/
}
.wrapper .sidebar ul li a:hover{
	color: #311B92;
	text-decoration: none;
}
.myproject{
	margin-top: 25px;
	color: #ffffffa8;
	font-size: 14px;
	margin-bottom: 0;
}
.userProfile{
	position: absolute;
	bottom: 0;
	left: 5%;
	display: flex;
	text-align: center;

}
.userProfile a{
	width: 20px;
	color: #585858;
	text-decoration: none;
	font-size: 15px;
	margin-left: 60px;
    margin-bottom: 30px;
}
.userProfile a:hover{
	color: #311B92;
}
.userProfile p{
	color: #fff;
	padding: 0 15px 0 15px;
}
.userProfile 
.xyz,
.mnp{
	padding-top: 60%;
	line-height: 30px;
	font-size: 25px!important;
}
.notification1{
	display: flex;
}
.notification1 .number1{
	font-size: 15px;
	display: block;
    padding-left: 100px;
    color: #fff;
} 
 
.notification2{
	display: flex;
}
.notification2 .number2{
	font-size: 15px;
	display: block;
    padding-left: 85px;
    color: #fff;
   }

/*setting page*/

@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 400;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiEyp8kv8JHgFVrJJbedHFHGPezSQ.woff' %}") format('woff');
		  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
		}
		/* latin-ext */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 400;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiEyp8kv8JHgFVrJJnedHFHGPezSQ.woff' %}") format('woff');
		  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 400;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiEyp8kv8JHgFVrJJfedHFHGPc.woff' %}") format('woff');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
		/* devanagari */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 500;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLGT9Z11lE92JQEl8qw.woff' %} ") format('woff');
		  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
		}
		/* latin-ext */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 500;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLGT9Z1JlE92JQEl8qw.woff' %}") format('woff');
		  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 500;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLGT9Z1xlE92JQEk.woff' %}") format('woff');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
		/* devanagari */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 600;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLEj6Z11lE92JQEl8qw.woff' %}") format('woff');
		  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
		}
		/* latin-ext */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 600;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLEj6Z1JlE92JQEl8qw.woff' %}") format('woff');
		  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 600;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLEj6Z1xlE92JQEk.woff' %}") format('woff');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}/* devanagari */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 400;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiEyp8kv8JHgFVrJJbedHFHGPezSQ.woff' %}") format('woff');
		  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
		}
		/* latin-ext */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 400;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiEyp8kv8JHgFVrJJnedHFHGPezSQ.woff' %}") format('woff');
		  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 400;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiEyp8kv8JHgFVrJJfedHFHGPc.woff' %}") format('woff');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
		/* devanagari */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 500;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLGT9Z11lE92JQEl8qw.woff' %}") format('woff');
		  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
		}
		/* latin-ext */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 500;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLGT9Z1JlE92JQEl8qw.woff' %}") format('woff');
		  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 500;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLGT9Z1xlE92JQEk.woff' %}") format('woff');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
		/* devanagari */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 600;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLEj6Z11lE92JQEl8qw.woff' %}") format('woff');
		  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
		}
		/* latin-ext */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 600;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLEj6Z1JlE92JQEl8qw.woff' %}") format('woff');
		  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 600;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLEj6Z1xlE92JQEk.woff' %}") format('woff');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}/* devanagari */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 400;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiEyp8kv8JHgFVrJJbedHFHGPezSQ.woff' %}") format('woff');
		  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
		}
		/* latin-ext */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 400;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiEyp8kv8JHgFVrJJnedHFHGPezSQ.woff' %}") format('woff');
		  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 400;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiEyp8kv8JHgFVrJJfedHFHGPc.woff' %}") format('woff');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
		/* devanagari */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 500;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLGT9Z11lE92JQEl8qw.woff' %}") format('woff');
		  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
		}
		/* latin-ext */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 500;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLGT9Z1JlE92JQEl8qw.woff' %}") format('woff');
		  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 500;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLGT9Z1xlE92JQEk.woff' %}") format('woff');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
		/* devanagari */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 600;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLEj6Z11lE92JQEl8qw.woff' %}") format('woff');
		  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
		}
		/* latin-ext */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 600;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLEj6Z1JlE92JQEl8qw.woff' %}") format('woff');
		  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
		  font-family: 'Poppins';
		  font-style: normal;
		  font-weight: 600;
		  font-display: swap;
		  src: url("{% static 'fonts/pxiByp8kv8JHgFVrLEj6Z1xlE92JQEk.woff' %}") format('woff');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}

.edit_profile_text{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 60px;
	color: #6417A1;
}