{% extends 'admin_templates/admin_base.html' %}

{% load static %}

{% block title %} Admin Dashboard {% endblock title %}

{% block style %}
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="{% static 'portal_admin/css/admin_task_list.css' %}">

{% endblock style %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<h3 class="dashboard_welcome_greeting">Task List</h3>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2" style="border-right: 1px solid black; height: 200px;">
				<div class="input-group">
	                <input class="form-control py-2 rounded-pill mr-1 pr-5 search_task" type="search" value="" placeholder="" id="search_task">
	                <span class="input-group-append">
	                    <button class="btn rounded-pill border-0 ml-n5" type="button">
	                        <i class="fa fa-search"></i>
	                    </button>
	                </span>
	            </div>
			</div>
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-12">
						<nav>
	  						<div class="nav nav-tabs" id="nav-tab" role="tablist">
	    						<button class="nav-link active" id="nav-all-task-tab" data-bs-toggle="tab" data-bs-target="#nav-all-task" type="button" role="tab" aria-controls="nav-all-task" aria-selected="true">ALL TASK</button>
	    						<button class="nav-link" id="nav-open-tab" data-bs-toggle="tab" data-bs-target="#nav-open" type="button" role="tab" aria-controls="nav-open" aria-selected="false">OPEN</button>
	    						<button class="nav-link" id="nav-in-progress-tab" data-bs-toggle="tab" data-bs-target="#nav-in-progress" type="button" role="tab" aria-controls="nav-in-progress" aria-selected="false">IN PROGRESS</button>
	    						<button class="nav-link" id="nav-in-review-tab" data-bs-toggle="tab" data-bs-target="#nav-in-review" type="button" role="tab" aria-controls="nav-in-review" aria-selected="false">IN REVIEW</button>
	    						<button class="nav-link" id="nav-for-approval-tab" data-bs-toggle="tab" data-bs-target="#nav-for-approval" type="button" role="tab" aria-controls="nav-for-approval" aria-selected="false">FOR APPROVAL</button>
	    						<button class="nav-link" id="nav-close-tab" data-bs-toggle="tab" data-bs-target="#nav-close" type="button" role="tab" aria-controls="nav-close" aria-selected="false">CLOSED</button>
	  						</div>
						</nav>
						<div class="tab-content" id="nav-tabContent">
	  						<div class="tab-pane fade show active" id="nav-all-task" role="tabpanel" aria-labelledby="nav-all-task-tab">
	  							<br/>
	  							<ul class="list-group all_task_list scroll">
	  								{% for tasks in task_list %}
	  									<li class="list-group-item">
	  										<div class="row">
												<div class="col-sm-12" style="text-align: right;">
													<b>• • •</b>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-1">
													{% if tasks.status == "OPEN" %}
														<img class="task_list_progress_icons" src="{% static 'portal_admin/images/open_task_colored.png' %}">
													{% elif tasks.status == "IN PROGRESS" %}
														<img class="task_list_progress_icons" src="{% static 'portal_admin/images/in_progress_colored.png' %}">
													{% elif tasks.status == "IN REVIEW" %}
														<img class="task_list_progress_icons" src="{% static 'portal_admin/images/for_review_colored.png' %}">
													{% elif tasks.status == "FOR APPROVAL" %}
														<img class="task_list_progress_icons" src="{% static 'portal_admin/images/for_approval_colored.png' %}">
													{% elif tasks.status == "CLOSED" or tasks.status == "COMPLETE" %}
														<img class="task_list_progress_icons" src="{% static 'portal_admin/images/closed_task_colored.png' %}">
													{% else %}
														<img class="task_list_progress_icons" src="{% static 'portal_admin/images/open_task_colored.png' %}">
													{% endif %}
												</div>
												
												<div class="col-sm-5" style="border-right: 1px solid #C2C2C399; cursor:pointer">
													<a href="{% url 'portalAdmintaskDetails' tasks.pk  %}" style="text-decoration: none;">
														<h4 class="task_list_title">{{ tasks.title }}</h4>
														<div class="row">
															<div class="col-sm-8">
																<p class="task_list_description">{{ tasks.description }}</p>
															</div>
															<div class="col-sm-4">
																<h6 class="task_list_labels"><b>Client</b> </h6>
																{% if tasks.owner.profile_picture|length > 0 %}
																	<img src="{{ tasks.owner.profile_picture.url |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																{% else %}
																	<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																{% endif %}
																<span class="task_list_client_name">{{ tasks.owner.first_name }} {{ tasks.owner.last_name }}</span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6">
																<span class="badge bg-primary task_list_services">Design & Arts <i class="fa-solid fa-circle-xmark " style="cursor:pointer;"></i></span>
																<span class="badge bg-secondary task_list_services">Photo Editing <i class="fa-solid fa-circle-xmark " style="cursor:pointer;"></i></span>
																<span class="badge bg-warning text-dark task_list_services">Image Enhancement <i class="fa-solid fa-circle-xmark " style="cursor:pointer;"></i></span>
															</div>
														</div>
													</a>
												</div>
												
												<div class="col-sm-6">
													<div class="row">
														<div class="col-sm-12" style="text-align:right;">
															{% if tasks.status == "OPEN" %}
																<span class="badge rounded-pill bg-success" style="padding: 1% 8%;">Open</span>
															{% elif tasks.status == "IN PROGRESS" %}
																<span class="badge rounded-pill bg-info text-dark" style="padding: 1% 8%;">In Progress</span>
															{% elif tasks.status == "FOR APPROVAL" %}
																<span class="badge rounded-pill bg-warning text-dark" style="padding: 1% 8%;">For Approval</span>
															{% elif tasks.status == "IN REVIEW" %}
																<span class="badge rounded-pill bg-success" style="padding: 1% 8%;">In Review</span>
															{% elif tasks.status == "CLOSED"  or tasks.status == "COMPLETE" %}
																<span class="badge rounded-pill bg-danger" style="padding: 1% 8%;">Closed</span>
															{% else %}
																<span class="badge rounded-pill bg-success" style="padding: 1% 8%;">Open</span>
															{% endif %}
															
														</div>
													</div>
													<div class="row">
														<div class="col-sm-4 task_list_dates">
															Start Date: {{ tasks.create_date|date:"m/d/Y" }} <br/>
															End Date: {% if tasks.due_date %} {{ tasks.due_date|date:"m/d/Y" }} {% endif %}<br/>
															<span class="task_list_labels"><b>Attachments</b> </span>
														</div>
														<div class="col-sm-8">
															<h6 class="task_list_labels"><b>Participants</b> </h6>
															<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle" style="margin-top: 5px;"><br/>
															<h6 class="task_list_labels"><b>Progress</b> </h6>
															<div class="progress" style="height: 1.75rem; border-radius: 2rem">
	  															<div class="progress-bar ticket_progress_bar" role="progressbar" style='width: {{ tasks.task_percentage  }}%;' aria-valuenow="{{ tasks.task_percentage  }}" aria-valuemin="0" aria-valuemax="100">{{ tasks.task_percentage  }}%</div>
															</div><br/>
															<span class="task_list_options">View Task</span> • <span class="task_list_options">Show Attachments</span> • <span class="task_list_time_posted"> {{ tasks.create_date| timesince }} ago</span>
														</div>
													</div>
												</div>
											</div>
	  									</li><br/>
	  								{% endfor %}
								</ul>
	  						</div>
	  						<div class="tab-pane fade" id="nav-open" role="tabpanel" aria-labelledby="nav-open-tab">
	  							<br/>
	  							<ul class="list-group open_task_list scroll">
	  								{% for tasks in task_list %}
	  									{% if tasks.status == "OPEN" %}
		  									<li class="list-group-item">
		  										<div class="row">
													<div class="col-sm-12" style="text-align: right;">
														<b>• • •</b>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-1">
														<img class="task_list_progress_icons" src="{% static 'portal_admin/images/open_task_colored.png' %}">
													</div>
													<div class="col-sm-5" style="border-right: 1px solid #C2C2C399; cursor:pointer" >
														<a href="{% url 'portalAdmintaskDetails' tasks.pk  %}" style="text-decoration: none;">
															<h4 class="task_list_title">{{ tasks.title }}</h4>
															<div class="row">
																<div class="col-sm-8">
																	<p class="task_list_description">{{ tasks.description }}</p>
																</div>
																<div class="col-sm-4">
																	<h6 class="task_list_labels"><b>Client</b> </h6>
																	{% if tasks.owner.profile_picture|length > 0 %}
																		<img src="{{ tasks.owner.profile_picture.url |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																	{% else %}
																		<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																	{% endif %}
																	<span class="task_list_client_name">{{ tasks.owner.first_name }} {{ tasks.owner.last_name }}</span>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-6">
																	<span class="badge bg-primary task_list_services">Design & Arts <i class="fa-solid fa-circle-xmark " style="cursor:pointer;"></i></span>
																	<span class="badge bg-secondary task_list_services">Photo Editing <i class="fa-solid fa-circle-xmark " style="cursor:pointer;"></i></span>
																	<span class="badge bg-warning text-dark task_list_services">Image Enhancement <i class="fa-solid fa-circle-xmark " style="cursor:pointer;"></i></span>
																</div>
															</div>
														</a>
													</div>
													<div class="col-sm-6">
														<div class="row">
															<div class="col-sm-12" style="text-align:right;">
																<span class="badge rounded-pill bg-success" style="padding: 1% 8%;">Open</span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 task_list_dates">
																Start Date: {{ tasks.create_date|date:"m/d/Y" }} <br/>
																End Date: {% if tasks.due_date %} {{ tasks.due_date|date:"m/d/Y" }} {% endif %}<br/>
																<span class="task_list_labels"><b>Attachments</b> </span>
															</div>
															<div class="col-sm-8">
																<h6 class="task_list_labels"><b>Participants</b> </h6>
																<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle" style="margin-top: 5px;"><br/>
																<h6 class="task_list_labels"><b>Progress</b> </h6>
																<div class="progress" style="height: 1.75rem; border-radius: 2rem">
		  															<div class="progress-bar ticket_progress_bar" role="progressbar" style='width: {{ tasks.percentage  }}%;' aria-valuenow="{{ tasks.percentage  }}" aria-valuemin="0" aria-valuemax="100">{{ tasks.percentage  }}%</div>
																</div><br/>
																<span class="task_list_options">View Task</span> • <span class="task_list_options">Show Attachments</span> • <span class="task_list_time_posted"> {{ tasks.create_date| timesince }} ago</span>
															</div>
														</div>
													</div>
												</div>
		  									</li><br/>
		  								{% endif %}
	  								{% endfor %}
								</ul><br/>
	  						</div>
	  						<div class="tab-pane fade" id="nav-in-progress" role="tabpanel" aria-labelledby="nav-in-progress-tab">
	  							<br/>
	  							<ul class="list-group in-progress_list scroll">
	  								{% for tasks in task_list %}
	  									{% if tasks.status == "IN PROGRESS" %}
		  									<li class="list-group-item">
		  										<div class="row">
													<div class="col-sm-12" style="text-align: right;">
														<b>• • •</b>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-1">
														<img class="task_list_progress_icons" src="{% static 'portal_admin/images/in_progress_colored.png' %}">
													</div>
													<div class="col-sm-5" style="border-right: 1px solid #C2C2C399; cursor:pointer">
														<a href="{% url 'portalAdmintaskDetails' tasks.pk  %}" style="text-decoration: none;">
															<h4 class="task_list_title">{{ tasks.title }}</h4>
															<div class="row">
																<div class="col-sm-8">
																	<p class="task_list_description">{{ tasks.description }}</p>
																</div>
																<div class="col-sm-4">
																	<h6 class="task_list_labels"><b>Client</b> </h6>

																	{% if tasks.owner.profile_picture|length > 0 %}
																		<img src="{{ tasks.owner.profile_picture.url |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																	{% else %}
																		<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																	{% endif %}
																	<span class="task_list_client_name"> {{ tasks.owner.first_name }} {{ tasks.owner.last_name }}</span>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-6">
																	<span class="badge bg-primary task_list_services">Design & Arts <i class="fa-solid fa-circle-xmark " style="cursor:pointer;"></i></span>
																	<span class="badge bg-secondary task_list_services">Photo Editing <i class="fa-solid fa-circle-xmark " style="cursor:pointer;"></i></span>
																	<span class="badge bg-warning text-dark task_list_services">Image Enhancement <i class="fa-solid fa-circle-xmark " style="cursor:pointer;"></i></span>
																</div>
															</div>
														</a>
													</div>
													<div class="col-sm-6">
														<div class="row">
															<div class="col-sm-12" style="text-align:right;">
																<span class="badge rounded-pill bg-info text-dark" style="padding: 1% 8%;">In Progress</span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 task_list_dates">
																Start Date: {{ tasks.create_date|date:"m/d/Y" }} <br/>
																End Date: {% if tasks.due_date %} {{ tasks.due_date|date:"m/d/Y" }} {% endif %}<br/>
																<span class="task_list_labels"><b>Attachments</b> </span>
															</div>
															<div class="col-sm-8">
																<h6 class="task_list_labels"><b>Participants</b> </h6>
																<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle" style="margin-top: 5px;"><br/>
																<h6 class="task_list_labels"><b>Progress</b> </h6>
																<div class="progress" style="height: 1.75rem; border-radius: 2rem">
		  															<div class="progress-bar ticket_progress_bar" role="progressbar" style='width: {{ tasks.percentage  }}%;' aria-valuenow="{{ tasks.percentage  }}" aria-valuemin="0" aria-valuemax="100">{{ tasks.percentage  }}%</div>
																</div><br/>
																<span class="task_list_options">View Task</span> • <span class="task_list_options">Show Attachments</span> • <span class="task_list_time_posted"> {{ tasks.create_date| timesince }} ago</span>
															</div>
														</div>
													</div>
												</div>
		  									</li><br/>
		  								{% endif %}
	  								{% endfor %}
								</ul><br/>
	  						</div>
	  						<div class="tab-pane fade" id="nav-in-review" role="tabpanel" aria-labelledby="nav-in-review-tab">
	  							<br/>
	  							<ul class="list-group in-review_list scroll">
	  								{% for tasks in task_list %}
	  									{% if tasks.status == "IN REVIEW" %}
	  									<li class="list-group-item">
	  										<div class="row">
												<div class="col-sm-12" style="text-align: right;">
													<b>• • •</b>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-1">
													<img class="task_list_progress_icons" src="{% static 'portal_admin/images/for_review_colored.png' %}">
												</div>
												<div class="col-sm-5" style="border-right: 1px solid #C2C2C399; cursor:pointer">
													<a href="{% url 'portalAdmintaskDetails' tasks.pk  %}" style="text-decoration: none;">
														<h4 class="task_list_title">{{ tasks.title }}</h4>
														<div class="row">
															<div class="col-sm-8">
																<p class="task_list_description">{{ tasks.description }}</p>
															</div>
															<div class="col-sm-4">
																<h6 class="task_list_labels"><b>Client</b> </h6>
																{% if tasks.owner.profile_picture|length > 0 %}
																	<img src="{{ tasks.owner.profile_picture.url |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																{% else %}
																	<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																{% endif %}
																<span class="task_list_client_name">{{ tasks.owner.first_name }} {{ tasks.owner.last_name }}</span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6">
																<span class="badge bg-primary task_list_services">Design & Arts <i class="fa-solid fa-circle-xmark" style="cursor:pointer;"></i></span>
																<span class="badge bg-secondary task_list_services">Photo Editing <i class="fa-solid fa-circle-xmark" style="cursor:pointer;"></i></span>
																<span class="badge bg-warning text-dark task_list_services">Image Enhancement <i class="fa-solid fa-circle-xmark" style="cursor:pointer;"></i></span>
															</div>
														</div>
													</a>
												</div>
												<div class="col-sm-6">
													<div class="row">
														<div class="col-sm-12" style="text-align:right;">
															<span class="badge rounded-pill bg-success" style="padding: 1% 8%;">In Review</span>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-4 task_list_dates">
															Start Date: {{ tasks.create_date|date:"m/d/Y" }} <br/>
															End Date: {% if tasks.due_date %} {{ tasks.due_date|date:"m/d/Y" }} {% endif %}<br/>
															<span class="task_list_labels"><b>Attachments</b> </span>
														</div>
														<div class="col-sm-8">
															<h6 class="task_list_labels"><b>Participants</b> </h6>
															<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle" style="margin-top: 5px;"><br/>
															<h6 class="task_list_labels"><b>Progress</b> </h6>
															<div class="progress" style="height: 1.75rem; border-radius: 2rem">
	  															<div class="progress-bar ticket_progress_bar" role="progressbar" style='width: {{ tasks.percentage  }}%;' aria-valuenow="{{ tasks.percentage  }}" aria-valuemin="0" aria-valuemax="100">{{ tasks.percentage  }}%</div>
															</div><br/>
															<span class="task_list_options">View Task</span> • <span class="task_list_options">Show Attachments</span> • <span class="task_list_time_posted"> {{ tasks.create_date| timesince }} ago</span>
														</div>
													</div>
												</div>
											</div>
	  									</li><br/>
	  									{% endif %}
	  								{% endfor %}
								</ul><br/>
	  						</div>
	  						<div class="tab-pane fade" id="nav-for-approval" role="tabpanel" aria-labelledby="nav-for-approval-tab">
	  							<br/>
	  							<ul class="list-group for-approval_list scroll">
	  								{% for tasks in task_list %}
	  									{% if tasks.status == "FOR APPROVAL" %}
		  									<li class="list-group-item">
		  										<div class="row">
													<div class="col-sm-12" style="text-align: right;">
														<b>• • •</b>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-1">
														<img class="task_list_progress_icons" src="{% static 'portal_admin/images/for_approval_colored.png' %}">
													</div>
													<div class="col-sm-5" style="border-right: 1px solid #C2C2C399; cursor:pointer">
														<a href="{% url 'portalAdmintaskDetails' tasks.pk  %}" style="text-decoration: none;">
															<h4 class="task_list_title">{{ tasks.title }}</h4>
															<div class="row">
																<div class="col-sm-8">
																	<p class="task_list_description">{{ tasks.description }}</p>
																</div>
																<div class="col-sm-4">
																	<h6 class="task_list_labels"><b>Client</b> </h6>
																	{% if tasks.owner.profile_picture|length > 0 %}
																		<img src="{{ tasks.owner.profile_picture.url |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																	{% else %}
																		<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																	{% endif %}
																	<span class="task_list_client_name">{{ tasks.owner.first_name }} {{ tasks.owner.last_name }}</span>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-6">
																	<span class="badge bg-primary task_list_services">Design & Arts <i class="fa-solid fa-circle-xmark" style="cursor:pointer;"></i></span>
																	<span class="badge bg-secondary task_list_services">Photo Editing <i class="fa-solid fa-circle-xmark" style="cursor:pointer;"></i></span>
																	<span class="badge bg-warning text-dark task_list_services">Image Enhancement <i class="fa-solid fa-circle-xmark" style="cursor:pointer;"></i></span>
																</div>
															</div>
														</a>
													</div>
													<div class="col-sm-6">
														<div class="row">
															<div class="col-sm-12" style="text-align:right;">
																<span class="badge rounded-pill bg-warning text-dark" style="padding: 1% 8%;">For Approval</span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4 task_list_dates">
																Start Date: {{ tasks.create_date|date:"m/d/Y" }} <br/>
																End Date: {% if tasks.due_date %} {{ tasks.due_date|date:"m/d/Y" }} {% endif %}<br/>
																<span class="task_list_labels"><b>Attachments</b> </span>
															</div>
															<div class="col-sm-8">
																<h6 class="task_list_labels"><b>Participants</b> </h6>
																<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle" style="margin-top: 5px;"><br/>
																<h6 class="task_list_labels"><b>Progress</b> </h6>
																<div class="progress" style="height: 1.75rem; border-radius: 2rem">
		  															<div class="progress-bar ticket_progress_bar" role="progressbar" style='width: {{ tasks.percentage  }}%;' aria-valuenow="{{ tasks.percentage  }}" aria-valuemin="0" aria-valuemax="100">{{ tasks.percentage  }}%</div>
																</div><br/>
																<span class="task_list_options">View Task</span> • <span class="task_list_options">Show Attachments</span> • <span class="task_list_time_posted"> {{ tasks.create_date| timesince }} ago</span>
															</div>
														</div>
													</div>
												</div>
		  									</li><br/>
		  								{% endif %}
	  								{% endfor %}
								</ul><br/>
	  						</div>
	  						<div class="tab-pane fade" id="nav-close" role="tabpanel" aria-labelledby="nav-close-tab">
	  							<br/>
	  							<ul class="list-group close_ticket_list scroll">
	  								{% for tasks in task_list %}
	  									{% if tasks.status == "COMPLETE" or tasks.status == "CLOSED" %}
	  									<li class="list-group-item">
	  										<div class="row">
												<div class="col-sm-12" style="text-align: right;">
													<b>• • •</b>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-1">
													<img class="task_list_progress_icons" src="{% static 'portal_admin/images/closed_task_colored.png' %}">
												</div>
												<div class="col-sm-5" style="border-right: 1px solid #C2C2C399; cursor:pointer">
													<a href="{% url 'portalAdmintaskDetails' tasks.pk  %}" style="text-decoration: none;">
														<h4 class="task_list_title">{{ tasks.title }}</h4>
														<div class="row">
															<div class="col-sm-8">
																<p class="task_list_description">{{ tasks.description }}</p>
															</div>
															<div class="col-sm-4">
																<h6 class="task_list_labels"><b>Client</b> </h6>
																{% if tasks.owner.profile_picture|length > 0 %}
																	<img src="{{ tasks.owner.profile_picture.url |default_if_none:'#' }}" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																{% else %}
																	<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle task_list_client_pic">
																{% endif %}
																<span class="task_list_client_name">{{ tasks.owner.first_name }} {{ tasks.owner.last_name }}</span>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6">
																<span class="badge bg-primary task_list_services">Design & Arts <i class="fa-solid fa-circle-xmark" style="cursor:pointer;"></i></span>
																<span class="badge bg-secondary task_list_services">Photo Editing <i class="fa-solid fa-circle-xmark" style="cursor:pointer;"></i></span>
																<span class="badge bg-warning text-dark task_list_services">Image Enhancement <i class="fa-solid fa-circle-xmark" style="cursor:pointer;"></i></span>
															</div>
														</div>
													</a>
												</div>
												<div class="col-sm-6">
													<div class="row">
														<div class="col-sm-12" style="text-align:right;">
															<span class="badge rounded-pill bg-danger" style="padding: 1% 8%;">Closed</span>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-4 task_list_dates">
															Start Date: {{ tasks.create_date|date:"m/d/Y" }} <br/>
															End Date: {% if tasks.due_date %} {{ tasks.due_date|date:"m/d/Y" }} {% endif %}<br/>
															<span class="task_list_labels"><b>Attachments</b> </span>
														</div>
														<div class="col-sm-8">
															<h6 class="task_list_labels"><b>Participants</b> </h6>
															<img src="https://github.com/mdo.png" alt="mdo" width="35" height="35" class="rounded-circle" style="margin-top: 5px;"><br/>
															<h6 class="task_list_labels"><b>Progress</b> </h6>
															<div class="progress" style="height: 1.75rem; border-radius: 2rem">
	  															<div class="progress-bar ticket_progress_bar" role="progressbar" style='width: {{ tasks.percentage  }}%;' aria-valuenow="{{ tasks.percentage  }}" aria-valuemin="0" aria-valuemax="100">{{ tasks.percentage  }}%</div>
															</div><br/>
															<span class="task_list_options">View Task</span> • <span class="task_list_options">Show Attachments</span> • <span class="task_list_time_posted"> {{ tasks.create_date| timesince }} ago</span>
														</div>
													</div>
												</div>
											</div>
	  									</li><br/>
	  									{% endif %}
	  								{% endfor %}
								</ul><br/>
	  						</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" name="site_url" id="site_url" value="{{ base_url }}">
{% endblock %}

{% block script %}
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			
		})

		// function taskDetail(that){
		// 	var task_id = $(that).attr("task_id");
		// 	var site_url = $("#site_url").val();
		// 	window.location.replace(site_url+"/portal/admin/task_detailed/"+task_id);
		// }
	</script>
{% endblock %}