{% load static %}
<nav class=" max-w-full relative container mx-auto p-1 pt-4 items-stretch">
    <!-- Flex Container -->
    <div class="flex items-center justify-between">
        <!-- Logo -->
        <div class="pt-2 ml-16">
            <a href="{% url 'LandingPage' %}">
            	<img src="{% static 'landingpage/images/viking_white_logo_cut.png' %}" alt="Viking Asset Management Logo" href="{% url 'LandingPage' %}">
            </a>
        </div>
        <!-- Items-->
        <div class="hidden md:flex space-x-14 text-white font-Jost">
            {% if request.path == '/' %}
                <a href="{% url 'LandingPage' %}" class="hover:text-yellow-300 text-highlightColor">Home</a>
            {% else %}
                <a href="{% url 'LandingPage' %}" class="hover:text-yellow-300">Home</a>
            {% endif %}
            
            {% if request.path == '/pricing' %}
                <a href="{% url 'PricingPage' %}" class="hover:text-yellow-300 text-highlightColor">Pricing</a>
            {% else %}
                <a href="{% url 'PricingPage' %}" class="hover:text-yellow-300">Pricing</a>
            {% endif %}
            
            {% if request.path == '/FAQs' %}
                <a href="{% url 'FAQs' %}" class="hover:text-yellow-300 text-highlightColor">FAQs</a>
            {% else %}
                <a href="{% url 'FAQs' %}" class="hover:text-yellow-300">FAQs</a>
            {% endif %}
            {% if request.path == '/services' %}
                <a href="{% url 'LandingServicesPage' %}" class="hover:text-yellow-300 text-highlightColor">Services</a>
            {% else %}
                <a href="{% url 'LandingServicesPage' %}" class="hover:text-yellow-300">Services</a>
            {% endif %}
            
        </div>
        <!-- Button -->
        <a href="{% url 'accountLogin' %}" class="font-Jost hidden lg:block p-1 px-5 mr-24 md:space-x-10 text-black rounded-full baseline bg-white hover:bg-purpleWhite transition-all duration-500">
        	<b>Sign Up</b>
        </a>
    </div>
</nav>