{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landingpage/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/css/splide.min.css">
    <title>Home Page | Viking Asset Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-current" style="background-image: url({% static 'landingpage/images/bg_img.png' %} )">
    <!-- To Up Button -->
    <a href="#" id="toTop" hidden class="fas fa-arrow-up bg-white rounded-3xl fixed w-10 h-10 bottom-14 right-10 text-center p-3 hover:text-white hover:bg-black duration-500">
    </a>
    <!-- Navbar -->
    {% include 'landing_page_nav_bar.html' %}
    <!-- Hero Section -->
    <!-- Flex Container-->
    <br><br><br><br>
    <div class="lg:text-center xl:text-center sm:mx-5">
        <p class="font-SecularOne  sm:text-6xl md:text-5xl lg:text-6xl xl:text-7xl bg-clip-text text-transparent text-white">WELCOME TO OUR</p>
        <h1 class="font-SecularOne sm:text-6xl md:text-5xl lg:text-6xl xl:text-7xl font-bold uppercase bg-clip-text  text-endUnderLine ">Universe</h1>
        <br>
        <p class="text-white font-Jost">
            Providing a broad range of services and solutions in creative design, writing, marketing, and business operations.
        </p>
        <br><br>
        <a href="{% url 'portalDashboard' %}" class="p-3 px-6 pt-2 mr-1 font-Jost text-white rounded-full  bg-purpleWhite hover:bg-white hover:text-black duration-500">Get Started</a>
        <a href="{% url 'accountLogin' %}" class="p-3 px-12 pt-2 mr-5 font-Jost text-white rounded-full border hover:bg-purpleWhite transition-all duration-500">Log In</a>
        <h1 class="text-white text-sm font-Poppins xl:mt-28 lg:mt-28 md:mt-36 sm:mt-24 sm:text-xl sm:text-center">
            <b>Why us?</b>
        </h1>
        <p class="text-white text-sm font-Poppins sm:mx-4 md:mx-4 lg:mx-14 sm:mt-24 sm:text-center xl:mt-2 xl:text-base">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
    </div><br><br><br><br>

    <!-- Benefits Page -->
    <div class="mx-6 text-center font-Poppins">
        <p class="text-white xl:text-4xl sm:text-2xl"><b>Your benefits</b></p>
        <div class="relative">
            <hr class="xl:w-105 sm:w-60 absolute h-0.5 border-0 xl:left-96 sm:left-9 bg-gradient-to-r from-transparent rounded-xl to-endUnderLine transform  -translate-y-1/2">
        </div><br>
        <p class="text-white text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p class="text-white text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div><br><br>
    <!-- Web View Benefits Page -->
    <div class="sm:hidden xl:flex xl:items-center xl:justify-center xl:mx-16 font-Poppins">
        <div class="text-white bg-gradient-to-t from-darkContent to-lightContent px-7 py-8 w-96 h-60 rounded-lg">
            <h1><b><center>Content</center></b></h1><br><br>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="text-white bg-gradient-to-t from-darkContent to-lightContent px-7 py-8 w-96 h-60 ml-16 mr-16 rounded-lg">
            <h1><b><center>Content</center></b></h1><br><br>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="text-white bg-gradient-to-t from-darkContent to-lightContent px-7 py-8 w-96 h-60 rounded-lg">
            <h1><b><center>Content</center></b></h1><br><br>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
    </div>
    <!-- Mobile View Benefits Page -->
    <div class="xl:hidden container mx-auto sm:h-80 xl:h-105 xl:mb-0 ">
        <section class="splide" id="second-slider">
            <div class="splide__arrows">
                <button class="bg-white splide__arrow splide__arrow--prev">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-black">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                    </svg>
                </button>
                <button class="bg-pricingColor splide__arrow splide__arrow--next">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6  text-black">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                    </svg>
                </button>
            </div>
            <div class="splide__track sm:h-80">
                <div class="splide__list gap-x-0 sm:gap-x-2 xl:gap-x-0">
                    <div class="w-full p-4 shadow splide__slide text-white">
                        <div class="text-white bg-gradient-to-t from-darkContent to-lightContent ml-10 px-7 py-8 w-72 h-60 rounded-lg">
                            <h1><b><center>Content 1</center></b></h1><br><br>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                    <div class="w-full p-4 shadow splide__slide text-white">
                        <div class="text-white bg-gradient-to-t from-darkContent to-lightContent ml-8 px-7 py-8 w-72 h-60 rounded-lg">
                            <h1><b><center>Content 2</center></b></h1><br><br>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div> 
                    </div>
                    <div class="w-full p-4 shadow splide__slide text-white">
                        <div class="text-white bg-gradient-to-t from-darkContent to-lightContent ml-8 px-7 py-8 w-72 h-60 rounded-lg">
                            <h1><b><center>Content 3</center></b></h1><br><br>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>   
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Mobile View Benefits Page -->
    <br><br><br><br><br><br><br><br><br><br>
    
    <video autoplay muted loop id="myVideo">
        <source src="{% static 'landingpage/images/bg_img.mp4' %}" type="video/mp4">
    </video>
    <!-- How does it work -->
    <div class="mx-6 text-center font-Poppins">
        <p class="text-white xl:text-4xl sm:text-2xl"><b>How does it work?</b></p>
        <div class="relative">
            <hr class="xl:w-105 sm:w-60 absolute h-0.5 border-0 xl:left-96 sm:left-14 bg-gradient-to-r from-transparent rounded-xl to-endUnderLine transform  -translate-y-1/2">
        </div><br><br><br><br><br><br>
        <center>
            <!-- <video src="{% static 'landingpage/images/bg_img.mp4' %}" muted loop autoplay class="xl:w-3/5 sm:w-4/5"></video> -->
        </center><br><br><br>
    </div>

    <!-- Core Services -->
    <div class="mx-6 text-center font-Poppins">
        <p class="text-white xl:text-4xl sm:text-2xl"><b>Our Core Services</b></p>
    </div>
    <div class="relative">
        <hr class="xl:w-115 sm:w-72 absolute h-0.5 border-0 xl:left-96 sm:left-10 bg-gradient-to-r from-transparent rounded-xl to-endUnderLine transform  -translate-y-1/2">
    </div><br>
    <div class="xl:hidden">
        <!-- Mobile View Core Services Page -->
        <div class="container mx-auto sm:h-80 xl:h-105 xl:mb-0 ">
            <section class="splide" id="third-slider">
                <div class="splide__arrows">
                    <button class="bg-white splide__arrow splide__arrow--prev">
                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-black">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                        </svg>
                    </button>
                    <button class="bg-pricingColor splide__arrow splide__arrow--next">
                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6  text-black">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                        </svg>
                    </button>
                </div>
                <div class="splide__track sm:h-96">
                    <div class="splide__list gap-x-0 sm:gap-x-2 xl:gap-x-0">
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="text-white w-60  bg-coreServiceBG sm:ml-14 m-4 py-6 rounded-lg xl:relative text-center">
                                <center>
                                    <img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16">
                                </center><br>
                                <h1>Design and Arts</h1><br>
                                <p class="mb-10">Content Writing Needs to be done</p>
                                <a href="#" class="p-3 mx-10 mt-6 xl:absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-black">Read More</a>
                            </div>
                        </div>
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="text-white w-60  bg-coreServiceBG sm:ml-14 m-4 py-6 rounded-lg xl:relative text-center">
                                <center>
                                    <img src="{% static 'landingpage/images/icons/Group 21.png' %}" class="object-cover h-15 w-16">
                                </center><br>
                                <h1>Design and Arts</h1><br>
                                <p class="mb-10">Content Writing Needs to be done</p>
                                <a href="#" class="p-3 mx-10 mt-6 xl:absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-black">Read More</a>
                            </div>
                        </div>
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="text-white w-60  bg-coreServiceBG sm:ml-14 m-4 py-6 rounded-lg xl:relative text-center">
                                <center>
                                    <img src="{% static 'landingpage/images/icons/Group 22.png' %}" class="object-cover h-15 w-16">
                                </center><br>
                                <h1>Design and Arts</h1><br>
                                <p class="mb-10">Content Writing Needs to be done</p>
                                <a href="#" class="p-3 mx-10 mt-6 xl:absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-black">Read More</a>
                            </div>
                        </div>
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="text-white w-60  bg-coreServiceBG sm:ml-14 m-4 py-6 rounded-lg xl:relative text-center">
                                <center>
                                    <img src="{% static 'landingpage/images/icons/Component 19.png' %}" class="object-cover h-15 w-16">
                                </center><br>
                                <h1>Design and Arts</h1><br>
                                <p class="mb-10">Content Writing Needs to be done</p>
                                <a href="#" class="p-3 mx-10 mt-6 xl:absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-black">Read More</a>
                            </div>
                        </div>
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="text-white w-60  bg-coreServiceBG sm:ml-14 m-4 py-6 rounded-lg xl:relative text-center">
                                <center>
                                    <img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16">
                                </center><br>
                                <h1>Design and Arts</h1><br>
                                <p class="mb-10">Content Writing Needs to be done</p>
                                <a href="#" class="p-3 mx-10 mt-6 xl:absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-black">Read More</a>
                            </div>
                        </div>
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="text-white w-60  bg-coreServiceBG sm:ml-14 m-4 py-6 rounded-lg xl:relative text-center">
                                <center>
                                    <img src="{% static 'landingpage/images/icons/Group 21.png' %}" class="object-cover h-15 w-16">
                                </center><br>
                                <h1>Design and Arts</h1><br>
                                <p class="mb-10">Content Writing Needs to be done</p>
                                <a href="#" class="p-3 mx-10 mt-6 xl:absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-black">Read More</a>
                            </div>
                        </div>
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="text-white w-60  bg-coreServiceBG sm:ml-14 m-4 py-6 rounded-lg xl:relative text-center">
                                <center>
                                    <img src="{% static 'landingpage/images/icons/Group 22.png' %}" class="object-cover h-15 w-16">
                                </center><br>
                                <h1>Design and Arts</h1><br>
                                <p class="mb-10">Content Writing Needs to be done</p>
                                <a href="#" class="p-3 mx-10 mt-6 xl:absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-black">Read More</a>
                            </div>
                        </div>
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="text-white w-60  bg-coreServiceBG sm:ml-14 m-4 py-6 rounded-lg xl:relative text-center">
                                <center>
                                    <img src="{% static 'landingpage/images/icons/Component 19.png' %}" class="object-cover h-15 w-16">
                                </center><br>
                                <h1>Design and Arts</h1><br>
                                <p class="mb-10">Content Writing Needs to be done</p>
                                <a href="#" class="p-3 mx-10 mt-6 xl:absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-black">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Mobile View Core Services Page -->
    <div class="sm:hidden xl:grid xl:grid-cols-4 xl:mx-40 font-Poppins">
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center>
                <img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16">
            </center><br>
            <center>
                <h1>Design and Arts</h1>
            </center><br>
            <center>
                <p class="mb-10">Content Writing Needs to be done</p>
            </center>
            <a href="#" class="p-3 mx-10 mt-6 absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-black">Read More</a>
        </div>
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center>
                <img src="{% static 'landingpage/images/icons/Group 21.png' %}" class="object-cover h-15 w-16">
            </center><br>
            <center>
                <h1>Digital Marketing</h1><br>
            </center>
            <center>
                <p class="mb-10">Content Writing Needs to be done</p>
            </center>
            <a href="#" class="p-3 mx-10 mt-6 absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Read More</a>
        </div>

        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center>
                <img src="{% static 'landingpage/images/icons/Group 22.png' %}" class="object-cover h-15 w-16">
            </center><br>
            <center>
                <h1>Writing and Translation</h1><br>
            </center>
            <center>
                <p class="mb-10">Content Writing Needs to be done</p>
            </center>
            <a href="#" class="p-3 mx-10 absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Read More</a>
        </div>

        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center>
                <img src="{% static 'landingpage/images/icons/Component 19.png' %}" class="object-cover h-15 w-16">
            </center><br>
            <center>
                <h1>Development and IT</h1><br>
            </center>
            <center>
                <p class="mb-10">Content Writing Needs to be done</p>
            </center>
            <a href="#" class="p-3 mx-10 mt-6 absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Read More</a>
        </div>
    </div><br><br>

    <div class="sm:hidden xl:grid xl:grid-cols-4 xl:mx-40 xl:mb-20 font-Poppins">
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center>
                <img src="{% static 'landingpage/images/icons/mdi_puzzle.png' %}" class="object-cover h-15 w-16">
            </center><br>
            <center>
                <h1>Design and Arts</h1>
            </center><br>
            <center>
                <p class="mb-10">Content Writing Needs to be done</p>
            </center>
            <a href="#" class="p-3 mx-10 mt-6 absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Read More</a>
        </div>
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center>
                <img src="{% static 'landingpage/images/icons/Group 21.png' %}" class="object-cover h-15 w-16">
            </center><br>
            <center>
                <h1>Digital Marketing</h1><br>
            </center>
            <center>
                <p class="mb-10 ">Content Writing Needs to be done</p>
            </center>
            <a href="#" class="p-3 mx-10 mt-6 absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Read More</a>
        </div>
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center>
                <img src="{% static 'landingpage/images/icons/Group 22.png' %}" class="object-cover h-15 w-16">
            </center><br>
            <center>
                <h1>Writing and Translation</h1><br>
            </center>
            <center>
                <p class="mb-10">Content Writing Needs to be done</p>
            </center>
            <a href="#" class="p-3 mx-10 absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Read More</a>
        </div>
        <div class="text-white bg-coreServiceBG m-4 px-6 py-6 rounded-lg relative">
            <center>
                <img src="{% static 'landingpage/images/icons/Component 19.png' %}" class="object-cover h-15 w-16">
            </center><br>
            <center>
                <h1>Development and IT</h1><br>
            </center>
            <center>
                <p class="mb-10">Content Writing Needs to be done</p>
            </center>
            <a href="#" class="p-3 mx-10 mt-6 absolute text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Read More</a>
        </div>
    </div><br><br>

    <!-- OUR PRICING -->
    <div class="mx-6 font-Poppins sm:mt-20">
        <center>
            <p class="text-white xl:text-4xl sm:text-2xl">Our Pricing</p>
        </center>
        <div class="relative">
            <hr class="xl:w-96 sm:w-56 absolute h-0.5 border-0 xl:left-96 sm:left-8 bg-gradient-to-r from-transparent rounded-xl to-endUnderLine transform  -translate-y-1/2">
        </div>
        <div class="xl:hidden">
            <!-- Mobile View Core Pricing Page -->
            <div class="container mx-auto sm:h-80 xl:h-105 xl:mb-0 sm:mb-28 ">
                <section class="splide" id="fourth-slider">
                    <div class="splide__arrows">
                        <button class="bg-white splide__arrow splide__arrow--prev">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-black">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                            </svg>
                        </button>
                        <button class="bg-pricingColor splide__arrow splide__arrow--next">
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6  text-black">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                            </svg>
                        </button>
                    </div>
                    <div class="splide__track sm:h-105">
                        <div class="splide__list gap-x-0 sm:gap-x-2 xl:gap-x-0">
                            <div class="w-full p-4 shadow splide__slide text-white">
                                <div class="w-60 text-white bg-gradient-to-r from-pricingSTBG to-pricingEDBG ml-12 px-6 py-6 rounded-lg ">
                                    <h1>Drottin</h1>
                                    <p>
                                        <b class="text-pricingColor text-2xl">$1000</b>
                                        <span class="text-pricingMonth"> /month</span>
                                    </p>
                                    <p class="text-sm">Plan description need to be written</p><br>
                                    <div class="text-center">
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                    </div><br>
                                    <a href="#" class="p-2 pt-2 mx-8 text-white  rounded-lg bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Get Started</a>
                                </div>
                            </div>
                            <div class="w-full p-4 shadow splide__slide text-white">
                                <div class="w-60 text-white bg-gradient-to-r from-pricingSTBG to-pricingEDBG ml-10 px-6 py-6 rounded-lg ">
                                    <h1>Hersis</h1>
                                    <p><b class="text-pricingColor text-2xl">$1000</b><span class="text-pricingMonth"> /month</span></p>
                                    <p class="text-sm">Plan description need to be written</p><br>
                                    <div class="text-center">
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                    </div><br>
                                    <a href="#" class="p-2 pt-2 mx-8 text-white  rounded-lg bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Get Started</a>
                                </div>
                            </div>
                            <div class="w-full p-4 shadow splide__slide text-white">
                                <div class="w-60 text-white bg-gradient-to-r from-pricingSTBG to-pricingEDBG ml-10 px-6 py-6 rounded-lg ">
                                    <h1>Jarl</h1>
                                    <p><b class="text-pricingColor text-2xl">$1000</b><span class="text-pricingMonth"> /month</span></p>
                                    <p class="text-sm">Plan description need to be written</p><br>
                                    <div class="text-center">
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                    </div><br>
                                    <a href="#" class="p-2 pt-2 mx-8 text-white  rounded-lg bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Get Started</a>
                                </div>
                            </div>
                            <div class="w-full p-4 shadow splide__slide text-white">
                                <div class="w-60 text-white bg-gradient-to-r from-pricingSTBG to-pricingEDBG ml-10 px-6 py-6 rounded-lg ">
                                    <h1>Knongur</h1>
                                    <p><b class="text-pricingColor text-2xl">$1000</b><span class="text-pricingMonth"> /month</span></p>
                                    <p class="text-sm">Plan description need to be written</p><br>
                                    <div class="text-center">
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                        <li>Plan description</li>
                                    </div><br>
                                    <a href="#" class="p-2 pt-2 mx-8 text-white  rounded-lg bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- Mobile View Core Services Page -->
    <div class="sm:hidden xl:grid xl:grid-cols-4 xl:mx-20 mt-5">
        <div class="text-white bg-gradient-to-r from-pricingSTBG to-pricingEDBG m-4 px-6 py-6 rounded-lg ">      
            <h1>Drottin</h1>
            <p><b class="text-pricingColor text-2xl">$1000</b><span class="text-pricingMonth"> /month</span></p>
            <p class="text-sm">Plan description need to be written</p><br>    
            <div class="text-center">
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
            </div><br>
            <a href="#" class="p-2 px-6 pt-2 mx-8 text-white  rounded-lg bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Get Started</a>
        </div>
        <div class="text-white bg-gradient-to-r from-pricingSTBG to-pricingEDBG m-4 px-6 py-6 rounded-lg ">
            <h1>Hersis</h1>
            <p><b class="text-pricingColor text-2xl">$1000</b><span class="text-pricingMonth"> /month</span></p>
            <p class="text-sm">Plan description need to be written</p><br>    
            <div class="text-center">
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
            </div><br>
            <a href="#" class="p-2 px-6 pt-2 mx-8 text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Get Started</a>
        </div>
        <div class="text-white bg-gradient-to-r from-pricingSTBG to-pricingEDBG m-4 px-6 py-6 rounded-lg ">      
            <h1>Jarl</h1>
            <p><b class="text-pricingColor text-2xl">$1000</b><span class="text-pricingMonth"> /month</span></p>
            <p class="text-sm">Plan description need to be written</p><br>
            <div class="text-center">
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
            </div><br>
            <a href="#" class="p-2 px-6 pt-2 mx-8 text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Get Started</a>
        </div>
        <div class="text-white bg-gradient-to-r from-pricingSTBG to-pricingEDBG m-4 px-6 py-6 rounded-lg ">
            <h1>Konungr</h1>
            <p><b class="text-pricingColor text-2xl">$1000</b><span class="text-pricingMonth"> /month</span></p>
            <p class="text-sm">Plan description need to be written</p><br>
            <div class="text-center">
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
                <li>Plan description</li>
            </div><br>
            <a href="#" class="p-2 px-6 pt-2 mx-8 text-white rounded-lg baseline bg-gradient-to-r from-readMoreSTBG to-readMoreEDBG hover:bg-blue-600">Get Started</a>
        </div>
    </div><br><br><br>
    <!-- LATEST FROM US -->

    <div class="mx-6 font-Poppins">
        <p class="text-white text-center xl:text-4xl sm:text-2xl">Latest from Us<p>
        <div class="relative sm:mb-0">
            <hr class="xl:w-107 sm:w-60 absolute h-0.5 border-0 xl:left-96 sm:left-10 bg-gradient-to-r from-transparent rounded-xl to-endUnderLine transform  -translate-y-1/2">
        </div>
        <div class="container mx-auto sm:h-80 xl:h-105 sm:mb-38 xl:mb-0">
            <section class="splide" id="first-slider">
                <div class="splide__arrows">
                    <button class="bg-white splide__arrow splide__arrow--prev">
                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-black">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                        </svg>
                    </button>
                    <button class="bg-pricingColor splide__arrow splide__arrow--next">
                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6  text-black">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                        </svg>
                    </button>
                </div>

                <div class="splide__track sm:h-120">
                    <div class="splide__list gap-x-0 sm:gap-x-2 xl:gap-x-0">
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="">
                                <div class="xl:flex xl:justify-start ">
                                    <div class="xl:ml-10 xl:w-full rounded-lg">
                                        <img src="../assets/slider_img.png" class="xl:object-contain xl:h-105 xl:w-130 sm:object-contain sm:h-72 sm:w-80 ">
                                    </div>
                                    <div class="xl:mr-44 xl:ml-10">
                                        <p class="xl:mt-16 sm:text-lg">
                                            <b>Our in house Dashboard </b>
                                        </p>
                                        <p class="sm:text-sm xl:text-lg">
                                            <br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="">
                                <div class="xl:flex xl:justify-start ">
                                    <div class="xl:ml-10 xl:w-full rounded-lg">
                                        <img src="../assets/slider_img.png" class="xl:object-contain xl:h-105 xl:w-130 sm:object-contain sm:h-72 sm:w-80 ">
                                    </div>
                                    <div class="xl:mr-44 xl:ml-10">
                                        <p class="xl:mt-16 sm:text-lg">
                                            <b>Our in house Dashboard </b>
                                        </p>
                                        <p class="sm:text-sm xl:text-lg">
                                            <br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="">
                                <div class="xl:flex xl:justify-start ">
                                    <div class="xl:ml-10 xl:w-full rounded-lg">
                                        <img src="../assets/slider_img.png" class="xl:object-contain xl:h-105 xl:w-130 sm:object-contain sm:h-72 sm:w-80 ">
                                    </div>
                                    <div class="xl:mr-44 xl:ml-10">
                                        <p class="xl:mt-16 sm:text-lg">
                                            <b>Our in house Dashboard </b>
                                        </p>
                                        <p class="sm:text-sm xl:text-lg">
                                            <br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full p-4 shadow splide__slide text-white">
                            <div class="">
                                <div class="xl:flex xl:justify-start ">
                                    <div class="xl:ml-10 xl:w-full rounded-lg">
                                        <img src="../assets/slider_img.png" class="xl:object-contain xl:h-105 xl:w-130 sm:object-contain sm:h-72 sm:w-80 ">
                                    </div>
                                    <div class="xl:mr-44 xl:ml-10">
                                        <p class="xl:mt-16 sm:text-lg">
                                            <b>Our in house Dashboard </b>
                                        </p>
                                        <p class="sm:text-sm xl:text-lg">
                                            <br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>   
    </div><br>
    <div class="xl:mx-6 xl:mb-20  sm:mt-36 font-Poppins">
        <p class="text-FAQsCol text-center xl:text-2xl sm:text-xl">FAQs</p>
        <p class="text-white text-center xl:text-4xl sm:text-3xl">Frequently Asked Questions</p>
        <div class="relative">
            <hr class="xl:w-135 sm:w-80 absolute h-0.5 border-0 xl:left-96 sm:left-6 bg-gradient-to-r from-transparent rounded-xl to-endUnderLine transform  -translate-y-1/2">
        </div><br>
        <div class="text-center sm:mx-8">
            <div class="xl:flex xl:justify-between xl:mx-20">
                <div class="text-white pt-8 xl:mx-10">
                    <h1><b>What is a service subscription plan?</b></h1><br>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
                <div class="text-white pt-8 xl:mx-20">
                    <h1><b>What are the payment methods?</b></h1><br>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            <div class="xl:flex xl:justify-between xl:mx-20">
                <div class="text-white pt-8 xl:mx-20">
                    <h1><b>What is included in my service subscription plan?</b></h1><br>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
                <div class="text-white pt-8 xl:mx-20">
                    <h1><b>How does monthly recurring payment work? amet amet</b></h1><br>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet amet amet amet amet</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'landing_page_footer.html' %}
    <br><br>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/js/splide.min.js"></script>
    <script src="{% static 'landingpage/js/index.js' %}"></script>
    <script>
        var splide = new Splide('.splide', {
          type: 'loop',
          autoplay: false,
        });
        new Splide("#first-slider").mount();
        new Splide("#second-slider").mount();
        new Splide("#third-slider").mount();
        new Splide("#fourth-slider").mount();
    </script>
</body>
</html>